<%= turbo_frame_tag "upgrade" do %>
  <div class="page-head">
    <%= form_with url: upgrade_checkout_path, method: :get, data: { controller: "form--submit", turbo_stream: true }, class: "pricing-period-toggle" do |f| %>
      <% @available_variant_days.each do |days| %>
        <% selected = days == @selected_days %>
        <%= tag.label class: "hide_radio_buttons" do %>
          <%= f.radio_button :days, days, checked: selected, data: { action: "change->form--submit#submit" } %>
          <span><%= t("subscriptions.variant_#{days}_days") %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="pricing pricing--checkout">
    <div class="checkout-selected-plan">
      <%= render partial: "upgrades/plan_cards/#{@plan_name.gsub('_research', '')}", locals: {
        plan_name: @plan_name,
        reference_payment_option: @reference_payment_option,
        reference_duration: @reference_duration,
        payment_option: @payment,
        path: upgrade_checkout_path, # only used in mini & standard plan cards
        mini_research_enabled: @mini_research_enabled, # only used in mini plan card
        standard_research_enabled: @standard_research_enabled, # only used in standard plan card
        legendary_plan: @legendary_plan, # only used in legendary plan card
        checkout: true,
      } %>
    </div>
    <div class="pricing__checkout">
      <%= render partial: "upgrade/checkouts/summary", locals: {
        payment: @payment,
        reference_duration: @reference_duration
      } %>
      <%= render partial: "upgrade/checkouts/billing_form", locals: { payment: @payment, name_pattern: @name_pattern } %>
    </div>
  </div>
<% end %>
