<div id="metrics" style="display: flex; flex-direction: column; gap: 1rem;">
  <div class="widget data-grid data-grid--two-columns">
    <%= render partial: "bots/metrics/metrics_item", locals: {
      label: t('data_labels.invested'),
      value: metrics[:total_quote_amount_invested].round(bot.decimals[:quote])
    } %>
    <%= render partial: "bots/metrics/metrics_item", locals: {
      label: t('data_labels.portfolio_value'),
      value: metrics[:total_amount_value_in_quote].round(bot.decimals[:quote])
    } %>
  </div>

  <%# Check if data is available to display the table %>
  <% if metrics[:total_quote_amount_invested].positive? %>
    <div id="assets_metrics_table" class="widget widget--table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= t('data_labels.asset') %></th>
            <th scope="col"><%= t('data_labels.amount') %></th>
            <th scope="col"><%= t('data_labels.avg_price') %></th>
            <th scope="col"><%= t('data_labels.value') %></th>
            <th scope="col"><%= t('data_labels.pnl') %></th>
          </tr>
        </thead>
        <tbody id="assets_metrics_list">
          <%# Row for base0 asset %>
          <% if bot.base0_asset %>
            <tr>
              <td scope="row"><%= bot.base0_asset.symbol %></td>
              <td><%= metrics[:base0_total_amount].round(bot.decimals[:base0]) %></td>
              <td><%= metrics[:base0_average_buy_rate].present? ? metrics[:base0_average_buy_rate].round(bot.decimals[:base0_price]) : '-' %></td>
              <% if loading %>
                <td><div class="loader--small" style="position: unset; float:right"></div></td>
              <% else %>
                <td><%= metrics[:base0_total_amount_value_in_quote].round(bot.decimals[:quote]) %></td>
              <% end %>
              <% if loading %>
                <td><div class="loader--small" style="position: unset; float:right"></div></td>
              <% else %>
                <% pnl0 = metrics[:base0_pnl] %>
                <td class="<%= pnl0.negative? ? 'text-danger' : pnl0.positive? ? 'text-success' : '' %>">
                  <%= pnl0 ? format_percent(pnl0, precision: 1) : '-' %>
                </td>
              <% end %>
            </tr>
          <% end %>

          <%# Row for base1 asset %>
          <% if bot.base1_asset %>
            <tr>
              <td scope="row"><%= bot.base1_asset.symbol %></td>
              <td><%= metrics[:base1_total_amount].round(bot.decimals[:base1]) %></td>
              <td><%= metrics[:base1_average_buy_rate].present? ? metrics[:base1_average_buy_rate].round(bot.decimals[:base1_price]) : '-' %></td>
              <% if loading %>
                <td><div class="loader--small" style="position: unset; float:right"></div></td>
              <% else %>
                <td><%= metrics[:base1_total_amount_value_in_quote].round(bot.decimals[:quote]) %></td>
              <% end %>
              <% if loading %>
                <td><div class="loader-" style="position: unset; float:right"></div></td>
              <% else %>
                <% pnl1 = metrics[:base1_pnl] %>
                <td class="<%= pnl1.negative? ? 'text-danger' : pnl1.positive? ? 'text-success' : '' %>">
                  <%= pnl1 ? format_percent(pnl1, precision: 1) : '-' %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%# Optionally, render a placeholder if no data is available %>
    <div class="widget widget--table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= t('data_labels.asset') %></th>
            <th scope="col"><%= t('data_labels.amount') %></th>
            <th scope="col"><%= t('data_labels.avg_price') %></th>
            <th scope="col"><%= t('data_labels.value') %></th>
            <th scope="col"><%= t('data_labels.pnl') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5" class="text-center text-inactive" style="padding-bottom: 2rem;">. . .</td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
