<% asset_color = ensure_contrast(@asset&.color || "#8A9BA8") %>

<%= render layout: 'layouts/modal/full_page', locals: { close_url: rules_path } do %>
  <div class="bot-creation-layout">
    <%= render "bots/new_step_progress_bar", current_step: :address, steps: { pick_asset: 20, pick_exchange: 40, api: 60, address: 80, settings: 100 } %>

    <div class="conversational conversational--bot-setup">
      <%= t('rules.withdrawals.sentence.withdraw_all') %>
      <%= link_to @asset.symbol, new_rules_withdrawals_pick_asset_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{asset_color}" %>
      <%= t('rules.withdrawals.sentence.from') %>
      <%= link_to new_rules_withdrawals_pick_exchange_path, data: { turbo_frame: "modal_content" }, class: "sbutton sbutton--exchange sbutton--exchange--#{@exchange.name_id}" do %>
        <%= render "svg/exchange-#{@exchange.name_id}", title: @exchange.name %>
        <span class="hide-on-mobile"><%= @exchange.name %></span>
      <% end %>
      <%= t('rules.withdrawals.sentence.to') %> …
    </div>

    <div class="set-api widget">
      <div class="set-api__form">
        <h2 class="set-api__header"><%= t('rules.add_address.label') %></h2>
        <div class="set-api__warning">
          <%= t('rules.add_address.warning_html', symbol: @asset.symbol).html_safe %>
        </div>
        <%= form_with url: rules_withdrawals_add_address_path, method: :post,
                      data: { controller: "form--label-animations form--html5-validations", turbo_frame: 'modal_content' },
                      class: "form" do |f| %>
          <div class="form__row form__row--input">
            <%= f.text_field :address, value: @address, autofocus: true, required: true, autocomplete: "off",
                             class: "form__input form__input--large",
                             placeholder: t('rules.add_address.placeholder') %>
            <%= f.label :address, t('rules.add_address.label'), class: "form__label" %>
          </div>
          <%= f.submit t('button.next'), class: "button button--success button--large" %>
        <% end %>
      </div>
      <div class="set-api__instructions">
        <h2 class="set-api__header"><%= t('rules.add_address.instructions_title', exchange: @exchange.name) %></h2>
        <%= render_withdrawal_address_instructions(@exchange) %>
      </div>
    </div>
  </div>
<% end %>
