<% content_for :title, page_title_for_static_page('confirm_email') %>
<% content_for :meta_description, meta_description_for_static_page('confirm_email') %>

<% content_for :meta_robots_content, 'noindex' %>

<%= form_with model: resource, url: confirmation_path(resource_name), data: { controller: "form--html5-validations form--label-animations" } do |f| %>

  <%= render 'svg/40x30_logo' %>

  <h1><%= t('.title') %></h1>

  <div class="form__row">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @email_value, class: "form__input form__input--large", pattern: @email_address_pattern, data: { html5_error_message: t('devise.registrations.new.email_invalid') } %>
    <%= f.label :email, class: "form__label" %>
  </div>
  <div class="form__row form__row--final-button">
    <%= f.submit t('.submit'), class: "button button--primary button--large w-100" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>


