- content_for :meta_robots_content, 'noindex'

%h3.db-modal-title= t('.title')
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  .db-form__row
    = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
    .db-form__info.db-form__info--invalid
      - unless resource.errors[:email][0].nil?
        = t('helpers.label.user.email') + ' ' + resource.errors[:email][0]
    = f.label :email, class: "db-form__label"
  .db-form__row.db-form__row--final-button
    = f.submit t('.submit'), class: "sbutton sbutton--primary btn-lg w-100"
.db-form__other-links
  = render "devise/shared/links"
