.container
  .modal-dialog
    .modal-content
      .modal-body
        %h2.db-modal-title Resend instructions
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"
          .form-group.db-form-group--main-btn
            = f.submit "Resend instructions", class: "btn btn-primary btn-lg"
        .text-center
          = render "devise/shared/links"
