<h3 class="text-center"><%= t('.title') %></h3>

<% content_for :meta_robots_content, 'noindex' %>

<%= form_with model: resource, url: confirmation_path(resource_name), data: { controller: "form--html5-validations form--label-animations" } do |f| %>
  <div class="db-form__row">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @email_value, class: "db-form__input", pattern: @email_address_pattern %>
    <%= f.label :email, class: "db-form__label" %>
  </div>
  <div class="cf-turnstile-container">
    <%= cloudflare_turnstile %>
  </div>
  <div class="db-form__row db-form__row--final-button">
    <%= f.submit t('.submit'), class: "button button--primary button--large w-100" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
