<div class="widget--pricing__name">
  <%= t('subscriptions.legendary') %>
</div>

<div class="widget--pricing__amount">
  <% if reference_payment_option.base_price != payment_option.base_price %>
    <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
      <%= localized_price(payment_option.base_price, payment_option.currency) %>
    </span>
    <span class="widget--pricing__amount__t widget--pricing__amount__t--main widget--pricing__amount__t--previous">
      <%= localized_price(reference_payment_option.base_price, payment_option.currency) %>
    </span>
  <% else %>
    <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
      <%= localized_price(payment_option.base_price, payment_option.currency) %>
    </span>
  <% end %>
</div>
<%= render 'upgrades/plan_cards/upgrade_button' %>
<ul>
  <li><%= t('subscriptions.features.everything_from_pro') %></li>
  <li><%= t('subscriptions.features.unlimited_bots') %></li>
  <li><%= t('subscriptions.features.nft') %></li>
</ul>

<div class="legendary-counter">
  <span class="legendary-counter__discount">
    <%= t('subscriptions.payment.legendary_plan_discount_html', amount: localized_price(10, payment_option.currency)) %>
  </span>
  <div class="widget--pricing__legendary-plans-left">
    <span><%= t('subscriptions.legendary_plan_left_html', for_sale_count: legendary_plan.for_sale_count, total_supply: legendary_plan.total_supply) %></span>
    <div class="slider">
      <div class="slider__style">
        <div class="slider__style__track">
          <div class="slider__style__progress" role="progressbar" style="width: <%= legendary_plan.sold_percent %>%" aria-valuenow="<%= legendary_plan.sold_percent %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>