<div class="widget--pricing__name">
  <%= t('subscriptions.pro') %>
  <% if current_user.subscription.pro? %>
    <span class="widget--pricing__badge"><%= t('subscriptions.active') %></span>
  <% end %>
</div>

<% if payment_option.present? %>
  <div class="widget--pricing__amount">
    <% if reference_payment_option.base_price != payment_option.base_price %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
        <%= localized_price(payment_option.virtual_price('base_price', 1.month), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_month_html') %></span>
      </span>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main widget--pricing__amount__t--previous">
        <%= localized_price(reference_payment_option.virtual_price('base_price', 1.month), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_month_html') %></span>
      </span>
    <% else %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
        <%= localized_price(payment_option.virtual_price('base_price', 1.month), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_month_html') %></span>
      </span>
    <% end %>
  </div>
<% end %>

<ul class="widget--pricing__opt-bots">
  <li>50 bots</li>
</ul>
<small></small>
<ul class="widget--pricing__opt-strategies">
  <li>DCA</li>
  <li>Rebalanced DCA</li>
</ul>
<small></small>
<ul class="widget--pricing__opt-execution">
  <li>Smart Intervals</li>
  <li>FeeCutter</li>
</ul>
<small></small>
<ul class="widget--pricing__opt-triggers">
  <li>Buy the dip</li>
  <li>SMA/EMA</li>
  <li>RSI</li>
  <li>Price limit</li>
  <li>Amount limit</li>
</ul>
<small></small>
<ul class="widget--pricing__opt-community">
  <li>Telegram</li>
</ul>
<small></small>
<ul class="widget--pricing__opt-research">
  <li>Premium Newsletter</li>
  <li>Portfolio Analyzer</li>
</ul>