<div class="widget--pricing__name">
  <%= t('subscriptions.pro') %>
  <% if current_user.subscription.pro? %>
    <span class="widget--pricing__badge"><%= t('subscriptions.active') %></span>
  <% end %>
</div>

<% if payment_option.present? %>
  <div class="widget--pricing__amount">
    <% selected_duration = payment_option.subscription_plan_variant.duration %>
    <% if selected_duration != reference_duration %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
        <%= localized_price(payment_option.virtual_price('base_price', reference_duration), payment_option.currency) %><span class="price-period"><%= t("subscriptions.#{payment_frequency_translation_key(reference_duration)}") %></span>
      </span>

      <span class="widget--pricing__amount__t__previous">
        <s><%= localized_price(reference_payment_option.virtual_price('base_price', selected_duration), payment_option.currency) %></s>
        <%= localized_price(payment_option.base_price, payment_option.currency) %><span class="price-period"><%= t("subscriptions.#{payment_frequency_translation_key(selected_duration)}") %></span>
      </span>
    <% else %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
        <%= localized_price(payment_option.virtual_price('base_price', reference_duration), payment_option.currency) %><span class="price-period"><%= t("subscriptions.#{payment_frequency_translation_key(reference_duration)}") %></span>
      </span>
    <% end %>
  </div>
<% end %>
<%= render 'upgrades/plan_cards/upgrade_button' %>
<ul class="widget--pricing__opt-bots">
  <li><%= t('subscriptions.features.bots_count', count: payment_option.subscription_plan_variant.max_bots) %></li>
</ul>
<small></small>
<ul class="widget--pricing__opt-strategies">
  <li><%= t('subscriptions.features.dca') %></li>
  <li><%= t('subscriptions.features.rebalanced_dca') %></li>
</ul>
<small></small>
<ul class="widget--pricing__opt-execution">
  <li><%= t('subscriptions.features.smart_intervals') %></li>
  <li><%= t('subscriptions.features.feecutter') %></li>
</ul>
<small></small>
<ul class="widget--pricing__opt-triggers">
  <li><%= t('subscriptions.features.buy_the_dip') %></li>
  <li><%= t('subscriptions.features.sma_ema') %></li>
  <li><%= t('subscriptions.features.rsi') %></li>
  <li><%= t('subscriptions.features.price_limit') %></li>
  <li><%= t('subscriptions.features.amount_limit') %></li>
</ul>
<small></small>
<ul class="widget--pricing__opt-research">
  <li><%= t('subscriptions.features.premium_newsletter') %></li>
  <li><%= t('subscriptions.features.portfolio_analyzer') %></li>
</ul>