<%= tag.div class: "widget widget--pricing widget--pricing--#{generic_plan_name} widget--pricing--other" do %>
  <div class="widget--pricing__name">
    <%= t('subscriptions.research') %>
  </div>




  <div id="plan-card-amount-<%= generic_plan_name %>" class="widget--pricing__amount">
    <%= render partial: "upgrades/plan_cards/elements/price", locals: {
      payment_option: payment_option,
      reference_duration: reference_duration,
      reference_payment_option: reference_payment_option,
    } %>
  </div>

  <% if scope == 'upgrade' %>
    <%= render partial: "upgrades/plan_cards/elements/button", locals: { generic_plan_name: generic_plan_name } %>
  <% elsif scope == 'pricing' %>
    <%= link_to t('button.start_now'), new_user_registration_path, class: "button button--success button--large button--upgrade", data: { turbo: false } %>
  <% end %>

  <ul>
    <li><%= t('subscriptions.features.premium_newsletter') %></li>
    <li><%= t('subscriptions.features.portfolio_analyzer') %></li>
  </ul>
<% end %>