<%= tag.div class: "widget widget--pricing widget--pricing--#{plan_name.gsub('_research', '')} widget--pricing--other" do %>
  <div class="widget--pricing__name">
    <%= t('subscriptions.research') %>
  </div>




  <div id="plan-card-amount-<%= plan_name.gsub('_research', '') %>" class="widget--pricing__amount">
    <%= render partial: "upgrades/plan_cards/elements/price", locals: {
      payment_option: payment_option,
      reference_duration: reference_duration,
      reference_payment_option: reference_payment_option,
    } %>
  </div>

  <% unless checkout %>
    <%= link_to t('button.select_plan'), upgrade_checkout_path(plan_name: 'research'), class: "button button--success button--large button--upgrade" %>
  <% end %>

  <ul>
    <li><%= t('subscriptions.features.premium_newsletter') %></li>
    <li><%= t('subscriptions.features.portfolio_analyzer') %></li>
  </ul>
<% end %>