<% base_color = ensure_contrast(@bot.base_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/signals/new_step_progress_bar', locals: { current_step: :exchange } %>

    <div class="conversational conversational--bot-setup">
      <%= t('bot.setup.sentence.invest_in') %>
      <%= link_to @bot.base_asset.symbol, new_bots_signals_pick_buyable_asset_path, data: { turbo_frame: "modal_content" }, class: ticker_class(@bot.base_asset), style: "background: #{base_color}" %>
      <%= t('bot.setup.sentence.at') %>
      <%= form_with url: new_bots_signals_pick_exchange_path, method: :get, data: { controller: "form--submit-after-delay", turbo_frame: "exchange-picker" } do |f| %>
        <%= f.text_field :query, autofocus: true, autocomplete: "off", placeholder: "…", data: { action: "input->form--submit-after-delay#submit" }, class: "conversational__input sinput" %>
      <% end %>
    </div>

    <%= render "bots/pick_exchanges/table",
      bot: @bot,
      exchanges: @exchanges,
      submit_url: bots_signals_pick_exchange_path,
      header: ["#{t('bot.fees')}:", "Maker", "Taker"],
      row_partial: "shared/exchange_search_result",
      row_locals: ->(exchange) { { exchange: exchange, param_name: "#{@bot.model_name.param_key}[exchange_id]" } } %>
  </div>
<% end %>
