<div class="widget widget--single data-grid">
  <div class="data-grid__item" data-controller="tooltip">
    <div class="label">
      <%= t('data_labels.bought_ticker', ticker: 'BTC') %>
    </div>
    <div class="data-grid__item__value">
        123
    </div>
  </div>
  <div class="data-grid__item" data-controller="tooltip">
    <div class="label">
      <%= t('data_labels.avg_price_ticker', ticker: 'BTC') %>
    </div>
    <div class="data-grid__item__value">
        123
    </div>
  </div>
  <div class="data-grid__item" data-controller="tooltip">
    <div class="label">
      <%= t('data_labels.bought_ticker', ticker: 'ETH') %>
    </div>
    <div class="data-grid__item__value">
        123
    </div>
  </div>
  <div class="data-grid__item" data-controller="tooltip">
    <div class="label">
      <%= t('data_labels.avg_price_ticker', ticker: 'ETH') %>
    </div>
    <div class="data-grid__item__value">
        123
    </div>
  </div>
  <div class="data-grid__item" data-controller="tooltip">
    <div class="label">
      <%= t('data_labels.invested_ticker', ticker: 'USDT') %>
    </div>
    <div class="data-grid__item__value">
        123
    </div>
  </div>
  <div class="data-grid__item" data-controller="tooltip">
    <div class="label">
      <%= t('data_labels.value_ticker', ticker: 'USDT') %>
    </div>
    <div class="data-grid__item__value">
        123
    </div>
  </div>
  <div class="data-grid__item data-grid__item--filler data-grid__item--filler--4 data-grid__item--filler--6"></div>
  <div class="data-grid__item data-grid__item--filler data-grid__item--filler--4 data-grid__item--filler--6"></div>
</div>