<div class="widget widget--single widget--table">
  <table class="table table-borderless table-striped">
    <thead>
      <tr>
        <th scope="col"><%= t('data_labels.date') %></th>
        <th scope="col"><%= t('amount') %></th>
        <th scope="col"><%= t('value') %></th>
      </tr>
    </thead>
    <tbody id="bot_<%= bot.id %>_orders">
      <% transactions.each do |transaction| %>
        <%= render 'barbell_bots/bot/transaction', transaction: transaction %>
      <% end %>
    </tbody>
  </table>

  <%== pagy_nav(pagy) if pagy.pages > 1 %>

  <div id="next_link">
    <%= button_to "next", pagy_url_for(pagy, pagy.next) %>
  </div>
</div>
