<div class="page-head page-head--mini">
  <% if bot&.working? || bot&.pending? %>
    <div class="time-counter time-counter--success" data-controller="countdown" data-countdown-target-date-value="<%= bot.next_scheduled_order_time&.iso8601 %>" data-countdown-hide-if-zero-value="true">
        <span data-countdown-target="days">0</span><span data-countdown-target="daysLabel"><%= t('subscriptions.payment.days_short') %></span>
        <span data-countdown-target="hours">0</span><span data-countdown-target="hoursLabel"><%= t('subscriptions.payment.hours_short') %></span>
        <span data-countdown-target="minutes">0</span><span data-countdown-target="minutesLabel"><%= t('subscriptions.payment.minutes_short') %></span>
        <span data-countdown-target="seconds">0</span><span data-countdown-target="secondsLabel"><%= t('subscriptions.payment.seconds_short') %></span>
    </div>
    <div class="flex-row">
      <%= button_to barbell_bot_stop_path(bot), class: "sbutton sbutton--primary sbutton--outline" do %>
        <div class="animicon animicon--stop">
          <div class="animicon__a"></div>
          <div class="animicon__b"></div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="time-counter time-counter--success">
    </div>
    <div class="flex-row">
      <%= button_to barbell_bot_start_path(bot), class: "sbutton sbutton--success" do %>
        <div class="animicon animicon--start">
          <div class="animicon__a"></div>
          <div class="animicon__b"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>