<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authorize - Deltabadger</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="consent">
    <img src="<%= root_url(locale: nil) %>logo_email_app.png" style="width:68px; height: 68px; padding: 4px 0 0 4px">
    <h4 class="consent__title"><%= t('settings.mcp.authorize_title') %></h4>

    <p class="text-center"><%= t('settings.mcp.authorize_description_html', client_name: @pre_auth.client.name) %></p>

    <div class="buttons buttons--row--2" style="margin-top: 1rem;">
      <%= form_tag oauth_authorization_path, method: :delete do %>
        <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
        <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
        <%= hidden_field_tag :state, @pre_auth.state %>
        <%= hidden_field_tag :response_type, @pre_auth.response_type %>
        <%= hidden_field_tag :scope, @pre_auth.scope %>
        <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
        <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
        <%= submit_tag t('button.cancel'), class: 'button button--outline button--large' %>
      <% end %>

      <%= form_tag oauth_authorization_path, method: :post do %>
        <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
        <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
        <%= hidden_field_tag :state, @pre_auth.state %>
        <%= hidden_field_tag :response_type, @pre_auth.response_type %>
        <%= hidden_field_tag :scope, @pre_auth.scope %>
        <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
        <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
        <%= submit_tag t('button.connect'), class: 'button button--sky button--large' %>
      <% end %>
    </div>
  </div>
</body>
</html>
