<% pnl = bot.barbell? ? bot.fetch_metrics[:pnl] : 0 %>
<% path = bot.barbell? ? barbell_bot_path(bot) : dashboard_bot_path(bot) %>

<div class="widget bot-tile">
  <%= link_to path do %>
    <div class="bot-tile__header">
      <div class="bot-tile__hgroup">
        <div class="bot-tile__title">
          <% if bot.barbell? && bot.quote.present? && bot.base0.present? && bot.base1.present? %>
            <span><%= bot.quote %></span>
           <span class="bot-tile__operator">&rarr;</span>
            <span>
              <span><%= bot.base1 %></span>,
              <span><%= bot.base0 %></span>
            </span>


          <% elsif bot.basic? && bot.quote.present? && bot.base.present? %>
            <span><%= bot.quote %></span>
            <span class="bot-tile__operator">&rarr;</span>
            <span><%= bot.base %></span>

          <% elsif bot.withdrawal? && bot.currency.present? %>
            <%= bot.currency %>
          <% elsif bot.webhook? && bot.base.present? %>
            <span><%= bot.base %></span>
          <% end %>
          <% if bot.exchange.present? %>
            <% exchange_name = bot.exchange.name.downcase %>
            <% exchange_name = case exchange_name
               when 'binance.us' then 'binance'
               else exchange_name
               end %>
            <%= render "svg/exchange-#{exchange_name}", title: bot.exchange.name %>
          <% end %>
          <%# bot_type_label(bot) %>
        </div>
        <div class="bot-tile__subtitle">
          <%= bot.label %>

        </div>
      </div>
      <div class="bot-tile__pnl text-danger">
        <span class="widget__pnl__value"><%= format_percent(pnl, precision: 2) %></span>
      </div>
    </div>
  <% end %>
  <div class="bot-control">
    <div class="bot-control__status active">
      <% unless bot.webhook? %>
        <%= render "barbell_bots/status/status_bar", bot: bot %>
      <% end %>
    </div>
    <% if bot.legacy? %>
      <%= render "barbell_bots/status/status_button_legacy", bot: bot %>
    <% else %>
      <%= render "barbell_bots/status/status_button", bot: bot %>
    <% end %>
  </div>
</div>