<%= turbo_frame_tag "bot_#{bot.id}_chart" do %>
  <div class="widget widget--chart">
    <% if bot.metrics_unknown? %>
        <%= render 'svg/landscape_empty' %>
    <% else %>
      <% profitable = bot.metrics[:pnl] > 0 %>
      <% formatted_series = rounded_chart_series_for(exchange: bot.exchange, base_asset: bot.base0, quote_asset: bot.quote, series: bot.metrics[:chart][:series]) %>
      <div class="data-grid__item" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
        <div class="label"><%= t('analyzer.pnl') %></div>
        <%= tag.div class: "data-grid__item__value", style: "color: var(--#{profitable ? 'success' : 'danger'})" do %>
          <%= sprintf('%+.0f', (bot.metrics[:pnl] * 100)) + '%' %>
        <% end %>
      </div>
      <%= tag.div data: {
        controller: "bot--chart",
        bot__chart_names_value: [
          t('data_labels.value_ticker', ticker: bot.quote),
          t('data_labels.invested_ticker', ticker: bot.quote)
        ],
        bot__chart_labels_value: [bot.metrics[:chart][:labels]],
        bot__chart_series_value: [formatted_series],
      } do %>
        <canvas data-bot--chart-target="analyzerChart" width="200" height="60"></canvas>
      <% end %>
    <% end %>
  </div>
<% end %>