<%= form_with model: @api_key, url: create_api_keys_barbell_bots_path do |f| %>
  <%= f.hidden_field :bot_id, value: @barbell_bot.id %>
  <%= f.hidden_field :exchange_id, value: @barbell_bot.exchange.id %>
  <div>
    <%= f.label :key, "API Key" %>
    <%= f.text_field :key %>
  </div>

  <div>
    <%= f.label :secret, "API Secret" %>
    <%= f.text_field :secret %>
  </div>

  <div>
    <%= f.submit "Save API Keys", class: "btn btn-primary" %>
  </div>

<% end %>