<h1>New Barbell Bot</h1>

<%= form_with model: @barbell_bot, url: barbell_bots_path, method: :post do |form| %>
<%# , data: { controller: "form--html5-validations form--label-animations" } %>
  <div>
    <%= form.label :exchange_id, "Exchange" %>
    <%= form.select :exchange_id, Exchange.all.map { |e| [e.name, e.id] }, { prompt: "Select an exchange" } %>
  </div>

  <div>
    <%= form.label :quote_amount, "Quote Amount" %>
    <%= form.number_field :quote_amount, step: :any %>
  </div>

  <div>
    <%= form.label :quote, "Quote Currency" %>
    <%= form.select :quote, [["EUR", "EUR"]] %>
  </div>

  <div>
    <%= form.label :interval, "Interval" %>
    <%= form.select :interval, [["Month", "month"], ["Week", "week"], ["Day", "day"], ["Hour", "hour"]] %>
  </div>

  <div>
    <%= form.label :base0, "Base Currency 1" %>
    <%= form.select :base0, [["BTC", "BTC"]] %>
  </div>

  <div>
    <%= form.label :base1, "Base Currency 2" %>
    <%= form.select :base1, [["ETH", "ETH"]] %>
  </div>

  <div>
    <%= form.label :allocation0, "Allocation for Base Currency 1 (%)" %>
    <%= form.number_field :allocation0, min: 0, max: 1, step: 0.01 %>
  </div>

  <%= form.submit "Create Bot", class: "btn btn-primary" %>
<% end %>
