<%= turbo_stream_from "bot_#{@barbell_bot.id}", :countdown %>
<%= turbo_stream_from "bot_#{@barbell_bot.id}", :transactions %>
<%= turbo_stream_from "bot_#{@barbell_bot.id}", :metrics %>

<div class="page-head page-head--mini">
  <div class="time-counter time-counter--success">
    <%= render "barbell_bots/bot/countdown", bot: @barbell_bot %>
  </div>
  <div class="flex-row">
    <%= render "barbell_bots/bot/start_stop_button", bot: @barbell_bot %>
  </div>
  <%= button_to "Delete Bot", barbell_bot_path(@barbell_bot), class: "btn btn-danger mb-4", method: :delete %>
</div>

<div class="columns">
  <div class="column gap-2">
    <%= render partial: "barbell_bots/bot/settings", locals: { bot: @barbell_bot } %>
    <%= render partial: "barbell_bots/bot/exchange_select", locals: { bot: @barbell_bot } %>
    <%= render partial: "barbell_bots/bot/settings_extra" %>
  </div>
  <div class="column gap-2">
    <% if @barbell_bot.nil? %>
      <%# <%= link_to new_portfolio_asset_path(@portfolio), class: "sbutton sbutton--primary sbutton--add-asset", data: { turbo_frame: "modal", modal__open_and_submit_on_key_press_target: "button" } do %> %>
        <%# <% render "svg/24x24_plus" %> %>
      <%# <% end %> %>


      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati odio saepe, sequi ipsum accusamus fuga, impedit quas libero qui officia earum amet architecto voluptatem repellat repudiandae, quis quidem natus dicta.
    <% else %>
      <%= render partial: "barbell_bots/bot/chart", locals: { bot: @barbell_bot } %>
      <%= render partial: "barbell_bots/bot/metrics", locals: { bot: @barbell_bot } %>
      <%= render partial: "barbell_bots/bot/transactions_list", locals: { bot: @barbell_bot } %>
    <% end %>
  </div>
</div>
