<%= render partial: "barbell_bots/bot/play_pause", locals: { bot: @barbell_bot } %>
<div class="columns">
  <div class="column gap-2">
    <%= render partial: "barbell_bots/bot/settings" %>
    <%= render partial: "barbell_bots/bot/exchange" %>
    <%= render partial: "barbell_bots/bot/settings_extra" %>
  </div>
  <div class="column gap-2">
    <% if @barbell_bot.nil? %>
      <%# <%= link_to new_portfolio_asset_path(@portfolio), class: "sbutton sbutton--primary sbutton--add-asset", data: { turbo_frame: "modal", modal__open_and_submit_on_key_press_target: "button" } do %> %>
        <%# <% render "svg/24x24_plus" %> %>
      <%# <% end %> %>


      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati odio saepe, sequi ipsum accusamus fuga, impedit quas libero qui officia earum amet architecto voluptatem repellat repudiandae, quis quidem natus dicta.
    <% else %>
      <%= render partial: "barbell_bots/bot/chart" %>
      <%= render partial: "barbell_bots/bot/metrics" %>
      <%= render partial: "barbell_bots/bot/orders" %>
    <% end %>
  </div>
</div>
