<%= turbo_stream_from "bot_#{@barbell_bot.id}", :status_bar %>
<%= turbo_stream_from "bot_#{@barbell_bot.id}", :orders %>
<%= turbo_stream_from "bot_#{@barbell_bot.id}", :metrics %>

<%= turbo_frame_tag "bot" do %>
  <div class="page-head">
    <%= render "barbell_bots/header", bot: @barbell_bot, other_bots: @other_bots %>
  </div>

  <div class="bot-control">
    <div class="bot-control__status active">
      <%= render "barbell_bots/status/status_bar", bot: @barbell_bot %>
    </div>
    <%= render "barbell_bots/status/status_button", bot: @barbell_bot %>
  </div>

  <div class="columns">
    <div class="column gap-1">
      <%= render partial: "barbell_bots/settings", locals: { bot: @barbell_bot } %>
      <%= render partial: "barbell_bots/exchange_select", locals: { bot: @barbell_bot } %>
      <%# render partial: "barbell_bots/settings_extra" %>
    </div>
    <div class="column gap-1">
      <%= render partial: "barbell_bots/chart", locals: { bot: @barbell_bot } %>
      <%= render partial: "barbell_bots/metrics/metrics", locals: { bot: @barbell_bot } %>
      <%= render partial: "barbell_bots/orders/orders", locals: { bot: @barbell_bot } %>
    </div>
  </div>
<% end %>