<% if @barbell_bot.nil? %>
  <%= render "first_bot" %>
<% else %>
  <%= render "barbell_bots/bot/play_pause" %>

  <div class="columns">
    <div class="column gap-2">
      <%= render "barbell_bots/bot/settings" %>
      <%= render "barbell_bots/bot/exchange" %>
      <%= render "barbell_bots/bot/settings_extra" %>
    </div>
    <div class="column gap-2">
      <%= render "barbell_bots/bot/chart" %>
      <%= render "barbell_bots/bot/metrics" %>
      <%= render "barbell_bots/bot/orders" %>
    </div>
  </div>
<% end %>

