<h3 class="db-modal-title"><%= t('.title_html') %></h3>
<%= form_with model: resource, url: registration_path(resource_name), data: { controller: "form--html5-validations" } do |f| %>
  <% if @code.present? %>
    <%= render partial: 'ref_codes/show', locals: { affiliate: @affiliate } %>
  <% end %>

  <div class="db-form__row db-form__row--input">
    <%= f.text_field :name, class: "db-form__input", required: true, pattern: @name_pattern %>
    <%= f.label :name, class: "db-form__label" %>
  </div>

  <div class="db-form__row db-form__row--input">
    <%= f.email_field :email, autocomplete: "email", class: "db-form__input", required: true, pattern: @email_address_pattern %>
    <%= f.label :email, class: "db-form__label" %>
  </div>

  <%= tag.div class: "db-form__row db-has-unmask", data: {
    controller: "form--unmask-password form--password-strength",
    form__password_strength_success_color_value: "var(--success)",
    form__password_strength_label_color_value: "var(--label)",
    form__password_strength_length_pattern_value: @password_length_pattern,
    form__password_strength_uppercase_pattern_value: @password_uppercase_pattern,
    form__password_strength_lowercase_pattern_value: @password_lowercase_pattern,
    form__password_strength_digit_pattern_value: @password_digit_pattern,
    form__password_strength_symbol_pattern_value: @password_symbol_pattern
  } do %>
    <%= f.password_field :password, autocomplete: "new-password", class: "db-form__input db-form__input--has-icon", data: {
      form__unmask_password_target: "input",
      form__password_strength_target: "input",
      action: "input->form--password-strength#checkPasswordStrength"
    }, required: true, pattern: @password_complexity_pattern %>
    <%= f.label :password, class: "db-form__label" %>

    <div class="db-unmask" data-action="click->form--unmask-password#toggle">
      <%= render "layouts/svg_mi_visibility" %>
      <%= render "layouts/svg_mi_visibility-off" %>
    </div>

    <ul data-form--password-strength-target="requirementsList" class="hidden">
      <li data-form--password-strength-target="length">At least 8 characters</li>
      <li data-form--password-strength-target="uppercase">Contains an uppercase character</li>
      <li data-form--password-strength-target="lowercase">Contains a lowercase character</li>
      <li data-form--password-strength-target="digit">Contains a digit</li>
      <li data-form--password-strength-target="symbol">Contains a symbol</li>
    </ul>
  <% end %>


  <div class="db-form__row">
    <%= cloudflare_turnstile %>
  </div>

  <div class="db-form__row db-form__row--check ml-0">
    <%= f.check_box :terms_and_conditions, class: "form-check-input d-none", checked: "checked" %>
    <%= f.label :terms_and_conditions, class: "form-check-label" do %>
      <%= raw t('helpers.label.user.terms_and_conditions_tooltip',
                    terms_and_conditions: link_to(t('links.terms_and_conditions'), terms_and_conditions_path),
                    privacy_policy: link_to(t('links.privacy_policy'), privacy_policy_path)) %>
    <% end %>
  </div>

  <div class="db-form__row db-form__row--final-button">
    <%= f.submit t('.submit'), class: "btn btn-success btn-lg w-100" %>
  </div>
<% end %>

<div class="db-form__other-links">
  <%= render "devise/shared/links" %>
</div>