.container
  .db-modal-positioner
    .modal-dialog
      .modal-content
        .modal-body
          %h2.db-modal-title New account
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: "new-password", class: "form-control"
              - if @minimum_password_length
                .invalid-feedback
                  #{@minimum_password_length} characters minimum
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"

            .form-check.mb-2
              = f.check_box :terms_and_conditions, class: "form-check-input"
              = f.label :terms_and_conditions, class: "form-check-label" do
                I have read and agree to the
                = link_to 'Terms of Service', terms_and_conditions_path
                and
                = link_to 'Privacy Policy', privacy_policy_path
                of the service.

            .form-check
              = f.check_box :updates_agreement, class: "form-check-input"
              = f.label :updates_agreement, class: "form-check-label" do
                I agree to receive emails with information on new features, and technical updates.

            .form-group.db-form-group--main-btn
              = f.submit "Sign up", class: "btn btn-success btn-lg"
          .text-center
            = render "devise/shared/links"
