- content_for :meta_robots_content, 'noindex'

.container.container--signup
  .row
    .d-none.d-lg-block.col-lg-6.col-xl-7.db-signup--text
      -# %svg.db-artwork--signup{:fill => "none", :viewbox => "0 0 326 260", :xmlns => "http://www.w3.org/2000/svg"}
      -#   %path{:fill => "url(#a)", :d => "M115.2 0a51.5 51.5 0 0 0-47.9 31.8 24.7 24.7 0 0 0-14.8-3.2 24 24 0 0 0-21.6 27.2A33.2 33.2 0 0 0 .6 88.5c0 1.6.1 3.2.4 4.8a2 2 0 1 0 4-.6c-.3-1.4-.4-2.8-.4-4.2a29.3 29.3 0 0 1 28.8-28.9H36l-.6-2.5c-.6-2.3-.8-4.6-.5-6.9a20 20 0 0 1 18-17.6c5.2-.6 10.3.8 14.3 3.8l2.2 1.6 1-2.5a47.5 47.5 0 0 1 45-31.5 47.4 47.4 0 0 1 45.4 32.9 5 5 0 1 0 4-.8A51.4 51.4 0 0 0 115.2 0ZM325.6 83a5 5 0 1 1-9.2-2.7A37.6 37.6 0 0 0 258 73a2 2 0 0 1-2.8-2.8 41.6 41.6 0 0 1 64.5 7.9l.9-.1a5 5 0 0 1 5 5ZM184.6 60a88 88 0 0 0-88 88v5.4a5 5 0 1 1-4 0V148a92 92 0 0 1 184 0v110a2 2 0 0 1-4 0V148a88 88 0 0 0-88-88ZM99.6 178a5 5 0 0 1-3 4.6V258a2 2 0 1 1-4 0v-75.4a5 5 0 1 1 7-4.6ZM116.6 148a68 68 0 0 1 135.8-5.5 5 5 0 1 0 4-.2 72 72 0 0 0-143.8 5.7v110a2 2 0 1 0 4 0V148ZM249.6 167a5 5 0 0 0 3 4.6V258a2 2 0 1 0 4 0v-86.4a5 5 0 1 0-7-4.6ZM189.3 96.2a5 5 0 1 0-.2 4 48 48 0 0 1 43.5 47.8v110a2 2 0 1 0 4 0V148a52 52 0 0 0-47.3-51.8ZM136.6 148a48 48 0 0 1 23.6-41.3 5 5 0 0 0 8.4-3.7 5 5 0 0 0-10 0 52 52 0 0 0-26 45v110a2 2 0 1 0 4 0V148ZM184.6 120a28 28 0 0 0-28 28v65.4a5 5 0 1 1-4 0V148a32 32 0 0 1 64 0v110a2 2 0 0 1-4 0V148a28 28 0 0 0-28-28ZM159.6 238a5 5 0 0 1-3 4.6V258a2 2 0 0 1-4 0v-15.4a5 5 0 1 1 7-4.6ZM176.6 148a8 8 0 1 1 16 0v5.4a5 5 0 1 0 4 0V148a12 12 0 0 0-24 0v110a2 2 0 1 0 4 0V148ZM189.6 178a5 5 0 0 0 3 4.6V258a2 2 0 1 0 4 0v-75.4a5 5 0 1 0-7-4.6Z"}
      -#   %defs
      -#     %lineargradient#a{:gradientunits => "userSpaceOnUse", :x1 => "407.3", :x2 => "674.6", :y1 => "-368.3", :y2 => "19.2"}
      -#       %stop{"stop-color" => "red"}
      -#       %stop{:offset => ".3", "stop-color" => "#F0F"}
      -#       %stop{:offset => ".7", "stop-color" => "#0FF"}
      -#       %stop{:offset => "1", "stop-color" => "#00F"}

      %h3.db-modal-companion-title
        Why DCA?

      -if @profit.present? && @profit.success?
        %h3.db-modal-companion-title= t('ads.dca_2y_profit_html', profit: @profit.data.to_i)

      .db-signup__list

        .db-signup__list__item
          .material-icons check
          %div.db-signup__list__item__text
            Eliminate the need to time the market
        .db-signup__list__item
          .material-icons check
          %div.db-signup__list__item__text
            Buy more coins when prices are low
        .db-signup__list__item
          .material-icons check
          %div.db-signup__list__item__text
            Reduce investment stress and anxiety
        .db-signup__list__item
          .material-icons check
          %div.db-signup__list__item__text
            Get peace of mind and focus on other aspects of life

        -# - t('ads.features').split(';').each do |feature|
        -#   .db-signup__list__item
        -#     .material-icons check
        -#     %div.db-signup__list__item__text= raw feature

    .col-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2.offset-lg-0.col-lg-6.col-xl-5
      %h3.db-modal-title= t('.title_html')

      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        - if @code_present
          = render partial: 'ref_codes/show', locals: { affiliate: @affiliate }

        .db-form__row.db-form__row--input
          = f.text_field :name, value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'

          .db-form__info.db-form__info--invalid
            -if @name_invalid
              = t('.name_invalid')
          = f.label :name, class: "db-form__label"

        .db-form__row.db-form__row--input
          = f.email_field :email, autocomplete: "email", value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'

          .db-form__info.db-form__info--invalid
            -if @email_in_use
              #{@email_in_use}
              = link_to t('links.log_in'), new_session_path(resource_name)
            -elsif @email_suggestion
              = t('.email_suggestion_html', suggestion: @email_suggestion)
            -else
              = t('.email_invalid')
          = f.label :email, class: "db-form__label"

        .db-form__row.db-has-unmask(onselectstart="return false;")
          = f.password_field :password, autocomplete: "new-password", value: "", class: "db-form__input db-form__input--has-icon", onchange: 'this.setAttribute("value", this.value);', id: "passwordInput"

          - if resource.errors.details[:password].present?
            .db-form__info.db-form__info--invalid
              - if resource.errors.details[:password][0][:error] == :too_short
                = t('forms.minimum_length', length: @minimum_password_length)
              - else
                = resource.errors[:password][0]
          = f.label :password, class: "db-form__label"

          .db-unmask{:onclick => "unmaskPassword()"}
            = render "layouts/svg_mi_visibility"
            = render "layouts/svg_mi_visibility-off"
          :javascript
            function unmaskPassword() {
              var x = document.getElementById("passwordInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }

        .db-form__row.db-form__row--check.ml-0
          = f.check_box :terms_and_conditions, class: "form-check-input d-none", checked: "checked"
          = f.label :terms_and_conditions, class: "form-check-label" do
            = raw t('helpers.label.user.terms_and_conditions_tooltip',
                          terms_and_conditions: link_to(t('links.terms_and_conditions'), terms_and_conditions_path),
                          privacy_policy: link_to(t('links.privacy_policy'), privacy_policy_path))

        -# .form-check.mb-4
        -#   = f.check_box :updates_agreement, class: "form-check-input db-selectable"
        -#   = f.label :updates_agreement, class: "form-check-label" do
        -#     I agree to receive rare emails about new features and other updates.

        .db-form__row.db-form__row--final-button
          = invisible_recaptcha_tags text: t('.submit'), class: "btn btn-success btn-lg w-100"
      .db-form__other-links
        = render "devise/shared/links"
