<%= render 'layouts/modal/base' do %>
  <div class="modal modal--full">
    <%= button_tag class: 'modal__close', data: { action: 'modal--base#animateOutCloseAndCleanUp' } do %>
      <%= render partial: 'svg/24x24_x' %>
    <% end %>
    <%= turbo_frame_tag "modal_content" do %>
      <%= yield %>
    <% end %>
  </div>
<% end %>
