<% content_for :body_class, "view--upgrade" %>

<% if BlackFriday.week? && !current_user.subscription.legendary? %>
  <%= render partial: 'layouts/banners/black_friday', locals: { show_upgrade_button: false } %>
<% end %>

<%= turbo_frame_tag "upgrade-frame" do %>

  <div class="page-head">
    <%= form_with url: upgrade_path, method: :get, data: { controller: "form--submit", turbo_frame: "upgrade-frame" }, class: "pricing-period-toggle" do |f| %>
      <% @available_variant_years.each do |years| %>
        <% selected = years == @selected_years %>
        <%= tag.label class: "hide_radio_buttons" do %>
          <%= f.radio_button :years, years, checked: selected, data: { action: "change->form--submit#submit" } %>
          <span><%= t("subscriptions.variant#{years}") %></span>
        <% end %>
        <%= " / " unless years == @available_variant_years.last %>
      <% end %>
    <% end %>
  </div>

  <div class="pricing">
    <%= form_with url: upgrade_path, method: :get, data: { controller: "form--submit", turbo_frame: "upgrade-frame" }, html: { class: "pricing__plans" } do |f| %>
      
      <label class="hide_radio_buttons widget widget--pricing widget--pricing--mini widget--pricing--other">
        <input data-action="change-&gt;form--submit#submit" type="radio" value="basic" name="plan_name" id="plan_name_basic">
          <div class="widget--pricing__name">
          <%= t('subscriptions.mini') %>
        </div>
        <div class="widget--pricing__amount">
          <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
            <span class="price-ticker">$</span>
            <span class="price-amount">9</span>
            <span class="price-period">/mo</span>
          </span>
        </div>
        <ul class="widget--pricing__opt-bots">
          <li><%= t('subscriptions.features.bots_count', count: 5) %></li>
        </ul>
        <small><%= t('subscriptions.features.strategies') %></small>
        <ul class="widget--pricing__opt-strategies">
          <li><%= t('subscriptions.features.dca') %></li>
          <li><%= t('subscriptions.features.rebalanced_dca') %></li>
        </ul>
        <small><%= t('subscriptions.features.optimisations') %></small>
        <ul class="widget--pricing__opt-execution">
          <li><%= t('subscriptions.features.smart_intervals') %></li>
          <li><%= t('subscriptions.features.feecutter') %></li>
        </ul>
        <small><%= t('subscriptions.features.triggers') %></small>
        <ul class="widget--pricing__opt-triggers">
        </ul>
        <small>
          <div class="toggle">
            <input name="bots_dca_dual_asset[limit_ordered]" disabled="disabled" type="hidden" value="0"><input data-action="change->form--submit#submit change->class-toggle#toggle" disabled="disabled" type="checkbox" value="1" name="bots_dca_dual_asset[limit_ordered]" id="bots_dca_dual_asset_limit_ordered">
            <div class="toggle__style"></div>
          </div>
        </small>
        <ul class="widget--pricing__opt-research inactive">
          <li><%= t('subscriptions.features.premium_newsletter') %></li>
          <li><%= t('subscriptions.features.portfolio_analyzer') %></li>
        </ul>
        </label>


      <% @payment_options.each do |available_plan_name, payment_option| %>
        <% selected = @payment.subscription_plan.name == available_plan_name %>
        <%= tag.label class: "hide_radio_buttons widget widget--pricing widget--pricing--#{available_plan_name} widget--pricing--#{selected ? 'selected' : 'other'}" do %>
          <%= f.radio_button :plan_name, available_plan_name, checked: selected, data: { action: "change->form--submit#submit" } %>
          <%= render partial: "upgrades/plan_cards/#{available_plan_name}", locals: {
            reference_payment_option: @reference_payment_options[available_plan_name],
            payment_option: payment_option,
            legendary_plan: @legendary_plan, # only used in legendary plan card
          } %>
        <% end %>
      <% end %>

      <label class="hide_radio_buttons widget widget--pricing widget--pricing--research widget--pricing--other">
        <input data-action="change-&gt;form--submit#submit" type="radio" value="basic" name="plan_name" id="plan_name_basic">
          <div class="widget--pricing__name">
          <%= t('subscriptions.research') %>
        </div>
        <div class="widget--pricing__amount">
          <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
            <span class="price-ticker">$</span>
            <span class="price-amount">14</span>
            <span class="price-period">/mo</span>
          </span>
        </div>
        <ul>
          <li><%= t('subscriptions.features.premium_newsletter') %></li>
          <li><%= t('subscriptions.features.portfolio_analyzer') %></li>
        </ul>
      </label>
    <% end %>

    <%= tag.div class: "pricing__checkout", data: {
      controller: "zaraz",
      zaraz_is_purchase_value: @paid_payment.present?,
      zaraz_currency_value: @paid_payment&.currency&.upcase || @payment.currency.upcase,
      zaraz_name_value: plan_variant_name(@paid_payment&.subscription_plan_variant || @payment.subscription_plan_variant),
      zaraz_price_value: @paid_payment&.price_with_vat || @payment.price_with_vat
    } do %>
      <%= render partial: "upgrades/summary", locals: {
        payment: @payment,
        payment_options: @payment_options,
        legendary_plan: @legendary_plan
      } %>
      <%= render partial: "upgrades/billing_form", locals: { payment: @payment, name_pattern: @name_pattern } %>
    <% end %>
  </div>

<% end %>
