
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%">
  <div class="feature-icon feature-icon--thank-you">
    <img src="<%= asset_path('legendary_badgers/888.svg') %>" alt="Legendary Badger NFT">
  </div> 
  <h1 style="margin-top: 3rem"><%= t('subscriptions.thank_you.title') %></h1>
  <p style="margin-bottom: 4rem"><%= t('subscriptions.thank_you.description', plan_name: "<b>#{@payment.subscription_plan_variant.name.capitalize}</b>").html_safe %></p>

  <%= link_to t('button.back_to_dashboard'), dashboard_path, class: 'button button--large button--primary' %>
</div>
<%= tag.div data: {
      controller: "zaraz",
      zaraz_is_purchase_value: true,
      zaraz_currency_value: @payment.currency.upcase,
      zaraz_name_value: plan_variant_name(@payment.subscription_plan_variant),
      zaraz_price_value: @payment.price_with_vat
    } %>