<% content_for :title, @page_title %>
<% content_for :meta_description, @meta_description %>

<% content_for :head do %>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "<%= j @article.title %>",
  <% if @article.subtitle.present? %>
  "alternativeHeadline": "<%= j @article.subtitle %>",
  <% end %>
  "description": "<%= j(@article.excerpt.present? ? @article.excerpt : @article.render_excerpt) %>",
  <% if @article.published_at.present? %>
  "datePublished": "<%= @article.published_at.iso8601 %>",
  "dateModified": "<%= @article.updated_at.iso8601 %>",
  <% end %>
  <% if @article.author.present? %>
  "author": {
    "@type": "Person",
    "name": "<%= j @article.author.name %>"<% if @article.author.url.present? %>,
    "url": "<%= @article.author.url %>"<% end %>
  },
  <% end %>
  "publisher": {
    "@type": "Organization",
    "name": "Deltabadger",
    "logo": {
      "@type": "ImageObject",
      "url": "<%= asset_url('app-day.png') %>"
    }
  },
  <% if @article.thumbnail_path.present? %>
  "image": {
    "@type": "ImageObject",
    "url": "<%= asset_url(@article.thumbnail_path) %>"
  },
  <% end %>
  <% if @article.reading_time_minutes.present? %>
  "timeRequired": "PT<%= @article.reading_time_minutes %>M",
  <% end %>
  "inLanguage": "<%= @article.locale %>",
  "url": "<%= article_url(@article, locale: @article.locale) %>",
  "isAccessibleForFree": <%= @article.has_paywall? ? 'false' : 'true' %><% if @article.has_paywall? %>,
  "hasPart": [
    {
      "@type": "WebPageElement",
      "isAccessibleForFree": true,
      "cssSelector": ".article-body"
    }
  ]<% end %>
}
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<% end %>

<% if @article.thumbnail_path.present? %>
  <div class="article-bg-top">
    <%= image_tag @article.thumbnail_path, alt: @article.title, class: "article-bg-top__image" %>
  </div>
<% end %>


<article class="article">
  <header class="article__header">
    <%= link_to articles_path, class: "article__header__back" do %>
      <%= t('articles.back_to_articles') %>
    <% end %>

    <hgroup>

    <h1 class="article__header__title"><%= @article.title %></h1>
    <% if @article.subtitle.present? %>
      <div class="article__header__subtitle"><%= @article.subtitle %></div>
    <% end %>
    </hgroup>
    <div class="article__header__meta">
      <% if @article.author.present? %>
        <% if @article.author.url.present? %>
          <a href="<%= @article.author.url %>" class="article__header__meta__author" target="_blank" rel="noopener"><%= @article.author.name %></a>
        <% else %>
          <span class="article__header__meta__author"><%= @article.author.name %></span>
        <% end %>
      <% end %>
      <% if @article.published_at.present? %>
        &middot;
        <time class="article__header__meta__date" datetime="<%= @article.published_at.iso8601 %>">
          <%= l(@article.published_at.to_date, format: :long) %>
        </time>
      <% end %>
      
      <% if @article.reading_time_minutes.present? %>
        &middot;
        <span class="article__header__meta__reading-time">
          <%= t('articles.reading_time', minutes: @article.reading_time_minutes) %>
        </span>
      <% end %>
      
      <% if @article.has_paywall? %>
        &middot;
        <span class="article__header__meta__premium">
          <%= t('articles.premium_content') %>
        </span>
      <% end %>
      
    </div>
  </header>

  <div class="article-body">
    <%= raw @content %>
  </div>
  
  <% if @has_paywall && !@user_has_access %>
    <div class="paywall">
      <h3><%= t('articles.paywall.title') %></h3>
      <p><%= t('articles.paywall.description') %></p>
      <div class="paywall__actions">
        <% if user_signed_in? %>
          <%= link_to t('articles.paywall.upgrade_button'), upgrade_path, class: "button button--primary button--large" %>
        <% else %>
          <%= button_to omniauth_authorize_path(:user, :google_oauth2), method: :post, data: { turbo: false }, class: "button button--google button--large" do %>
            <%= render "svg/google" %>
            <%= t('shared.links.signup_with_google') %>
          <% end %>
          <%# link_to t('links.log_in'), new_user_session_path, class: "button button--link button--large" %>
        <% end %>
      </div>
    </div>
  <% end %>

</article>