<% content_for :title, @article.plain_title %>
<% content_for :meta_description, @article.excerpt %>

<% content_for :head do %>
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @article.plain_title %>">
  <meta property="og:description" content="<%= @article.excerpt %>">
  <meta property="og:url" content="<%= article_url(@article, locale: @article.locale) %>">
  <meta property="og:site_name" content="Deltabadger Research">
  <% if @article.thumbnail_path.present? %>
    <% social_thumbnail = @article.social_thumbnail_path %>
    <meta property="og:image" content="<%= asset_url(social_thumbnail) %>">
    <meta property="og:image:alt" content="<%= @article.plain_title %>">
  <% end %>
  <% if @article.published_at.present? %>
    <meta property="article:published_time" content="<%= @article.published_at.iso8601 %>">
    <meta property="article:modified_time" content="<%= @article.updated_at.iso8601 %>">
  <% end %>
  <% if @article.author.present? %>
    <meta property="article:author" content="<%= @article.author.name %>">
  <% end %>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @article.plain_title %>">
  <meta name="twitter:description" content="<%= @article.excerpt %>">
  <% if @article.thumbnail_path.present? %>
    <meta name="twitter:image" content="<%= asset_url(social_thumbnail) %>">
    <meta name="twitter:image:alt" content="<%= @article.plain_title %>">
  <% end %>

  <script type="application/ld+json">
    <%= raw article_json_ld(@article) %>
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<% end %>

<% if @article.thumbnail_path.present? %>
  <div class="article-bg-top">
    <%= image_tag @article.thumbnail_path, alt: @article.plain_title, class: "article-bg-top__image" %>
  </div>
<% end %>

<article class="article">
  <header class="article__header">
    <%= link_to t('articles.back_to_articles'), articles_path, class: "article__back-link" %>
    <hgroup>
      <h1 class="article__header__title"><%= @article.title.html_safe %></h1>
      <% if @article.subtitle.present? %>
        <div class="article__header__subtitle"><%= @article.subtitle %></div>
      <% end %>
    </hgroup>

    <div class="article__header__meta">
      <% if @article.author.present? %>
        <% if @article.author.url.present? %>
          <a href="<%= @article.author.url %>" class="article__header__meta__author" target="_blank" rel="noopener">
            <div class="article__header__meta__author__avatar" style="background-image: url(<%= @article.author.avatar %>)"></div>
            <%= @article.author.name %></a>
        <% else %>
          <span class="article__header__meta__author"><%= @article.author.name %></span>
        <% end %>
      <% end %>

      <% if @article.published_at.present? %>
        &middot;
        <time class="article__header__meta__date" datetime="<%= @article.published_at.iso8601 %>">
          <%= l(@article.published_at.to_date, format: :long) %>
        </time>
      <% end %>

      <% if @article.reading_time_minutes.present? %>
        &middot;
        <span class="article__header__meta__reading-time">
          <%= t('articles.reading_time', minutes: @article.reading_time_minutes) %>
        </span>
      <% end %>

      <% if @article.paywalled? %>
        &middot;
        <span class="article__header__meta__premium">
          <%= t('articles.premium_content') %>
        </span>
      <% end %>

    </div>
  </header>

  <div class="article-body">
    <%= raw @content %>
  </div>

  <% if (@content_unlocked || !@article.paywalled?) && (@article.x_url.present? || @article.telegram_url.present?) %>
    <div class="article-social-buttons">
      <% if @article.x_url.present? %>
        <%= link_to @article.x_url, class: "button button--x button--large", target: "_blank", rel: "noopener" do %>
          <%= t('articles.like_on_x') %>
        <% end %>
      <% end %>

      <% if @article.telegram_url.present? %>
        <%= link_to @article.telegram_url, class: "button button--primary button--telegram button--large", target: "_blank", rel: "noopener" do %>
          <%= t('articles.join_discussion') %>
          <%= render partial: 'svg/24x24_telegram' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @article.paywalled? && !@content_unlocked %>
    <div class="paywall">
      <h2 style="margin-bottom: 0"><%= t('articles.paywall.title') %></h2>
      <div><%= @article.paywall_hook.present? ? raw(@article.paywall_hook) : t('articles.paywall.description').html_safe %></div>

      <div class="paywall__actions">
        <%= render partial: 'articles/premium_subscribers', locals: { count: @premium_subscribers_count } %>
        <% if user_signed_in? %>
          <%= link_to t('subscriptions.upgrade'), upgrade_path, class: "button button--success button--large" %>
        <% else %>
          <%= button_to omniauth_authorize_path(:user, :google_oauth2), method: :post, data: { turbo: false }, class: "button button--google button--large" do %>
            <%= render "svg/google" %>
            <%= t('shared.links.signup_with_google') %>
          <% end %>
          <%= link_to t('shared.links.signup_with_email'), new_user_registration_path, class: "button button--link button--large" %>
        <% end %>
      </div>
    </div>
  <% end %>

</article>