%h1 Dashboard

%hr

%p= "Number of users: #{number_of_all_users}"
%p= "Number of investor plans: #{number_of_investor_plans}"
%p= "Number of hodler plans: #{number_of_hodler_plans}"
%p= "Number of bots: #{number_of_all_bots}"
%p= "Number of working bots: #{number_of_working_bots}"
-# %p= "Number of all transactions: #{number_of_all_transactions}"
