%h1 Dashboard

%hr

%p= "Number of users: #{number_of_all_users}"
%p= "Number of investor plans: #{number_of_investor_plans}"
%p= "Number of hodler plans: #{number_of_hodler_plans}"
%p= "Number of bots: #{number_of_all_bots}"
%p= "Number of all transactions: #{number_of_all_transactions}"
%p
  %table{:style => "width:100%"}
    %tr
      %th Exchange Name
      %th Sucessful
      %th Failed
      %th Total
    - transations_by_exchange.each do |exchange|
      %tr
        %td= exchange.name
        %td= exchange.successful_transactions
        %td= exchange.failed_transactions
        %td= exchange.total
