%h1 Dashboard

%hr

%p= "Number of users: #{number_of_all_users}"
%p= "Number of unlimited plans: #{number_of_unlimited_plans}"
%p= "Number of bots: #{number_of_all_bots}"
%p= "Number of all transactions: #{number_of_all_transactions}"
