.container.container--signup
  .row
    .d-none.d-lg-block.col-lg-6.col-xl-7.db-signup--text
      %h3.db-modal-companion-title Dollar-cost averaging into<br>Bitcoin is the new standard<br>for long-term savers.
      -# %h3.db-modal-companion-title If you were dollar-cost averaging<br>into Bitcoin for the last year,<br>you're now up <span class="text-success">+123%</span>
      .db-signup__list
        .db-signup__list__item
          .material-icons-round check
          %a.db-signup__list__item__text(href="https://t.me/deltabadgerchat" target="_blank" rel="nofollow") Join our Telegram group
        .db-signup__list__item
          .material-icons-round check
          %a.db-signup__list__item__text(href="https://twitter.com/deltabadgerapp" target="_blank" rel="nofollow")Follow us on Twitter
    .col-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2.offset-lg-0.col-lg-6.col-xl-5
      .db-box
        %h3.db-modal-title Resend unlock instructions
        = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .actions
            = f.submit "Resend unlock instructions"
        = render "devise/shared/links"
