<div class="widget bot-tile">
  <%= link_to bot_path(bot) do %>
    <div class="bot-tile__header">
      <div class="bot-tile__hgroup">
        <div class="bot-tile__title">
          <% if bot.barbell? && bot.quote_asset_id.present? && bot.base0_asset_id.present? && bot.base1_asset_id.present? %>
            <span><%= bot.quote_asset.symbol %></span>
            <span class="bot-tile__operator">&rarr;</span>
            <span>
              <span><%= bot.base0_asset.symbol %></span>,
              <span><%= bot.base1_asset.symbol %></span>
            </span>
          <% elsif bot.basic? && bot.quote.present? && bot.base.present? %>
            <span><%= bot.quote %></span>
            <span class="bot-tile__operator">&rarr;</span>
            <span><%= bot.base %></span>
          <% elsif bot.withdrawal? && bot.currency.present? %>
            <%= bot.currency %>
          <% elsif bot.webhook? && bot.base.present? %>
            <span><%= bot.base %></span>
          <% end %>
          <% if bot.exchange.present? %>
            <%= render "svg/exchange-#{bot.exchange.name_id}", title: bot.exchange.name %>
          <% end %>
          <%# bot_type_label(bot) %>
        </div>
        <div class="bot-tile__subtitle">
          <%= bot.label %>
        </div>
      </div>
      <% if bot.barbell? || bot.basic? %>
        <%= render "bots/bot_tile/bot_tile_pnl", bot: bot, loading: loading_hash[bot.id], pnl: pnl_hash[bot.id] || '' %>
      <% end %>
    </div>
  <% end %>
  <div class="bot-control">
    <% unless bot.webhook? %>
      <%= render "bots/status/status_bar", bot: bot %>
    <% end %>
    <% if bot.legacy? %>
      <%= render "bots/status/status_button_legacy", bot: bot %>
    <% else %>
      <%= render "bots/status/status_button", bot: bot %>
    <% end %>
  </div>
</div>