<% asset_color = ensure_contrast(@asset.color || "#8A9BA8") %>

<%= render layout: 'layouts/modal/full_page', locals: { close_url: rules_path } do %>
  <div class="bot-creation-layout">
    <%= render "bots/new_step_progress_bar", current_step: :pick_exchange, steps: { pick_asset: 20, pick_exchange: 40, api: 60, address: 80, settings: 100 } %>

    <div class="conversational conversational--bot-setup">
      <%= t('rules.withdrawals.sentence.withdraw_all') %>
      <%= link_to @asset.symbol, new_rules_withdrawals_pick_asset_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{asset_color}" %>
      <%= t('rules.withdrawals.sentence.from') %>
      <%= form_with url: new_rules_withdrawals_pick_exchange_path, method: :get, data: { controller: "form--submit-after-delay", turbo_frame: "exchange-picker" } do |f| %>
        <%= f.text_field :query, autofocus: true, autocomplete: "off", placeholder: "…", data: { action: "input->form--submit-after-delay#submit" }, class: "conversational__input sinput" %>
      <% end %>
    </div>

    <%= turbo_frame_tag "exchange-picker", data: { action: "keydown@window->arrow-keys-navigation#navigate", controller: "arrow-keys-navigation" }, class: "modal--search__assets selectable-options" do %>
      <div class="exchange-picker__item exchange-picker__item--header">
        <div>Fees:</div>
        <div><%= t('bot.maker_fee') %></div>
        <div><%= t('bot.taker_fee') %></div>
        <div><%= t('bot.withdrawal_fee') %></div>
      </div>
      <div class="selectable-options">
        <%= form_with url: rules_withdrawals_pick_exchange_path, method: :post do |f| %>
          <% @exchanges.each do |exchange| %>
            <%= render partial: "bots/exchange_search_result", locals: { bot: @bot, exchange: exchange } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
