<%= turbo_frame_tag "backtest-results" do %>
  <% if backtest.present? %>

    <% chart_names = [fill_default_portfolio_label(@portfolio.label)] %>
    <% chart_colors = [nil] %>
    <% chart_labels = [backtest["timeSeries"]["labels"]] %>
    <% chart_series = [backtest["timeSeries"]["series"]] %>
    <% if backtest['compare_to'].present? %>
      <% chart_names += backtest['compare_to'].map { |name, _| fill_default_portfolio_label(name) } %>
      <% chart_colors += backtest['compare_to'].map.with_index { |_, i| fill_default_portfolio_color(i) } %>
      <% chart_labels += backtest['compare_to'].map { |_, b| b["timeSeries"]["labels"] } %>
      <% chart_series += backtest['compare_to'].map { |_, b| b["timeSeries"]["series"] } %>
    <% end %>

    <%= render 'portfolios/backtest_time_adjust_warning', backtest: backtest, portfolio: portfolio %>

    <div class="widget widget--chart">
      <div class="data-grid__item" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
        <div class="label"><%= t('analyzer.pnl') %></div>
        <% profitable = backtest['metrics']['totalReturn'] > 0 %>
        <%= tag.div class: "data-grid__item__value", style: "color: var(--#{profitable ? 'success' : 'danger'})" do %>
          <%= sprintf('%+.0f', (backtest['metrics']['totalReturn'] * 100)) + '%' if backtest['metrics']['totalReturn'].present? %>
        <% end %>
      </div>
      <%= tag.div data: {
        controller: "portfolio-analyzer--chart",
        portfolio_analyzer__chart_names_value: chart_names,
        portfolio_analyzer__chart_colors_value: chart_colors,
        portfolio_analyzer__chart_labels_value: chart_labels,
        portfolio_analyzer__chart_series_value: chart_series,
      } do %>
        <canvas data-portfolio-analyzer--chart-target="analyzerChart" width="200" height="60"></canvas>
      <% end %>

      <%= render "portfolios/compare_to_select", portfolio: portfolio %>
    </div>

    <div class="widget data-grid">

      <% metrics = {
        exp_return: backtest_metric_value(backtest['metrics']['expectedReturn'], percentage: true),
        cagr: backtest_metric_value(backtest['metrics']['cagr'], percentage: true),
        volatility: backtest_metric_value(backtest['metrics']['volatility'], percentage: true),
        max_drawdown: backtest_metric_value(backtest['metrics']['maxDrawdown'], percentage: true),
        var: backtest_metric_value(backtest['metrics']['valueAtRisk'], percentage: true),
        cvar: backtest_metric_value(backtest['metrics']['conditionalValueAtRisk'], percentage: true),
        sharpe_ratio: backtest_metric_value(backtest['metrics']['sharpeRatio']),
        sortino_ratio: backtest_metric_value(backtest['metrics']['sortinoRatio']),
        calmar_ratio: backtest_metric_value(backtest['metrics']['calmarRatio']),
        alpha: backtest_metric_value(backtest['metrics']['alpha'], percentage: true),
        beta: backtest_metric_value(backtest['metrics']['beta']),
        treynor_ratio: backtest_metric_value(backtest['metrics']['treynorRatio']),
        omega_ratio: backtest_metric_value(backtest['metrics']['omegaRatio']),
        r_squared: backtest_metric_value(backtest['metrics']['rSquared']),
        info_ratio: backtest_metric_value(backtest['metrics']['informationRatio'])
      } %>

      <% metrics.each do |key, value| %>
        <div class="data-grid__item" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
          <div class="label">
            <%= t("metrics.#{key}.short_name") %>
          </div>
          <div class="data-grid__item__value">
            <% if ["pro", "legendary"].include?(current_user.subscription.name) || !["cagr", "var", "cvar", "sortino_ratio", "calmar_ratio", "alpha", "beta", "treynor_ratio", "omega_ratio", "r_squared", "info_ratio"].include?(key.to_s) %>
              <%= value %>
            <% else %>
              <%= render 'svg/24x24_lock' %>
            <% end %>
          </div>
          <div class="tooltip">
            <%= t("metrics.#{key}.short_info") %>
          </div>
        </div>
      <% end %>

      <div class="data-grid__item data-grid__item--filler data-grid__item--filler--2 data-grid__item--filler--4 data-grid__item--filler--6"></div>
      <div class="data-grid__item data-grid__item--filler data-grid__item--filler--6"></div>
      <div class="data-grid__item data-grid__item--filler data-grid__item--filler--6"></div>
      <div class="data-grid__item data-grid__item--filler"></div>

    </div>
  <% elsif portfolio.assets.empty? || !portfolio.allocations_are_normalized? %>
    <div class="widget">
      <%= render 'svg/landscape_empty' %>
    </div>
  <% elsif portfolio.backtest_api_error == "No history available for the given parameters" %>
    <div class="insight insight--warning" style="margin-bottom: 2px">
      <%= t('analyzer.assets_dont_coexist', backtest_start_date: portfolio.backtest_start_date) %>
    </div>
    <div class="widget">
      <%= render 'svg/landscape_empty_no_connection' %>
    </div>
  <% else %>
    <div class="insight insight--warning" style="margin-bottom: 2px">
      <%= t('analyzer.api_unreachable') %>
    </div>
    <div class="widget">
      <%= render 'svg/landscape_empty_no_connection' %>
    </div>
  <% end %>
<% end %>
