<%= turbo_frame_tag "backtest-results", class: "gap-1" do %>
  <% if backtest.present? %>

    <% chart_names = [localized_portfolio_label(@portfolio.label)] %>
    <% chart_labels = [backtest["timeSeries"]["labels"]] %>
    <% chart_series = [backtest["timeSeries"]["series"]] %>
    <% if backtest['compare_to'].present? %>
      <% chart_names += backtest['compare_to'].map { |name, _| localized_portfolio_label(name) } %>
      <% chart_labels += backtest['compare_to'].map { |_, b| b["timeSeries"]["labels"] } %>
      <% chart_series += backtest['compare_to'].map { |_, b| b["timeSeries"]["series"] } %>
    <% end %>

    <%= render 'portfolios/backtest_time_adjust_warning', backtest: backtest, portfolio: portfolio %>

    Compare select menu is placed here for testing, we can move it wherever we want:
    <%= render "compare_to_select", portfolio: @portfolio %>

    <div class="widget widget--chart">
      <div class="data-grid__item" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
        <div class="label"><%= t('analyzer.pnl') %></div>
        <% profitable = backtest['metrics']['totalReturn'] > 0 %>
        <%= tag.div class: "data-grid__item__value", style: "color: var(--#{profitable ? 'success' : 'danger'})" do %>
          <%= sprintf('%+.0f', (backtest['metrics']['totalReturn'] * 100)) + '%' if backtest['metrics']['totalReturn'].present? %>
        <% end %>
      </div>
      <%= tag.div data: {
        controller: "portfolio-analyzer-chart",
        portfolio_analyzer_chart_names_value: chart_names,
        portfolio_analyzer_chart_labels_value: chart_labels,
        portfolio_analyzer_chart_series_value: chart_series,
      } do %>
        <canvas data-portfolio-analyzer-chart-target="analyzerChart" width="200" height="60"></canvas>
      <% end %>
    </div>

    <div class="widget data-grid">

      <% metrics = {
        exp_return: sprintf('%.2f%%', (backtest['metrics']['expectedReturn'] * 100)),
        cagr: sprintf('%.2f%%', (backtest['metrics']['cagr'] * 100)),
        max_drawdown: sprintf('%.2f%%', (backtest['metrics']['maxDrawdown'] * 100)),
        volatility: sprintf('%.2f%%', (backtest['metrics']['volatility'] * 100)),
        var: backtest['metrics']['valueAtRisk'].nil? ? '-' : sprintf('%.2f%%', (backtest['metrics']['valueAtRisk'] * 100)),
        cvar: backtest['metrics']['conditionalValueAtRisk'].nil? ? '-' : sprintf('%.2f%%', (backtest['metrics']['conditionalValueAtRisk'] * 100)),
        sharpe_ratio: backtest['metrics']['sharpeRatio'].nil? ? '-' : sprintf('%.2f', backtest['metrics']['sharpeRatio']),
        sortino_ratio: backtest['metrics']['sortinoRatio'].nil? ? '-' : sprintf('%.2f', backtest['metrics']['sortinoRatio']),
        calmar_ratio: backtest['metrics']['calmarRatio'].nil? ? '-' : sprintf('%.2f', backtest['metrics']['calmarRatio']),
        alpha: sprintf('%.2f%%', (backtest['metrics']['alpha'] * 100)),
        beta: sprintf('%.2f', backtest['metrics']['beta']),
        treynor_ratio: sprintf('%.2f', backtest['metrics']['treynorRatio']),
        omega_ratio: backtest['metrics']['omegaRatio'].nil? ? '-' : sprintf('%.2f', backtest['metrics']['omegaRatio']),
        r_squared: sprintf('%.2f', backtest['metrics']['rSquared']),
        info_ratio: sprintf('%.2f', backtest['metrics']['informationRatio'])
      } %>

      <% metrics.each do |key, value| %>
        <div class="data-grid__item" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
          <div class="label">
            <%= t("metrics.#{key}.short_name") %>
          </div>
          <div class="data-grid__item__value">
            <% if ["legendary_badger", "hodler"].include?(current_user.subscription_name) || !["cagr", "var", "cvar", "sortino_ratio", "calmar_ratio", "alpha", "beta", "treynor_ratio", "omega_ratio", "r_squared", "info_ratio"].include?(key.to_s) %>
              <%= value %>
            <% else %>
              <%= render 'svg/24x24_lock' %>
            <% end %>
          </div>
          <div class="tooltip">
            <%= t("metrics.#{key}.short_info") %>
          </div>
        </div>
      <% end %>

      <div class="data-grid__item data-grid__item--filler data-grid__item--filler--2 data-grid__item--filler--4 data-grid__item--filler--6"></div>
      <div class="data-grid__item data-grid__item--filler data-grid__item--filler--6"></div>
      <div class="data-grid__item data-grid__item--filler data-grid__item--filler--6"></div>
      <div class="data-grid__item data-grid__item--filler"></div>

    </div>
  <% elsif portfolio.assets.empty? || !portfolio.allocations_are_normalized? %>
    <div class="widget">
      <%= render 'svg/landscape_empty' %>
    </div>
  <% elsif portfolio.backtest_api_error == "No history available for the given parameters" %>
    <div class="insight insight--warning" style="margin-bottom: 2px">
      <%= t('analyzer.assets_dont_coexist', backtest_start_date: portfolio.backtest_start_date) %>
    </div>
    <div class="widget">
      <%= render 'svg/landscape_empty_no_connection' %>
    </div>
  <% else %>
    <div class="insight insight--warning" style="margin-bottom: 2px">
      <%= t('analyzer.api_unreachable') %>
    </div>
    <div class="widget">
      <%= render 'svg/landscape_empty_no_connection' %>
    </div>
  <% end %>
<% end %>
