<%= turbo_frame_tag "buttons" do %>
  <%= form_with url: portfolio_toggle_smart_allocation_path(portfolio), method: :patch, html: { onchange: "requestSubmit();" } do |form| %>
    <div class="custom-control custom-switch">
      <%= form.check_box :smart_allocation_enabled, class: "custom-control-input", id: "smartAllocationToggle", checked: portfolio.smart_allocation_on?, disabled: portfolio.assets.empty? %>
      <%= label_tag :smart_allocation_enabled, "Smart Allocation", class: "custom-control-label", for: "smartAllocationToggle" %>
    </div>
  <% end %>

  <%= form_with url: portfolio_update_risk_level_path(portfolio),
  method: :patch,
  html: { 
    onchange: "requestSubmit();" 
  },
  data: { 
    controller: "allocations",
    allocations_risk_levels_value: Portfolio.humanized_risk_levels,
    allocations_smart_allocations_value: portfolio.smart_allocation_on? ? portfolio.get_smart_allocations : {},
  } do |form| %>
    <%= form.range_field :risk_level, in: Portfolio.risk_levels.values, step: 1, value: Portfolio.risk_levels[portfolio.risk_level], data: { action: "input->allocations#updateRiskLevel" }, disabled: !portfolio.smart_allocation_on? %>
    <%= form.label :risk_level, portfolio.risk_level.humanize, data: { allocations_target: "riskLevel" } %>
  <% end %>

  <%# <%= button_to "Normalize Allocations", portfolio_normalize_allocations_path(portfolio), method: :post, disabled: portfolio.normalized_allocations? || portfolio.assets.empty? %>
  <%# <%= button_to "Simulate", portfolio_simulate_path(portfolio), method: :post, disabled: !portfolio.normalized_allocations? || portfolio.assets.empty?, data: {turbo_frame: "backtest-results"} %>

  <% unless portfolio.normalized_allocations? || portfolio.assets.empty? %>
    <%= button_to "Normalize Allocations to Simulate", portfolio_normalize_allocations_path(portfolio), method: :post, disabled: portfolio.normalized_allocations? || portfolio.assets.empty? %>
  <% end %>
  <% unless !portfolio.normalized_allocations? || portfolio.assets.empty? %>
    <%= button_to "Simulate", portfolio_simulate_path(portfolio), method: :post, disabled: !portfolio.normalized_allocations? || portfolio.assets.empty?, data: {turbo_frame: "backtest-results"} %>
  <% end %>
<% end %>
