<div id="risk-free-rate" style="display: flex; gap: 2rem; flex-wrap: wrap">
  <%= form_with model: portfolio, url: portfolio_update_risk_free_rate_path(portfolio), method: :patch, data: { controller: "form--submit" } do |form| %>
    <% data = portfolio.limited? ? {
      controller: "turbo-frame-trigger",
      turbo_frame_trigger_url_value: upgrade_upgrade_instructions_path,
      turbo_frame_trigger_frame_value: "modal",
      action: "click->turbo-frame-trigger#loadFrame"
    } : {
      action: "change->form--submit#submit"
    } %>
    <%= form.label :risk_free_rate, t('analyzer.risk_free_rate') + ":", class: "label" %>
    <div class="sinput sinput--number sinput--rate">
      <%= form.number_field :risk_free_rate, step: 0.01, value: sprintf('%.2f', (portfolio.risk_free_rate * 100)), data: data, readonly: portfolio.limited? %>
      <span class="label">%</span>
    </div>
  <% end %>
  <span class="label flex-row gap-1">
    <%= t('analyzer.us_bonds') %>:
    <% data = portfolio.limited? ? {
      controller: "turbo-frame-trigger",
      turbo_frame_trigger_url_value: upgrade_upgrade_instructions_path,
      turbo_frame_trigger_frame_value: "modal",
      action: "click->turbo-frame-trigger#loadFrame"
    } : {} %>
    <% Portfolio::RISK_FREE_RATES.keys.each do |key| %>
        <%= button_to Portfolio::RISK_FREE_RATES[key][:shortname], portfolio_update_risk_free_rate_path(portfolio, risk_free_rate_shortcut: key), method: :patch, title: Portfolio::RISK_FREE_RATES[key][:name], class: "button button--link", data: data %>
    <% end %>
  </span>
</div>
