<%= tag.div id: "risk-free-rate", style: "display: flex; gap: 2rem; flex-wrap: wrap" do %>
  <%= form_with model: portfolio, url: portfolio_update_risk_free_rate_path(portfolio), method: :patch, html: { onchange: "requestSubmit();" } do |form| %>
    <%= form.label :risk_free_rate, "Risk-Free Rate:", class: "label" %>
    <div class="sinput sinput--number sinput--rate">
      <%= form.number_field :risk_free_rate, step: 0.01, value: sprintf('%.2f', (portfolio.risk_free_rate * 100)) %>
      <span class="label">%</span>
    </div>
  <% end %>
  <span class="label flex-row gap-1">
    US Bonds:
    <% Portfolio::RISK_FREE_RATES.keys.each do |key| %>
        <%= button_to Portfolio::RISK_FREE_RATES[key][:shortname], portfolio_update_risk_free_rate_path(portfolio, risk_free_rate_shortcut: key), method: :patch, title: Portfolio::RISK_FREE_RATES[key][:name], class: "sbutton sbutton--link" %>
    <% end %>
  </span>
<% end %>
