<%= turbo_frame_tag "smart-allocation-controls" do %>

  <div class="smart-allocation">
    <%= form_with model: portfolio, url: portfolio_toggle_smart_allocation_path(portfolio), method: :patch, html: { onchange: "requestSubmit();" } do |form| %>
      <div class="toggle toggle--vertical--">
        <%= form.check_box :smart_allocation_on, id: "smartAllocationToggle", disabled: portfolio.assets.empty? %>
        <div class="toggle__style"></div>
        <label class="label">Smart Allocation</label>
      </div>
    <% end %>

    <%= form_with model: portfolio, url: portfolio_update_risk_level_path(portfolio),
    method: :patch,
    html: { 
      onchange: "requestSubmit();" 
    },
    class: "smart-allocation__slider",
    data: { 
      turbo_frame: "backtest-results",
      controller: "allocations",
      allocations_risk_levels_value: Portfolio.humanized_risk_levels,
      allocations_smart_allocations_value: portfolio.smart_allocation_on? ? portfolio.get_smart_allocations : {},
    } do |form| %>
      <div class="stretch-x">
        <div class="label label--select">
          Lowest Volatility
          <select>
            <option selected>Lowest Volatility</option>
            <option disabled>Lowest Max. Drawdown (soon)</option>
          </select>
        </div>
        <div class="label label--select">
          Highest Sharpe Ratio
          <select>
            <option selected>Highest Sharpe Ratio</option>
            <option disabled>Highest Sortino Ratio (soon)</option>
            <option disabled>Highest Exp. Return (soon)</option>
          </select>
        </div>
      </div>
      <div class="slider">
        <%= form.range_field :risk_level, in: Portfolio.risk_levels.values, value: Portfolio.risk_levels[portfolio.risk_level], class: "slider__input", data: { action: "input->allocations#updateRiskLevel" }, disabled: !portfolio.smart_allocation_on? %>
        <div class="slider__style">
          <% disabled_color = "#8894B6" %> <%# move this to css variable? %>
          <% slider_color = portfolio.smart_allocation_on? ? "#2948A1" : disabled_color %>
          <% slider_width = (Portfolio.risk_levels[portfolio.risk_level] / (Portfolio.risk_levels.size - 1).to_f) * 100 %>
          <%= tag.div class: "slider__style__track", style: "border-left-color: #{slider_color};" do %>
            <%= tag.div class: "slider__style__progress", style: "width: #{slider_width}%; background: #{slider_color};", data: { allocations_target: "riskLevelSlider" } do %>
              <%= tag.div class: "slider__style__thumb", style: "background: #{slider_color};" do %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      
    <% end %>
  </div>
<% end %>

