<%= tag.div id: "smart-allocation-controls", class: "smart-allocation" do %>
  <%= form_with model: portfolio, url: portfolio_toggle_smart_allocation_path(portfolio), method: :patch do |form| %>
    <div class="toggle" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
      <%= form.check_box :smart_allocation_on, onchange: "this.form.requestSubmit();" %>
      <div class="toggle__style"></div>
      <%= form.label :smart_allocation_on, t('analyzer.smart_allocation.name'), class: "label" %>
      <svg class="icon-24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" d="M12 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm0 2a10 10 0 1 0 0-20 10 10 0 0 0 0 20Z" clip-rule="evenodd"/><path d="M12 6C10 6 8.6 7.4 8.6 9.5h2.2c0-1 .5-1.5 1.4-1.5.8 0 1.2.4 1.2 1 0 1.4-2.5 2.3-2.5 4.3v.6h2v-.5c0-1.4 2.7-2.1 2.7-4.3 0-1.9-1.3-3.1-3.4-3.1Zm-.2 9.3c-.9 0-1.4.5-1.4 1.3s.5 1.4 1.4 1.4c.8 0 1.4-.6 1.4-1.4 0-.8-.6-1.3-1.4-1.3Z"/></svg>
      <div class="tooltip tooltip--smart-allocation">
        <%= t('analyzer.smart_allocation.short_info_html') %>
      </div>
    </div>
  <% end %>

  <%= form_with model: portfolio, url: portfolio_update_risk_level_path(portfolio),
  method: :patch,
  html: {
    onchange: "requestSubmit();"
  },
  class: "smart-allocation__slider #{'smart-allocation__slider--off' unless portfolio.smart_allocation_on?}",
  data: {
    controller: "allocations",
    allocations_risk_levels_value: Portfolio.humanized_risk_levels,
    allocations_smart_allocations_value: portfolio.smart_allocations,
  } do |form| %>
    <div class="flex-row space-between">
      <div class="label label--select ellipsis">
        <%= t('metrics.volatility.best') %><svg class="icon-16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7L8 10L11 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <select>
          <option selected><%= t('metrics.volatility.best') %></option>
          <option disabled><%= t('metrics.max_drawdown.best') %> <%= t('utils.soon') %></option>
        </select>
      </div>
      <div class="label label--select ellipsis">
        <%= t('metrics.sharpe_ratio.best') %><svg class="icon-16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7L8 10L11 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <select>
          <option selected><%= t('metrics.sharpe_ratio.best') %></option>
          <option disabled><%= t('metrics.sortino_ratio.best') %> <%= t('utils.soon') %></option>
          <option disabled><%= t('metrics.exp_return.best') %> <%= t('utils.soon') %></option>
        </select>
      </div>
    </div>
    <div class="slider">
      <%= form.range_field :risk_level, in: Portfolio.risk_levels.values, value: Portfolio.risk_levels[portfolio.risk_level], class: "slider__input", data: { action: "input->allocations#updateRiskLevel" }, disabled: !portfolio.smart_allocation_on? || portfolio.assets.empty? %>
      <div class="slider__style">
        <% disabled_color = "#8894B6" %> <%# move this to css variable? %>
        <% slider_color = portfolio.smart_allocation_on? ? "#2948A1" : disabled_color %>
        <% slider_width = (Portfolio.risk_levels[portfolio.risk_level] / (Portfolio.risk_levels.size - 1).to_f) * 100 %>
        <%= tag.div class: "slider__style__track", style: "border-left-color: #{slider_color};" do %>
          <%= tag.div class: "slider__style__progress", style: "width: #{slider_width}%; background: #{slider_color};", data: { allocations_target: "riskLevelSlider" } do %>
            <%= tag.div class: "slider__style__thumb", style: "background: #{slider_color};" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

