<div id="strategy-select">
  <%= form_with model: portfolio, url: portfolio_update_strategy_path(portfolio), method: :patch, html: { onchange: "requestSubmit();" }, class: "flex-row" do |form| %>
    <div class="sinput sinput--select">
      <%= t('analyzer.strategy.fixed') %>
      <% Portfolio.strategies.each do |strategy, _| %>
        <%# form.radio_button :strategy, strategy, id: "fixed-#{strategy}" %>
        <%# form.label :strategy, for: "fixed-#{strategy}" do %><%# end %>
        <select>
          <option selected><%= t('analyzer.strategy.fixed') %></option>
          <option disabled><%= t('analyzer.strategy.dca') %> (<%= t('utils.soon') %>)</option>
          <option disabled><%= t('analyzer.strategy.rebalancing') %> (<%= t('utils.soon') %>)</option>
        </select>
      <% end %>
    </div>
  <% end %>
</div>
