<%= link_to sanitize("&larr; Back to portfolio"), portfolio_path(@portfolio) %>

<%= render 'layouts/turbo_modal' do %>
  <button data-action="modals#animateOutCloseAndCleanUp" class="modal__close"><%= render partial: 'svg/24x24_x' %></button>
  <div class="modal__body modal__body--regular">

    <div class="modal__header">
       <h1 class="modal__title"><%= t('analyzer.change_portfolio_name') %></h1>
    </div>

    <%= form_with model: @portfolio, class: "modal__form", data: { turbo_frame: "portfolio", action: "turbo:submit-end->modals#submitEnd" } do |form| %>
      <% if @portfolio.errors.any? %>
        <div class="db-form__info db-form__info--invalid">
          <%= @portfolio.errors.full_messages.to_sentence.capitalize %>
        </div>
      <% end %>
      <div class="db-form__row db-form__row--input">
        <%= form.text_field :label, autofocus: true, data: { controller: "autofocus" }, class: "db-form__input db-form__input--empty" %>
        <%= form.label :label, t('analyzer.portfolio_name') + ":", class: "db-form__label" %>
      </div>
      <div class="db-form__row db-form__row--input">
        <%= form.text_field :color, class: "db-form__input db-form__input--empty" %>
        <%= form.label :color, t('analyzer.portfolio_color') + ":", class: "db-form__label" %>
      </div>
      <%= form.hidden_field :id, value: @portfolio.id %>
      <%= form.submit t('utils.save'), class: "btn btn-success btn-lg" %>
    <% end %>

  </div>
<% end %>
