<%= link_to sanitize("&larr; Back to portfolios"), portfolios_path %>

<%= render 'layouts/turbo_modal' do %>
  <button data-action="modals#animateOutCloseAndCleanUp" class="modal__close"><%= render partial: 'svg/24x24_x' %></button>
  <div class="modal__body modal__body--regular">

    <div class="modal__header">
      <h1 class="modal__title"><%= t('analyzer.new_portfolio') %></h1>
    </div>

    <%= render "form", portfolio: @portfolio %>

  </div>
<% end %>