<div class="columns">
  <div class="column gap-6">

    <%= render "buttons", portfolio: @portfolio %>
    
    <%= render "empty", portfolio: @portfolio %>
    <%= turbo_frame_tag "portfolio-assets", class: "basket" do %>
      <% @portfolio.assets.order(:id).each do |asset| %>
        <%= render 'assets/asset', asset: asset %>
      <% end %>
    <% end %>
    
    <%= link_to new_portfolio_asset_path(@portfolio), class: "basket__remove mt-4", data: { turbo_frame: "modal" } do %>
        <svg class="basket__remove__icon icon-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12H20H4Z"/>
          <path d="M4 12H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4V20V4Z"/>
          <path d="M12 4V20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    <% end %>

    <%= form_with model: @portfolio, url: portfolio_update_strategy_path(@portfolio), method: :patch, html: { onchange: "requestSubmit();" } do |form| %>
      <div class="card-container">
        <p>Strategy:</p>
        <% Portfolio.strategies.each do |strategy, _| %>
          <%= form.radio_button :strategy, strategy, id: "fixed-#{strategy}", class: 'card-input' %>
          <%= form.label :strategy, for: "fixed-#{strategy}", class: "card" do %>
            <div class="card-content">
              <h4><%= strategy.humanize %></h4>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  
  </div>

  <div class="column gap-1">

    <%= form_with model: @portfolio, url: portfolio_update_backtest_start_date_path(@portfolio), method: :patch, html: { onchange: "requestSubmit();" }, data: { turbo_frame: "backtest_results", controller: "flatpickr", flatpickr_lang_value: params[:lang], flatpickr_max_date_value: @backtest_max_date } do |form| %>
      <%= form.label :backtest_start_date, "Backtest Since" %>
      <%= form.text_field :backtest_start_date, class: "fp_date" %>
    <% end %>

    <%= form_with model: @portfolio, url: portfolio_update_benchmark_path(@portfolio), method: :patch, html: { onchange: "requestSubmit();" }, data: { turbo_frame: "backtest_results" } do |form| %>
      <%= form.label :benchmark, "Benchmark" %>
      <%= form.select :benchmark, @benchmark_options, selected: @portfolio.benchmark %>
    <% end %>

    <%= render "backtest_results", backtest: @backtest %>
  
  </div>
</div>

<%= turbo_frame_tag "modal" %>