<% portfolio_label = fill_default_portfolio_label(@portfolio.label) %>
<% other_portfolios = @portfolios.order(:id).select { |portfolio| @portfolio.id != portfolio.id } %>
<%= turbo_frame_tag 'portfolio' do %>
  <div class="page-head">
    <div data-controller="dropdown" data-action="click->dropdown#toggle" data-dropdown-target="wrapper" class="sbutton sbutton--link dropdown-wrapper">
      <%= portfolio_label %>
      <%= render "svg/16x16_down" %>
      <div class="dropdown dropdown--portfolio">
        <%= link_to "#{t('utils.new')} +", new_portfolio_path, class: "dropdown__item", data: { turbo_frame: "modal" } %>
        <% if other_portfolios.any? %>
          <div class="dropdown__item dropdown__item--divider"></div>
          <% other_portfolios.each do |portfolio| %>
            <%= link_to fill_default_portfolio_label(portfolio.label), portfolio_path(portfolio), class: "dropdown__item", data: { turbo_frame: "portfolio" } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex-row">
      <div data-controller="dropdown" data-action="click->dropdown#toggle" data-dropdown-target="wrapper" class="sbutton sbutton--link dropdown-wrapper dropdown-wrapper--right">
        <%= render "svg/24x24_dot_menu" %>
        <div class="dropdown">
          <%= link_to t('utils.change_name'), edit_portfolio_path(@portfolio), class: "dropdown__item", data: { turbo_frame: "modal" } %>
          <%= button_to t('utils.duplicate'), portfolio_duplicate_path(@portfolio), class: "dropdown__item", data: { turbo_frame: "modal" } %>
          <div class="dropdown__item dropdown__item--divider"></div>

          <%= button_to portfolio_path(@portfolio), method: :delete, class: "dropdown__item dropdown__item--danger", data: { turbo_confirm: 'Deleting portfolio: "' + portfolio_label + '". ' + t('utils.are_you_sure') } do %>
            <%= t('utils.delete') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!--

  <%# Newly created portfolio can be added to the Tracker (or stay only in the Analyzer). %>

  <div class="page-head">
    <div class="sbutton sbutton--link">Tracked Portfolio <%= render "svg/16x16_down" %></div>
    <div class="flex-row">
      <div class="sbutton sbutton--success sbutton--outline">Start tracking <%= render "svg/24x24_plus" %></div>
      <div class="sbutton sbutton--link"><%= render "svg/24x24_dot_menu" %></div>
    </div>
  </div>

  <%# Portfolio that is being tracked After changing values "Save" is necessary to apply those changes to tracked portfolio. %>

  <div class="page-head">
    <div class="sbutton sbutton--link">Tracked Portfolio <%= render "svg/16x16_down" %></div>
    <div class="flex-row">
      <div class="sbutton sbutton--outline">Reset</div>
      <div class="sbutton sbutton--success">Save <%= render "svg/24x24_ok" %></div>
      <div class="sbutton sbutton--link"><%= render "svg/24x24_dot_menu" %></div>
    </div>
  </div>

  <%# Syncronized exchange account. After changing values the "Execute" button allows to execute trades to achieve new allocation. %>

  <div class="page-head">
    <div class="sbutton sbutton--link">Binance account <%= render "svg/16x16_down" %></div>
    <div class="flex-row">
      <div class="sbutton sbutton--outline">Reset</div>
      <div class="sbutton sbutton--success">Execute <%= render "svg/24x24_ok" %></div>
      <div class="sbutton sbutton--link"><%= render "svg/24x24_dot_menu" %></div>
    </div>
  </div>

  -->

  <div class="columns">

    <div class="column gap-2 mb-6">

      <%= render "smart_allocation_controls", portfolio: @portfolio %>

      <!--<div class="portfolio-value">
        <div class="label"><%= t('utils.total_value') %> (USD)</div>
        <input type="text" class="numeric-input iu-numeric iu-autowidth" size="1" placeholder="0">
        <div class="basket__remove__icon icon-20" style="background: none; border: none; padding: 0;">
          <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5L10.5 10.5M5.5 10.5L10.5 5.5" stroke="#8894B6" stroke-width="1.5" stroke-linecap="square"></path>
          </svg>
        </div>
      </div>-->

      <div class="widget widget--single">
        <% if @portfolio.assets.empty? %>
          <%= render "empty", portfolio: @portfolio %>
        <% end %>
        <%= tag.div id: "portfolio-active-assets", class: "basket" do %>
          <% @portfolio.active_assets.each do |asset| %>
            <%= render 'assets/asset', asset: asset %>
          <% end %>
        <% end %>
        <% if @portfolio.idle_assets.any? %>
          <%= render "idle_assets_label", portfolio: @portfolio %>
        <% end %>
        <%= tag.div id: "portfolio-idle-assets", class: "basket basket--idle" do %>
          <% @portfolio.idle_assets.each do |asset| %>
            <%= render 'assets/asset', asset: asset %>
          <% end %>
        <% end %>

        <div class="flex-row space-between" data-controller="modal--open-and-submit-on-key-press">

          <%= link_to new_portfolio_asset_path(@portfolio), class: "sbutton sbutton--primary sbutton--add-asset", data: { turbo_frame: "modal", modal__open_and_submit_on_key_press_target: "button" } do %>
              <% render "svg/24x24_plus" %>
          <% end %>
          <%= render "normalize", portfolio: @portfolio %>
        </div>
      </div>
    </div>

    <div class="column gap-1">
      <div class="flex-row space-between wrap gap-1">
        <%= render "strategy_select", portfolio: @portfolio %>
        <%= button_to portfolio_openai_insights_path(@portfolio), method: :get, id: "openai-insights-button", class: "sbutton sbutton--link sbutton--ai", style: "position: relative", data: { turbo_stream: true, turbo_submits_with: "Thinking..." }, disabled: @portfolio.limited? do %>
          <%= t('analyzer.insights') %>
          <%= render "svg/24x24_magic" %>
        <% end %>
      </div>

      <%= render "backtest_results", backtest: @backtest, portfolio: @portfolio, compare_to_portfolios: @compare_to_portfolios %>
      <div class="flex-row gap-2 wrap space-between">
        <%= render "risk_free_rate", portfolio: @portfolio %>
        <%= render "benchmark_select", portfolio: @portfolio %>
      </div>
      <div class="small-info mt-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" viewBox="0 0 24 24">
            <path d="M12 7c.6 0 1 .5 1 1v4c0 .6-.5 1-1 1s-1-.5-1-1V8c0-.6.5-1 1-1zm0-5a10 10 0 100 20 10 10 0 000-20zm0 18a8 8 0 110-16 8 8 0 010 16zm1-3h-2v-2h2v2z"/>
          </svg>
          <div>
          <%= t('analyzer.benchmark_info') %>
          </div>
      </div>
    </div>
  </div>
<% end %>