<h1>Analyze your portfolio</h1>

<%= render "buttons", portfolio: @portfolio %>

<%= render "empty", portfolio: @portfolio %>
<%= turbo_frame_tag "portfolio-assets" do %>
  <div class="smooth">
    <% @portfolio.assets.order(:id).each do |asset| %>
      <%= render 'assets/asset', asset: asset %>
    <% end %>
  </div>
<% end %>

<%= turbo_frame_tag "modal" %>
<%= link_to "Add asset", new_portfolio_asset_path(@portfolio), data: { turbo_frame: "modal" } %>

<%= render "backtest_results", portfolio: @portfolio, labels: @data_labels, series: @data_series %>