<h1>Manage Your Assets</h1>
<%# <div data-controller="toggle"> %>
  <%# <button type="button" data-action="click->toggle#menu"> %>
    <%# Add New Symbol %>
  <%# </button> %>
  <%# <div data-toggle-target="hey">Heyy</div> %>
<%# </div> %>

<%= render "buttons", selected_assets: @selected_assets, smart_allocations_enabled: @smart_allocations_enabled %>
<%= render "empty_portfolio", selected_assets: @selected_assets %>
<%= turbo_frame_tag "selected_assets" do %>
  <% @selected_assets.each do |asset, allocation| %>
    <%= render "asset", asset: asset, allocation: allocation %>
  <% end %>
<% end %>

<%= form_with url: portfolio_analyzer_path, method: :get, data: { controller: "form-submission", turbo_frame: "asset_selector" } do |form| %>
  <%= form.label :query, "Search by name:" %>
  <%= form.text_field :query, data: { action: "input->form-submission#search" } %>
<% end %>
<%= render "asset_selector", query_assets: @query_assets %>

<%= render "data", metrics: @metrics, data_labels: @data_labels, data_series: @data_series %>
