<%= turbo_stream_from "bot_#{bot.id}", :status_bar %>

<%= turbo_frame_tag "bot_#{bot.id}_status_bar", style: "width: 100%; display: flex" do %>
  <div class="bot-control__status <%= 'active' if bot.status == 'working' || bot.status == 'pending' %>">
    <% if bot&.pending? %>
      <%= t('barbell_bots.status.setting_orders') %>
    <% elsif bot&.stopped? %>
      <%= t('barbell_bots.status.paused') %>
    <% elsif bot&.working? || bot&.retrying? %>
      <%= tag.div class: "bot-control__status__bar", style: "min-width:0.5rem; width: #{bot.progress_percentage * 100}%", data: {
        controller: "progress-bar",
        progress_bar_start_time_value: bot.previous_interval_checkpoint_at.iso8601,
        progress_bar_end_time_value: bot.next_action_job_at&.iso8601,
        progress_bar_target: "progressBar",
      } %>
      <%= tag.div data: {
        controller: "countdown",
        countdown_end_time_value: bot.next_action_job_at&.iso8601,
        countdown_hide_if_zero_value: true,
        countdown_days_label_value: t('subscriptions.payment.days_short'),
        countdown_hours_label_value: t('subscriptions.payment.hours_short'),
        countdown_minutes_label_value: t('subscriptions.payment.minutes_short'),
        countdown_seconds_label_value: t('subscriptions.payment.seconds_short')
      } do %>
        <span data-countdown-target="days"></span><span data-countdown-target="daysLabel"></span>
        <span data-countdown-target="hours"></span><span data-countdown-target="hoursLabel"></span>
        <span data-countdown-target="minutes"></span><span data-countdown-target="minutesLabel"></span>
        <span data-countdown-target="seconds"></span><span data-countdown-target="secondsLabel"></span>
      <% end %>
    <% end %>
  </div>
<% end %>
