<% quote_color = ensure_contrast(bot.quote_asset&.color || "#8A9BA8") %>
<% base0_color = ensure_contrast(bot.base0_asset&.color || "#8A9BA8") %>
<% base1_color = ensure_contrast(bot.base1_asset&.color || "#8A9BA8") %>
<% base0_color_transparent = transparent_color(base0_color, bot.allocation0) %>
<% base1_color_transparent = transparent_color(base1_color, 1 - bot.allocation0) %>

<%= form_with model: bot,
              url: bot.new_record? ? barbell_new_step_confirm_bots_path : bot_path(bot),
              method: bot.new_record? ? :get : :patch,
              id: "settings-main",
              class: "widget",
              data: {
                controller: "form--submit form--move-cursor-to-end bot--barbell-allocation",
                bot__barbell_allocation_color0_value: base0_color,
                bot__barbell_allocation_color1_value: base1_color
              } do |f| %>
  <% if bot.new_record? %>
    <%= f.hidden_field :label, value: bot.label %>
    <%= f.hidden_field :base0_asset_id, value: bot.base0_asset_id %>
    <%= f.hidden_field :base1_asset_id, value: bot.base1_asset_id %>
    <%= f.hidden_field :quote_asset_id, value: bot.quote_asset_id %>
    <%= f.hidden_field :exchange_id, value: bot.exchange_id %>
    <%= f.hidden_field :allocation0, value: bot.allocation0 %>
    <%= f.hidden_field :marketcap_allocated, value: bot.marketcap_allocated %>
    <%= f.hidden_field :quote_amount_limited, value: bot.quote_amount_limited %>
    <%= f.hidden_field :quote_amount_limit, value: bot.quote_amount_limit %>
  <% end %>

  <div class="conversational flex-justify-center">
    <%= t('bot.barbell.invest') %>
    <div class="ticker-input ticker-input--autoscale">
      <% value = bot.quote_amount.present? ? bot.quote_amount.to_d.to_s('F').sub(/^(?!0\.0$)([1-9]\d*)\.0$/, '\1') : nil %>
      <%= f.number_field :quote_amount, value: value, class: 'numeric-input', min: 0, step: :any, size: 3, data: { controller: "autowidth-input", action: "change->form--submit#submit input->autowidth-input#resize", form__move_cursor_to_end_target: "input" }, style: "width: 50px;", autofocus: bot.new_record?, disabled: bot.working? %>

      <% if bot.new_record? %>
        <%= link_to bot.quote_asset.symbol, barbell_new_step_from_asset_bots_path({
        bots_barbell: {
          label: bot.label,
          base0_asset_id: bot.base0_asset_id,
          base1_asset_id: bot.base1_asset_id,
          exchange_id: bot.exchange_id
        }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{quote_color}" %>
      <% else %>
        <div class="ticker" style="background: <%= quote_color %>">
          <%= bot.quote_asset.symbol %>
        </div>
      <% end %>
    </div>
    /
    <div class="sinput sinput--select <%= 'sinput--disabled' if bot.working? %>">
      <%= t("bot.#{bot.interval}") %>
      <%= f.select :interval, bot_intervals, { selected: bot.interval }, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
    </div>
  </div>

  <div class="barbell">
    <div class="barbell__plate">
      <% if bot.new_record? %>
        <%= link_to bot.base0_asset.symbol, barbell_new_step_to_first_asset_bots_path({
        bots_barbell: {
          label: bot.label
        }}), data: { turbo_frame: "modal_content", bot__barbell_allocation_target: "allocation0BackgroundColor" }, class: "ticker", style: "background: #{base0_color_transparent}" %>
      <% else %>
        <div class="ticker" style="background: <%= base0_color_transparent %>" data-bot--barbell-allocation-target="allocation0BackgroundColor">
          <%= bot.base0_asset.symbol %>
        </div>
      <% end %>
      <b style="color: <%= base0_color_transparent %>" data-bot--barbell-allocation-target="allocation0Color"><span data-bot--barbell-allocation-target="allocation0Text"><%= (bot.allocation0 * 100).to_i %></span>%</b>
    </div>

    <div class="barbell__bar">
      <div class="slider">
        <%= f.range_field :allocation0, in: 0.0..1.0, step: 0.01, value: bot.allocation0, class: "slider__input numeric-input", data: { bot__barbell_allocation_target: "allocation0", action: "input->bot--barbell-allocation#updateAllocation0 change->form--submit#submit" }, disabled: bot.marketcap_allocated? || bot.working? %>
        <div class="slider__style">
          <%= tag.div class: "slider__style__track", style: "border-left-color: #{base0_color_transparent};  background: #{base1_color_transparent}", data: { bot__barbell_allocation_target: "allocation0SliderTrack" } do %>
            <%= tag.div class: "slider__style__progress", style: "width: #{bot.allocation0 * 100}%; background: #{base0_color_transparent}", data: { bot__barbell_allocation_target: "allocation0SliderProgress" } do %>
              <div class="slider__style__thumb"></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="barbell__plate">
      <% if bot.new_record? %>
        <%= link_to bot.base1_asset.symbol, barbell_new_step_to_second_asset_bots_path({
        bots_barbell: {
          label: bot.label,
          base0_asset_id: bot.base0_asset_id
        }}), data: { turbo_frame: "modal_content", bot__barbell_allocation_target: "allocation1BackgroundColor" }, class: "ticker", style: "background: #{base1_color_transparent}" %>
      <% else %>
        <div class="ticker" style="background: <%= base1_color_transparent %>" data-bot--barbell-allocation-target="allocation1BackgroundColor">
          <%= bot.base1_asset.symbol %>
        </div>
      <% end %>
      <b style="color: <%= base1_color_transparent %>" data-bot--barbell-allocation-target="allocation1Color"><span data-bot--barbell-allocation-target="allocation1Text"><%= ((1 - bot.allocation0).round(2) * 100).to_i %></span>%</b>
    </div>
  </div>
<% end %>