- pending_wire_transfer = !current_user.pending_wire_transfer.nil?

.modal-dialog.m-0(style="max-width: 100%"){:class => ('db-wire-transfer-in-progress' if pending_wire_transfer)}
  .modal-content
    .modal-body
      %ul#payTab.nav.nav-tabs{:role => "tablist"}
        %li.nav-item{:class => [('disabled' if pending_wire_transfer)]}
          %a#log-tab.nav-link.show{"aria-controls" => "payCard", "aria-selected" => "true", "data-toggle" => "tab", :href => "#payCard", :role => "tab", :class => pending_wire_transfer ? 'disabled' : 'active'}= t('subscriptions.payment.credit_card')
        %li.nav-item{:class => ('disabled' if pending_wire_transfer)}
          %a#stats-tab.nav-link{"aria-controls" => "payBitcoin", "aria-selected" => false, "data-toggle" => "tab", :href => "#payBitcoin", :role => "tab" , :class => ('disabled' if pending_wire_transfer)}
            .db-card-providers
              %img.db-card-providers__item.db-card-providers__item--bitcoin{:src => asset_pack_path("media/images/bitcoin-lightning.svg")}
        %li.nav-item{:class => ('disabled' if pending_wire_transfer)}
          %a#log-tab.nav-link{"aria-controls" => "payWire", "aria-selected" => "true", "data-toggle" => "tab", :href => "#payWire", :role => "tab", :class => ('active disabled' if pending_wire_transfer)}= t('subscriptions.payment.wire_transfer')
      #payTabContent.tab-content
        #payCard.tab-pane.show{"aria-labelledby" => "log-tab", :role => "tabpanel", :class => pending_wire_transfer ? 'disabled' : 'active'}
          - if 'investor'.in?(upgrade_presenter.available_plans)
            - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
            %input.db-plan-radio{type: 'radio', id: 'payment_plan_investor_card', name: 'payment[subscription_plan_id]', value: upgrade_presenter.investor_plan.id, checked: investor_selected}
          - if 'hodler'.in?(upgrade_presenter.available_plans)
            - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
            %input.db-plan-radio{type: 'radio', id: 'payment_plan_hodler_card', name: 'payment[subscription_plan_id]', value: upgrade_presenter.hodler_plan.id, checked: hodler_selected}
          %script{:src => 'https://js.stripe.com/v3/'}
          %script{:src => 'https://polyfill.io/v3/polyfill.js?version=3.52.1&features=fetch'}
          :javascript
            const stripe = Stripe("pk_test_tyVNuRkisL9Bv8RH7Rgxx6bV00t3lEYuWh",{locale: "#{I18n.locale}"});
            function subscription_info() {
            const country_element = document.getElementById("payment_country_card");
            const country_name = country_element.options[country_element.selectedIndex].value;
            return {subscription_plan_id: document.getElementById("payment_plan_hodler_card").checked ? 3 : 2,
                      country: country_name}
            };
            var updating = false;
            var payment_intent_id = '';
            function set_payment_intent() {
              document.getElementsByClassName("card-submit").disabled = true;
              if(updating){
                fetch("/update-payment-intent", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify({...subscription_info(), ...{payment_intent_id: payment_intent_id}})
              })
              }
              else {
              updating = true;
              fetch("/create-payment-intent", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify(subscription_info())
              })
              .then(function(result) {
                return result.json();
              })
              .then(function(data) {
                payment_intent_id = data.payment_intent_id;
                const elements = stripe.elements();
                const card_number = elements.create("cardNumber", {showIcon: true});
                const card_exp = elements.create("cardExpiry");
                const card_cvc = elements.create("cardCvc");
                card_number.mount("#card-number");
                card_exp.mount("#card-exp");
                card_cvc.mount("#card-cvc");

                card_number.on("change", function (event) {
                  document.getElementsByClassName("card-submit").disabled = event.empty;
                  document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
                });

                card_exp.on("change", function (event) {
                  document.getElementsByClassName("card-submit").disabled = event.empty;
                  document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
                });

                card_cvc.on("change", function (event) {
                  document.getElementsByClassName("card-submit").disabled = event.empty;
                  document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
                });
                const form = document.getElementById('payment-form')
                form.addEventListener("submit", function(event) {
                  event.preventDefault();
                  payWithCard(stripe, card_number, data.clientSecret);
                });
              });
              const payWithCard = function(stripe, card, clientSecret) {
              loading(true);
              stripe
                .confirmCardPayment(clientSecret, {
                  payment_method: {
                    card: card
                  }
                })
                .then(function(result) {
                  if (result.error) {
                    showError(result.error.message);
                  } else {
                    orderComplete(result.paymentIntent.id);
                  }
                });
              };
              const orderComplete = function(paymentIntentId) {
              loading(false);
              document.getElementsByClassName("card-submit").disabled = true;
              confirmPayment(paymentIntentId).then(function(data) {
                if(data.payment_status === "succeeded"){
                  document.querySelector(".result-message").classList.remove("hidden");
                }
                else{
                  document.querySelector(".result-message").textContent = "Payment failed. Reload the page to try again.";
                  document.querySelector(".result-message").classList.remove("hidden");
                }
              })
            };

            const showError = function(errorMsgText) {
              loading(false);
              const errorMsg = document.querySelector("#card-error");
              errorMsg.textContent = errorMsgText;
              setTimeout(function() {
                errorMsg.textContent = "";
              }, 4000);
            };
            const loading = function(isLoading) {
              if (isLoading) {
                document.getElementsByClassName("card-submit").disabled = true;
                document.querySelector("#spinner").classList.remove("hidden");
                document.querySelector("#button-text").classList.add("hidden");
              } else {
                document.getElementsByClassName("card-submit").disabled = false;
                document.querySelector("#spinner").classList.add("hidden");
                document.querySelector("#button-text").classList.remove("hidden");
              }
            };
            function confirmPayment(paymentIntentId) {
              return fetch("/confirm-card-payment", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({payment_intent_id: paymentIntentId})
              })
              .then(function(result) {
                  return result.json();
              })
              .then(function(data) {
                  return data;
              })
            }
            }
            }

          %body.card-body
            .country_card_input
              %select#payment_country.db-form__input.db-form__input--select{:autocomplete => "country-name", :id => 'card', :name => "payment[country]", :onchange => "this.setAttribute(\"value\", this.value);", :onfocus => "this.setAttribute(\"value\", this.value);", :value => "", :disabled => pending_wire_transfer}
                - cost_presenters.each do |country, presenter|
                  - selected = country == payment.country
                  - translated_name = country
                  - if translated_name == 'Other'
                    - translated_name = t('helpers.label.payment.other')
                  = content_tag :option, translated_name, value: country, selected: selected, data: { ibp: presenter[:investor].base_price, hbp: presenter[:hodler].base_price, ifd: presenter[:investor].flat_discount, hfd: presenter[:hodler].flat_discount, idp:presenter[:investor].flat_discounted_price, hdp:presenter[:hodler].flat_discounted_price, idpa: presenter[:investor].discount_percent_amount, hdpa: presenter[:hodler].discount_percent_amount, vp: presenter[:investor].vat_integer, itv: presenter[:investor].total_vat, htv: presenter[:hodler].total_vat, itp: presenter[:investor].total_price, htp: presenter[:hodler].total_price }
              %label.db-form__label{:for => "payment_country"}= t('helpers.label.payment.country')
            %form#payment-form.card-form
              #card-number
              %div#data-row
                #card-exp
                #card-cvc
              %button.submit.card-submit
                #spinner.spinner.hidden
                %span#button-text Pay now
              %p#card-error.card-error{:role => "alert"}
              %p.result-message.hidden
                = t('subscriptions.payment.card_payment_succeeded')
        #payBitcoin.tab-pane{"aria-labelledby" => "stats-tab", :role => "tabpanel", :class => ('disabled' if pending_wire_transfer)}
          %h4.mb-4= t('subscriptions.payment.billing_information')
          = form_for payment, url: upgrade_pay_path do |f|
            - if 'investor'.in?(upgrade_presenter.available_plans)
              - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
              %input.db-plan-radio{type: 'radio', id: 'payment_plan_investor', name: 'payment[subscription_plan_id]', value: upgrade_presenter.investor_plan.id, checked: investor_selected, :class => ('disabled' if pending_wire_transfer)}
            - if 'hodler'.in?(upgrade_presenter.available_plans)
              - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
              %input.db-plan-radio{type: 'radio', id: 'payment_plan_hodler', name: 'payment[subscription_plan_id]', value: upgrade_presenter.hodler_plan.id, checked: hodler_selected, :class => ('disabled' if pending_wire_transfer)}

            .db-form__row
              = f.text_field :first_name, class: 'db-form__input', value: "", autocomplete: "given-name", onchange: 'this.setAttribute("value", this.value);'
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.first_name') + ' ' + t('errors.messages.blank')
              = f.label :first_name, class: 'db-form__label'

            .db-form__row
              = f.text_field :last_name, class: 'db-form__input', value: "", autocomplete: "family-name", onchange: 'this.setAttribute("value", this.value);'
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.last_name') + ' ' + t('errors.messages.blank')
              = f.label :last_name, class: 'db-form__label'

            .db-form__row
              = f.date_field :birth_date, value: "", autocomplete: "bday", class: 'db-form__input db-form__input--date', onchange: 'this.setAttribute("value", this.value);'
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.birth_date') + ' ' + t('errors.messages.blank')
              = f.label :birth_date, class: 'db-form__label'

            .db-form__row
              = f.select :country, nil, {}, value: "", autocomplete: "country-name", class: 'db-form__input db-form__input--select', onchange: 'this.setAttribute("value", this.value);', onfocus: 'this.setAttribute("value", this.value);' do
                - cost_presenters.each do |country, presenter|
                  - selected = country == payment.country
                  - translated_name = country
                  - if translated_name == 'Other'
                    - translated_name = t('helpers.label.payment.other')
                  = content_tag :option, translated_name, value: country, selected: selected, data: { ibp: presenter[:investor].base_price, hbp: presenter[:hodler].base_price, ifd: presenter[:investor].flat_discount, hfd: presenter[:hodler].flat_discount, idp:presenter[:investor].flat_discounted_price, hdp:presenter[:hodler].flat_discounted_price, idpa: presenter[:investor].discount_percent_amount, hdpa: presenter[:hodler].discount_percent_amount, vp: presenter[:investor].vat_integer, itv: presenter[:investor].total_vat, htv: presenter[:hodler].total_vat, itp: presenter[:investor].total_price, htp: presenter[:hodler].total_price }
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.country') + ' ' + t('errors.messages.blank')
              = f.label :country, class: 'db-form__label'

            .db-form__row.db-form__row--final-button
              %button.btn.btn-success.btn-lg.w-100.px-1{type: 'submit'}
                %span.mr-0= t('subscriptions.payment.pay_with_bitcoin')
                %svg.ml-1{class: 'db-bot__svg-icon db-svg-icon db-svg-icon--arrow-forward', xmlns: 'http://www.w3.org/2000/svg', width: '24', viewBox: '0 0 24 24'}
                  %path{d: 'M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z'}
        #payWire.tab-pane{"aria-labelledby" => "log-tab", :role => "tabpanel", :class => ('active' if pending_wire_transfer)}
          %h4.mb-4= t('subscriptions.payment.billing_information')
          %form#new_payment.new_payment{"accept-charset" => "UTF-8", :action => "/en/upgrade/wire_transfer", :method => "post"}
            - if 'investor'.in?(upgrade_presenter.available_plans)
              - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
              %input.db-plan-radio{type: 'radio', id: 'payment_plan_investor_wire', name: 'payment[subscription_plan_id]', value: upgrade_presenter.investor_plan.id, checked: investor_selected}
            - if 'hodler'.in?(upgrade_presenter.available_plans)
              - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
              %input.db-plan-radio{type: 'radio', id: 'payment_plan_hodler_wire', name: 'payment[subscription_plan_id]', value: upgrade_presenter.hodler_plan.id, checked: hodler_selected}

            .db-form__row
              %input#payment_first_name.db-form__input{:autocomplete => "given-name", :id => 'wire', :name => "payment[first_name]", :onchange => "this.setAttribute(\"value\", this.value);", :type => "text", :value => "", :disabled => pending_wire_transfer}
              %label.db-form__label{:for => "payment_first_name"}= t('helpers.label.payment.first_name')
            .db-form__row
              %input#payment_last_name.db-form__input{:autocomplete => "family-name", :id => 'wire', :name => "payment[last_name]", :onchange => "this.setAttribute(\"value\", this.value);", :type => "text", :value => "", :disabled => pending_wire_transfer}
              %label.db-form__label{:for => "payment_last_name"}= t('helpers.label.payment.last_name')
            .db-form__row
            .db-form__row
              %select#payment_country.db-form__input.db-form__input--select{:autocomplete => "country-name", :id => 'wire', :name => "payment[country]", :onchange => "this.setAttribute(\"value\", this.value);", :onfocus => "this.setAttribute(\"value\", this.value);", :value => "", :disabled => pending_wire_transfer}
                - cost_presenters.each do |country, presenter|
                  - selected = country == payment.country
                  - translated_name = country
                  - if translated_name == 'Other'
                    - translated_name = t('helpers.label.payment.other')
                  = content_tag :option, translated_name, value: country, selected: selected, data: { ibp: presenter[:investor].base_price, hbp: presenter[:hodler].base_price, ifd: presenter[:investor].flat_discount, hfd: presenter[:hodler].flat_discount, idp:presenter[:investor].flat_discounted_price, hdp:presenter[:hodler].flat_discounted_price, idpa: presenter[:investor].discount_percent_amount, hdpa: presenter[:hodler].discount_percent_amount, vp: presenter[:investor].vat_integer, itv: presenter[:investor].total_vat, htv: presenter[:hodler].total_vat, itp: presenter[:investor].total_price, htp: presenter[:hodler].total_price }
              %label.db-form__label{:for => "payment_country"}= t('helpers.label.payment.country')
            .db-form__row--visible{:id => 'please_fill_wire_form'}
              = t('subscriptions.payment.wire_transfer_fill_form')
            - if pending_wire_transfer
              .db-form__row
                = t('subscriptions.payment.wire_transfer_pending')
              .db-form__row
                - name = @subscription_plan_repository.find(current_user.pending_plan_id).name
                - if name == 'hodler'
                  - price = cost_presenters[current_user.pending_wire_transfer][:hodler].total_price
                - else
                  - price = cost_presenters[current_user.pending_wire_transfer][:investor].total_price

                = t('subscriptions.payment.wire_cost_pending_html', sign: current_user.pending_wire_transfer.downcase == 'other' ? '$' : '€', price: price)
            - else
              .db-form__row--hidden{:id => 'wire_costs'}
                - if 'investor'.in?(upgrade_presenter.available_plans)
                  %span.db-show--investor
                    = t('subscriptions.payment.wire_cost_investor_html', price: cost_presenters[payment.country][:investor].total_price)
                - if 'hodler'.in?(upgrade_presenter.available_plans)
                  %span.db-show--hodler
                    = t('subscriptions.payment.wire_cost_hodler_html', price: cost_presenters[payment.country][:hodler].total_price)

            .db-form__row--hidden{:id => 'wire_form_eu'}

              %h5.mt-5= t('subscriptions.payment.account_holder')
              %p Deltabadger OU
              %h5 BIC
              %p TRWIBEB1XXX
              %h5= "IBAN (" + t('subscriptions.payment.eu_bank_country') + ")"
              %p BE83 9670 6500 4615
              %h5= t('subscriptions.payment.bank_address')
              %p
                Avenue Louise 54, Room S52<br>
                Brussels<br>
                1050<br>
                Belgium
              - unless pending_wire_transfer
                .db-form__row.db-form__row--final-button
                  %button.btn.btn-success.btn-lg.w-100.px-1{:type => "submit"}
                    %span.mr-0= t('subscriptions.payment.paid_with_wire_transfer')
            .db-form__row--hidden{:id => 'wire_form_other'}
              %h5.mt-5= t('subscriptions.payment.account_holder')
              %p Deltabadger OU
              %h5 Routing number
              %p 084009519
              %h5 Account number
              %p 9600 0000 0051 1836
              %h5 Account type
              %p Checking
              %h5= t('subscriptions.payment.bank_address')
              %p
                TransferWise<br>
                19 W 24th Street<br>
                New York NY 10010<br>
                United States
              - unless pending_wire_transfer
                .db-form__row.db-form__row--final-button
                  %button.btn.btn-success.btn-lg.w-100.px-1{:type => "submit"}
                    %span.mr-0= t('subscriptions.payment.paid_with_wire_transfer_other')
