<%= turbo_frame_tag "billing-form-frame", class: "pricing__checkout__pay" do %>

  <%= form_with url: upgrade_path, method: :get, data: { controller: "form--submit", turbo_frame: "billing-form-frame" }, class: "pricing__payment-methods" do |f| %>
      <% if SettingFlag.show_zen_payment? %>
        <%= tag.label class: "hide_radio_buttons pricing__payment-method" do %>
          <%= f.radio_button :payment_type, 'zen', checked: payment.by_zen?, data: { action: "change->form--submit#submit" } %>
          <div class="pricing__payment-method__tab">
            <%= image_tag "mastercard.svg", alt: "", class: "db-card-providers__item db-card-providers__item--mastercard" %>
            <%= image_tag "visa.svg", alt: "", class: "db-card-providers__item db-card-providers__item--visa" %>
          </div>
        <% end %>
      <% end %>
      <% if SettingFlag.show_bitcoin_payment? %>
        <%= tag.label class: "hide_radio_buttons pricing__payment-method" do %>
          <%= f.radio_button :payment_type, 'bitcoin', checked: payment.by_bitcoin?, data: { action: "change->form--submit#submit" } %>
          <div class="pricing__payment-method__tab">
            <%= image_tag "bitcoin.svg", alt: "", class: "db-card-providers__item db-card-providers__item--lightning" %>
          </div>
        <% end %>
      <% end %>
      <% if SettingFlag.show_wire_payment? %>
        <%= tag.label class: "hide_radio_buttons pricing__payment-method" do %>
          <%= f.radio_button :payment_type, 'wire', checked: payment.by_wire?, data: { action: "change->form--submit#submit" } %>
          <div class="pricing__payment-method__tab">
            <%= t('subscriptions.payment.wire_transfer') %>
          </div>
        <% end %>
      <% end %>
  <% end %>

  <div class="widget widget--checkout">
    <div id="payTabContent" class="tab-content">
      <div id="payZen" class="tab-pane <%= 'active' if payment.by_zen? %>" aria-labelledby="log-tab" role="tabpanel">
        <%= render partial: "country_form", locals: { payment: payment } %>
        <%= form_with model: payment, url: upgrade_path do |f| %>

          <%= f.button type: "submit", data: { turbo: false, action: "click->zaraz#trackBeginCheckoutEvent", zaraz_target: "button" }, class: "btn btn-success btn-lg w-100", disabled: payment.price_with_vat == 0 do %>
            <%= t('subscriptions.payment.pay_html', amount_html: localized_price(payment.price_with_vat, payment.currency)) %>
          <% end %>

        <% end %>
      </div>

      <div id="payBitcoin" class="tab-pane <%= 'active' if payment.by_bitcoin? %>" aria-labelledby="log-tab" role="tabpanel">
        <%= render partial: "country_form", locals: { payment: payment } %>
        <%= form_with model: payment, url: upgrade_path, data: { controller: "form--html5-validations form--label-animations" } do |f| %>
          <div class="db-form__row">
            <%= f.text_field :first_name, class: 'db-form__input', autocomplete: "given-name", required: true %>
            <%= f.label :first_name, class: 'db-form__label' %>
          </div>
          <div class="db-form__row">
            <%= f.text_field :last_name, class: 'db-form__input', autocomplete: "family-name", required: true %>
            <%= f.label :last_name, class: 'db-form__label' %>
          </div>
          <div class="db-form__row">
            <%= f.date_field :birth_date, autocomplete: "bday", max: 18.years.ago, class: 'db-form__input db-form__input--date', required: true %>
            <%= f.label :birth_date, class: 'db-form__label' %>
          </div>

          <%= f.button type: "submit", data: { turbo: false, action: "click->zaraz#trackBeginCheckoutEvent", zaraz_target: "button" }, class: "btn btn-success btn-lg w-100", disabled: payment.price_with_vat == 0 do %>
            <%= t('subscriptions.payment.pay_with_bitcoin') %>
          <% end %>

        <% end %>
      </div>

      <div id="payWire" class="tab-pane <%= 'active' if payment.by_wire? %>" aria-labelledby="log-tab" role="tabpanel">
        <%= render partial: "country_form", locals: { payment: payment } %>
        <%= form_with model: payment, url: upgrade_path, data: { controller: "form--html5-validations form--label-animations" } do |f| %>
          <div class="db-form__row">
            <%= f.text_field :first_name, class: 'db-form__input', autocomplete: "given-name", required: true %>
            <%= f.label :first_name, class: 'db-form__label' %>
          </div>
          <div class="db-form__row">
            <%= f.text_field :last_name, class: 'db-form__input', autocomplete: "family-name", required: true %>
            <%= f.label :last_name, class: 'db-form__label' %>
          </div>
          <div id="wire_costs" class="db-form__row--hidden">
            <%= t('subscriptions.payment.wire_cost_html', price: localized_price(payment.price_with_vat, payment.currency)) %>
          </div>
          <%= render partial: "wire_info", locals: { payment: payment } %>

            <%= f.button type: "submit", data: { turbo: false, action: "click->zaraz#trackBeginCheckoutEvent", zaraz_target: "button" }, class: "btn btn-success btn-lg w-100", disabled: payment.price_with_vat == 0 do %>
              <%= payment.from_eu? ?
                t('subscriptions.payment.paid_with_wire_transfer') :
                t('subscriptions.payment.paid_with_wire_transfer_other')
              %>
            <% end %>

        <% end %>
      </div>
    </div>
  </div>
<% end %>