- pending_wire_transfer = !current_user.pending_wire_transfer.nil?
%head
  %script{:src => 'https://js.stripe.com/v3/'}
  %script{:src => 'https://polyfill.io/v3/polyfill.js?version=3.52.1&features=fetch'}
  %script{:defer => "defer", :src => "card_client.js"}

.modal-dialog.m-0(style="max-width: 100%"){:class => ('db-wire-transfer-in-progress' if pending_wire_transfer)}
  .modal-content
    .modal-body
      %ul#payTab.nav.nav-tabs{:role => "tablist"}
        %li.nav-item{:class => ('disabled' if pending_wire_transfer)}
          %a#stats-tab.nav-link{"aria-controls" => "payBitcoin", "aria-selected" => "true", "data-toggle" => "tab", :href => "#payBitcoin", :role => "tab" , :class => (pending_wire_transfer ? 'disabled' : 'active')}
            .db-card-providers
              %img.db-card-providers__item.db-card-providers__item--bitcoin{:src => asset_pack_path("media/images/bitcoin-lightning.svg")}
        %li.nav-item{:class => ('disabled' if pending_wire_transfer)}
          %a#log-tab.nav-link{"aria-controls" => "payWire", "aria-selected" => "true", "data-toggle" => "tab", :href => "#payWire", :role => "tab", :class => ('active disabled' if pending_wire_transfer)}= t('subscriptions.payment.wire_transfer')
      #payTabContent.tab-content
        #payBitcoin.tab-pane.show{"aria-labelledby" => "stats-tab", :role => "tabpanel", :class => ('active' unless pending_wire_transfer)}
          %h4.mb-4= t('subscriptions.payment.billing_information')
          = form_for payment, url: upgrade_pay_path do |f|
            - if 'investor'.in?(upgrade_presenter.available_plans)
              - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
              %input.db-plan-radio{type: 'radio', id: 'payment_plan_investor', name: 'payment[subscription_plan_id]', value: upgrade_presenter.investor_plan.id, checked: investor_selected, :class => ('disabled' if pending_wire_transfer)}
            - if 'hodler'.in?(upgrade_presenter.available_plans)
              - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
              %input.db-plan-radio{type: 'radio', id: 'payment_plan_hodler', name: 'payment[subscription_plan_id]', value: upgrade_presenter.hodler_plan.id, checked: hodler_selected, :class => ('disabled' if pending_wire_transfer)}

            .db-form__row
              = f.text_field :first_name, class: 'db-form__input', value: "", autocomplete: "given-name", onchange: 'this.setAttribute("value", this.value);'
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.first_name') + ' ' + t('errors.messages.blank')
              = f.label :first_name, class: 'db-form__label'

            .db-form__row
              = f.text_field :last_name, class: 'db-form__input', value: "", autocomplete: "family-name", onchange: 'this.setAttribute("value", this.value);'
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.last_name') + ' ' + t('errors.messages.blank')
              = f.label :last_name, class: 'db-form__label'

            .db-form__row
              = f.date_field :birth_date, value: "", autocomplete: "bday", class: 'db-form__input db-form__input--date', onchange: 'this.setAttribute("value", this.value);'
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.birth_date') + ' ' + t('errors.messages.blank')
              = f.label :birth_date, class: 'db-form__label'

            .db-form__row
              = f.select :country, nil, {}, value: "", autocomplete: "country-name", class: 'db-form__input db-form__input--select', onchange: 'this.setAttribute("value", this.value);', onfocus: 'this.setAttribute("value", this.value);' do
                - cost_presenters.each do |country, presenter|
                  - selected = country == payment.country
                  - translated_name = country
                  - if translated_name == 'Other'
                    - translated_name = t('helpers.label.payment.other')
                  = content_tag :option, translated_name, value: country, selected: selected, data: { ibp: presenter[:investor].base_price, hbp: presenter[:hodler].base_price, ifd: presenter[:investor].flat_discount, hfd: presenter[:hodler].flat_discount, idp:presenter[:investor].flat_discounted_price, hdp:presenter[:hodler].flat_discounted_price, idpa: presenter[:investor].discount_percent_amount, hdpa: presenter[:hodler].discount_percent_amount, vp: presenter[:investor].vat_integer, itv: presenter[:investor].total_vat, htv: presenter[:hodler].total_vat, itp: presenter[:investor].total_price, htp: presenter[:hodler].total_price }
              .db-form__info.db-form__info--invalid
                = t('helpers.label.payment.country') + ' ' + t('errors.messages.blank')
              = f.label :country, class: 'db-form__label'

            .db-form__row.db-form__row--final-button
              %button.btn.btn-success.btn-lg.w-100.px-1{type: 'submit'}
                %span.mr-0= t('subscriptions.payment.pay_with_bitcoin')
                %svg.ml-1{class: 'db-bot__svg-icon db-svg-icon db-svg-icon--arrow-forward', xmlns: 'http://www.w3.org/2000/svg', width: '24', viewBox: '0 0 24 24'}
                  %path{d: 'M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z'}

        #payWire.tab-pane{"aria-labelledby" => "log-tab", :role => "tabpanel", :class => ('active' if pending_wire_transfer)}
          %card-body
            %form#payment-form
              #card-element
              %button#submit
                #spinner.spinner.hidden
                %span#button-text Pay now
              %p#card-error{:role => "alert"}
              %p.result-message.hidden
                Payment succeeded, see the result in your
                %a{:href => "", :target => "_blank"} Stripe dashboard.
                Refresh the page to pay again.