- if upgrade_presenter.upgrade_available?
  %h4.db-modal__subtitle Billing information
  = form_for payment, url: upgrade_pay_path do |f|
    - if errors.present?
      %ul.pl-3
        - errors.each do |error|
          %li.text-danger= error

    - if 'investor'.in?(upgrade_presenter.available_plans)
      - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
      %input.db-plan-radio{type: 'radio', id: 'payment_plan_investor', name: 'payment[subscription_plan_id]', value: upgrade_presenter.investor_plan.id, checked: investor_selected}
    - if 'hodler'.in?(upgrade_presenter.available_plans)
      - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
      %input.db-plan-radio{type: 'radio', id: 'payment_plan_hodler', name: 'payment[subscription_plan_id]', value: upgrade_presenter.hodler_plan.id, checked: hodler_selected}

    .form-group
      = f.label :first_name, 'Name'
      = f.text_field :first_name, class: 'form-control form-control-lg'

    .form-group
      = f.label :last_name, 'Surname'
      = f.text_field :last_name, class: 'form-control form-control-lg'

    .form-group
      = f.label :birth_date
      = f.date_field :birth_date, class: 'form-control form-control-lg'

    .form-group
      = f.label :country
      = f.select :country, nil, {}, class: 'form-control form-control-lg' do
        - cost_presenters.each do |country, presenter|
          - selected = country == payment.country
          = content_tag :option, country, value: country, selected: selected, data: { ibp: presenter[:investor].base_price, hbp: presenter[:hodler].base_price, ifd: presenter[:investor].flat_discount, hfd: presenter[:hodler].flat_discount, idpa: presenter[:investor].discount_percent_amount, hdpa: presenter[:hodler].discount_percent_amount, vp: presenter[:investor].vat_integer, itv: presenter[:investor].total_vat, htv: presenter[:hodler].total_vat, itp: presenter[:investor].total_price, htp: presenter[:hodler].total_price }

    .form-group.db-form-group--main-btn
      %button.btn.btn-success.btn-lg.w-100.px-1{type: 'submit'}
        %span.mr-0 Pay with Bitcoin
        %svg.ml-1{class: 'db-bot__svg-icon db-svg-icon db-svg-icon--arrow-forward', xmlns: 'http://www.w3.org/2000/svg', width: '24', viewBox: '0 0 24 24'}
          %path{d: 'M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z'}
