<% if current_user.subscription.paid? %>
  <div class="widget widget--discount db-plan-active-discount">
    <div class="widget--discount__col">
      <div class="widget--discount__name"><%= t('subscriptions.payment.active_plan_discount') %></div>
      <div class=""><%= t("subscriptions.payment.compensation_#{current_user.subscription.name}", count: current_user.subscription.days_left) %></div>
    </div>
    <div class="widget--discount__col">
      -<%= localized_price(payment.current_plan_discount_amount, payment.currency) %>
    </div>
  </div>
<% end %>

<% if current_user.eligible_referrer.present? %>
  <% discount_presenter = RefCodesPresenter.new(current_user.eligible_referrer) %>
  <div class="widget widget--discount">
    <div class="widget--discount__col">
      <div class="widget--discount__name"><%= t('subscriptions.payment.referral_discount', discount_percent: format_percent(current_user.eligible_referrer.discount_percent)) %></div>
      <div class="">
        <% if discount_presenter.info? %>
          <%= t('subscriptions.payment.referral_discount_html', visible_link: discount_presenter.visible_path, visible_name: discount_presenter.visible_name) %>
        <% end %>
      </div>
    </div>
    <div class="widget--discount__col">
      -<%= localized_price(payment.referral_discount_amount, payment.currency) %>
    </div>
  </div>
<% end %>

<% if payment.subscription_plan.name == legendary_plan.name %>
  <div class="widget widget--discount">
    <div class="widget--discount__col">
      <div class="widget--discount__name"><%= t('subscriptions.payment.legendary_plan_discount') %></div>
      <div class=""><%= t('subscriptions.payment.legendary_plan_discount_info') %></div>
    </div>
    <div class="widget--discount__col">
      -<%= localized_price(payment_options[legendary_plan.name].legendary_plan_discount, payment.currency) %>
    </div>
  </div>
<% end %>
