.db-plans__item__name
  = t('subscriptions.legendary_badger')
  .db-years
    - if days_left
      .text-success= t('subscriptions.plan_life_time')
    - else
      = t('subscriptions.plan_life_time')
.db-plans__item__amount
  - unless days_left
    - if cost_presenter.base_price != cost_presenter.flat_discounted_price
      .db-plans__item__amount__t.db-plans__item__amount__t--previous
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='legendary_badger-base-price'>#{cost_presenter.base_price}</span>
      .db-plans__item__amount__t.db-plans__item__amount__t--new
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='legendary_badger-discounted-price'>#{cost_presenter.flat_discounted_price}</span>
    - else
      .db-plans__item__amount__t
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='legendary_badger-base-price'>#{cost_presenter.base_price}</span>
.db-plans__item__info= t('subscriptions.legendary_badger_description_html')
