<div class="db-plans__item__name">
  <%= t('subscriptions.pro') %>
  <div class="db-years">
    <% if current_user.subscription.days_left %>
      <div class="text-success"><%= t('subscriptions.days_left', count: current_user.subscription.days_left) %></div>
    <% else %>
      <%= t('subscriptions.plan_1_year') %>
    <% end %>
  </div>
</div>
<div class="db-plans__item__amount">
  <% unless current_user.subscription.days_left %>
    <% if payment.base_price != payment.adjusted_base_price %>
      <div class="db-plans__item__amount__t db-plans__item__amount__t--previous">
        <span class='pro-base-price'><%= format_price(payment.base_price, currency) %></span>
      </div>
      <div class="db-plans__item__amount__t db-plans__item__amount__t--new">
        <span class='pro-discounted-price'><%= format_price(payment.adjusted_base_price, currency) %></span>
      </div>
    <% else %>
      <div class="db-plans__item__amount__t">
        <span class='pro-base-price'><%= format_price(payment.base_price, currency) %></span>
      </div>
    <% end %>
  <% end %>
</div>
<div class="db-plans__item__info">
  <%= t('subscriptions.pro_description_html') %>
  <p><b class="sbadge sbadge--danger"><%= t('utils.new') %></b> <%= t('subscriptions.analyzer_html') %></p>
  <p><b class="sbadge sbadge--warning"><%= t('utils.soon') %></b> <%= t('subscriptions.expires_soon_html') %></p>
</div>