<div class="pricing__checkout__calculations widget">

  <div class="checkout-line checkout-line--base-price">
    <div class="checkout-line__col">
      <div class="checkout-line__name"><%= t(
            "subscriptions.payment.base_price") %></div>
      <% if payment.subscription_plan_variant.years.present? && payment.subscription_plan_variant.years != 1 %>
        <div class="checkout-line__info">
          <%= payment.subscription_plan_variant.years %>x
          <%= localized_price(payment.virtual_price('base_price', 1.year), payment.currency, true) %>
        </div>
      <% end %>
    </div>
    <div class="checkout-line__col">
      <%= localized_price(payment.base_price, payment.currency, true) %>
    </div>
  </div>

  <% if current_user.subscription.days_left.present? %>
    <div class="checkout-line checkout-line--discount">
      <div class="checkout-line__col">
        <div class="checkout-line__name"><%= t('subscriptions.payment.active_plan_discount') %></div>
        <div class="checkout-line__info">
          <%= t(
            "subscriptions.payment.compensation",
            count: current_user.subscription.days_left,
            plan: current_user.subscription.name.capitalize
          ).html_safe %>
        </div>
      </div>
      <div class="checkout-line__col">
        -<%= localized_price(payment.current_plan_discount_amount, payment.currency, true) %>
      </div>
    </div>
  <% end %>

  <% if current_user.eligible_referrer.present? %>
    <% discount_presenter = RefCodesPresenter.new(current_user.eligible_referrer) %>
    <div class="checkout-line checkout-line--discount">
      <div class="checkout-line__col">
        <div class="checkout-line__name"><%= t('subscriptions.payment.referral_discount', discount_percent: format_percent(current_user.eligible_referrer.discount_percent)) %></div>
        <div class="checkout-line__info">
          <% if discount_presenter.info? %>
            <%= t('subscriptions.payment.referral_discount_html', visible_link: discount_presenter.visible_path, visible_name: discount_presenter.visible_name) %>
          <% end %>
        </div>
      </div>
      <div class="checkout-line__col">
        -<%= localized_price(payment.referral_discount_amount, payment.currency, true) %>
      </div>
    </div>
  <% end %>

  <% unless payment.black_friday_discount_amount.zero? %>
    <div class="checkout-line checkout-line--discount">
      <div class="checkout-line__col">
        <div class="checkout-line__name">Black Friday</div>
        <div class="checkout-line__info"><%= format_percent(payment.black_friday_discount_percent) %> OFF</div>
      </div>
      <div class="checkout-line__col">
        -<%= localized_price(payment.black_friday_discount_amount, payment.currency, true) %>
      </div>
    </div>
  <% end %>

  <% unless payment.vat_percent.zero? %>
    <div class="checkout-line checkout-line--vat">
      <div class="checkout-line__col">
        <%= t('subscriptions.payment.vat') %> <%= format_percent(payment.vat_percent) %>
      </div>
      <div class="checkout-line__col">
        <%= tag.span class: "#{payment.subscription_plan.name}-total-vat" do %>
          <%= localized_price(payment.vat_amount, payment.currency, 2) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="checkout-line checkout-line--divider"></div>
  <div class="checkout-line checkout-line--summary">
    <div class="checkout-line__col">
      <%= t('subscriptions.payment.you_pay') %>
    </div>
    <div class="checkout-line__col">
      <%= tag.span class: "#{payment.subscription_plan.name}" do %>
        <%= localized_price(payment.price_with_vat, payment.currency, true) %>
      <% end %>
    </div>
  </div>
</div>