<div class="db-checkout-summary modal-content">
  <div class="db-checkout-summary__item db-checkout-summary__item--vat">
    <div class="db-checkout-summary__item__info">
      <%= '+' + t('subscriptions.payment.vat') %>
      <span class='vat-percent'><%= format_percent(payments[selected_plan].vat_percent) %></span>%
    </div>
    <div class="db-checkout-summary__item__quote">
      <%= tag.span class: "db-show--#{selected_plan}" do %>
        <%= tag.span class: "#{selected_plan}-total-vat" do %>
          <%= format_price(payments[selected_plan].vat_amount, currency) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="db-checkout-summary__item db-checkout-summary__item--sum">
    <div class="db-checkout-summary__item__info"><%= t('subscriptions.payment.you_pay') %></div>
    <div class="db-checkout-summary__item__quote">
      <%= tag.span class: "db-show--#{selected_plan}" do %>
        <%= tag.span class: "#{selected_plan}-total-price" do %>
          <%= format_price(payments[selected_plan].price_with_vat, currency) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>