- if upgrade_presenter.upgrade_available?
  %tr.db-plan--divider
  %tr.db-plan--divider
  %tr.db-plan--divider
  %tr.db-plan--divider
    %td(scope="col" colspan="4")
      %h5 Make an upgrade:

  - if 'investor'.in?(upgrade_presenter.available_plans)
    - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
    %tr.db-plan.db-plan-investor{class: "db-plan--#{investor_selected ? 'selected' : 'other'}"}
      = render partial: 'investor_card', locals: { days_left: nil, cost_presenters: cost_presenters[:investor] }

    %tr.db-plan--divider
    %tr.db-plan--divider

  - if 'hodler'.in?(upgrade_presenter.available_plans)
    - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
    %tr.db-plan.db-plan-hodler{class: "db-plan--#{hodler_selected ? 'selected' : 'other'}"}
      = render partial: 'hodler_card', locals: { days_left: nil, cost_presenters: cost_presenters[:hodler] }

  - if upgrade_presenter.plan_upgrade_discount?
    %tr.db-plan--divider
    %tr.text-success
      %td(scope="col")
        <i class="material-icons-round">check_circle</i>
      %td(scope="col")
        %b Plan upgrade discount activated
        %span.db-billing-item__info.text-dark
          Because you have #{current_user.plan_days_left} days of Investor left.
      %td(scope="col")
      %td.pl-4(scope="col")
        %b -$10.00

  - if upgrade_presenter.referrer_discount?
    %tr.db-plan--divider
    - discount_presenter = Presenters::RefCodes::Show.new(referrer)
    %tr.text-success
      %td(scope="col")
        <i class="material-icons-round">check_circle</i>
      %td(scope="col")
        %b Discount activated
        %span.db-billing-item__info.text-dark
          - if discount_presenter.info?
            Thanks to the referral link from <b><a href="#{discount_presenter.visible_path}">#{discount_presenter.visible_name}</a></b>.
          Valid for the first purchase on the platform.
      %td(scope="col")
      %td.pl-4(scope="col")
        %b -#{discount_presenter.discount_percent}%
