<% cost_presenter = upgrade_presenter.selected_cost_presenter %>
<% keys = upgrade_presenter.available_plans_for_current_user %>
<div class="db-checkout-summary modal-content">
  <div class="db-checkout-summary__item db-checkout-summary__item--vat">
    <div class="db-checkout-summary__item__info">
      <%= '+' + t('subscriptions.payment.vat') %>
      <span class='vat-percent'><%= cost_presenter[:hodler].vat_integer %></span>%
    </div>
    <div class="db-checkout-summary__item__quote">
      <% keys.each do |key| %>
        <%= render partial: 'upgrade_summary_plan', locals: { upgrade_presenter: upgrade_presenter, cost_presenter: cost_presenter, method: 'total_vat', key: key } %>
      <% end %>
    </div>
  </div>
  <div class="db-checkout-summary__item db-checkout-summary__item--sum">
    <div class="db-checkout-summary__item__info"><%= t('subscriptions.payment.you_pay') %></div>
    <div class="db-checkout-summary__item__quote">
      <% keys.each do |key| %>
        <%= render partial: 'upgrade_summary_plan', locals: { upgrade_presenter: upgrade_presenter, cost_presenter: cost_presenter, method: 'total_price', key: key } %>
      <% end %>
    </div>
  </div>
</div>