- if upgrade_presenter.discount?
  <span class='text-success'><span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='#{plan}-total-price'>#{cost_presenter.total_price}</span></span>
  <s><span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='#{plan}-base-price-with-vat'>#{cost_presenter.base_price_with_vat}</span></s>
- else
  <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='#{plan}-total-price'>#{cost_presenter.total_price}</span>
