- if upgrade_presenter.upgrade_available?

  - if 'investor'.in?(upgrade_presenter.available_plans)
    - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
    .db-plans__item.db-plans__item--investor.db-plan-investor{class: "db-plan--#{investor_selected ? 'selected' : 'other'}"}
      = render partial: 'investor_card', locals: { days_left: nil, upgrade_presenter: upgrade_presenter, cost_presenter: cost_presenter[:investor] }

  - if 'hodler'.in?(upgrade_presenter.available_plans)
    - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
    .db-plans__item.db-plans__item--hodler.db-plan-hodler{class: "db-plan--#{hodler_selected ? 'selected' : 'other'}"}
      = render partial: 'hodler_card', locals: { days_left: nil, upgrade_presenter: upgrade_presenter, cost_presenter: cost_presenter[:hodler] }

  - if upgrade_presenter.plan_upgrade_discount?
    .db-plans__item.db-plans__item--discount
      .db-plans__item__name
        Active plan discount
      .db-plans__item__amount
        .db-plans__item__amount__t.db-plans__item__amount__t--discount
          .db-show--investor
            <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='investor-flat-discount-with-vat'>#{cost_presenter[:investor].flat_discount}</span>
          .db-show--hodler
            <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='hodler-flat-discount-with-vat'>#{cost_presenter[:hodler].flat_discount}</span>
      .db-plans__item__info
        Compensation for #{current_user.plan_days_left} unused days of the Investor plan.




  - if upgrade_presenter.referrer_discount?
    - discount_presenter = Presenters::RefCodes::Show.new(upgrade_presenter.referrer)
    .db-plans__item.db-plans__item--discount
      .db-plans__item__name
        #{discount_presenter.discount_percent}% discount
      .db-plans__item__amount
        .db-plans__item__amount__t.db-plans__item__amount__t--discount
          - if 'investor'.in?(upgrade_presenter.available_plans)
            .db-show--investor
              <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='investor-discount-percent-amount'>#{cost_presenter[:investor].discount_percent_amount}</span>
          - if 'hodler'.in?(upgrade_presenter.available_plans)
            .db-show--hodler
              <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='hodler-discount-percent-amount'>#{cost_presenter[:hodler].discount_percent_amount}</span>
      .db-plans__item__info
        - if discount_presenter.info?
          Thanks to the referral link from <b><a href="#{discount_presenter.visible_path}">#{discount_presenter.visible_name}</a></b>, you get a discount for the first purchase on the platform.
