- unless upgrade_presenter.current_plan_name.in?(['saver', 'legendary_badger'])
  %h4.mb-4.mt-5.pb-4= t('subscriptions.prolong_upgrade')

- if 'investor'.in?(upgrade_presenter.available_plans)
  - investor_selected = upgrade_presenter.selected_plan_name == 'investor'
  .db-plans__item.db-plans__item--investor.db-plan-investor{class: "db-plan--#{investor_selected ? 'selected' : 'other'}"}
    = render partial: 'investor_card', locals: { days_left: nil, upgrade_presenter: upgrade_presenter, cost_presenter: cost_presenter[:investor] }

- if 'hodler'.in?(upgrade_presenter.available_plans)
  - hodler_selected = upgrade_presenter.selected_plan_name == 'hodler'
  .db-plans__item.db-plans__item--hodler.db-plan-hodler{class: "db-plan--#{hodler_selected ? 'selected' : 'other'}"}
    = render partial: 'hodler_card', locals: { days_left: nil, upgrade_presenter: upgrade_presenter, cost_presenter: cost_presenter[:hodler] }


- if 'legendary_badger'.in?(upgrade_presenter.available_plans)
  - legendary_badger_selected = upgrade_presenter.selected_plan_name == 'legendary_badger'
  .db-plans__item.db-plans__item--legendary_badger.db-plan-legendary_badger{class: "db-plan--#{legendary_badger_selected ? 'selected' : 'other'}"}
    = render partial: 'legendary_badger_card', locals: { days_left: nil, upgrade_presenter: upgrade_presenter, cost_presenter: cost_presenter[:legendary_badger] }
    = render partial: 'layouts/svg_bubbleart_01'

.db-plans__item.db-plans__item--discount.db-plan-active-discount
  .db-plans__item__name
    = t('subscriptions.payment.early_bird_discount')
  .db-plans__item__amount
    .db-plans__item__amount__t.db-plans__item__amount__t--discount
      <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='db-early-bird-discount'>#{cost_presenter[upgrade_presenter.current_plan_name.to_sym].early_bird_discount}</span>
  .db-plans__item__info= t('subscriptions.payment.early_bird_discount_info')

- if upgrade_presenter.current_plan_name == 'investor'
  .db-plans__item.db-plans__item--discount.db-plan-active-discount
    .db-plans__item__name= t('subscriptions.payment.active_plan_discount')
    .db-plans__item__amount
      .db-plans__item__amount__t.db-plans__item__amount__t--discount
        .db-show--investor
          <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='investor-flat-discount-with-vat'>#{cost_presenter[:investor].flat_discount}</span>
        .db-show--hodler
          <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='hodler-flat-discount-with-vat'>#{cost_presenter[:hodler].flat_discount}</span>
        .db-show--legendary_badger
          <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='legendary_badger-flat-discount-with-vat'>#{cost_presenter[:legendary_badger].flat_discount}</span>
    .db-plans__item__info= t('subscriptions.payment.compensation_investor', count: current_user.plan_days_left)

- if upgrade_presenter.current_plan_name == 'hodler' && upgrade_presenter.legendary_badger_plan_available?
  .db-plans__item.db-plans__item--discount.db-plan-active-discount
    .db-plans__item__name= t('subscriptions.payment.active_plan_discount')
    .db-plans__item__amount
      .db-plans__item__amount__t.db-plans__item__amount__t--discount
        .db-show--hodler
          <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='hodler-flat-discount-with-vat'>#{cost_presenter[:hodler].flat_discount}</span>
        .db-show--legendary_badger
          <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='legendary_badger-flat-discount-with-vat'>#{cost_presenter[:legendary_badger].flat_discount}</span>
    .db-plans__item__info= t('subscriptions.payment.compensation_hodler', count: current_user.plan_days_left)

- if upgrade_presenter.referrer_discount?
  - discount_presenter = Presenters::RefCodes::Show.new(upgrade_presenter.referrer)
  .db-plans__item.db-plans__item--discount
    .db-plans__item__name= t('subscriptions.payment.discount', discount_percent: discount_presenter.discount_percent)
    .db-plans__item__amount
      .db-plans__item__amount__t.db-plans__item__amount__t--discount
        - if 'investor'.in?(upgrade_presenter.available_plans)
          .db-show--investor
            <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='investor-discount-percent-amount'>#{cost_presenter[:investor].discount_percent_amount}</span>
        - if 'hodler'.in?(upgrade_presenter.available_plans)
          .db-show--hodler
            <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='hodler-discount-percent-amount'>#{cost_presenter[:hodler].discount_percent_amount}</span>
        - if 'legendary_badger'.in?(upgrade_presenter.available_plans)
          .db-show--legendary_badger
            <span class='db-show--eu'>-€</span><span class='db-show--other'>-$</span><span class='legendary_badger-discount-percent-amount'>#{cost_presenter[:legendary_badger].discount_percent_amount}</span>
    .db-plans__item__info
      - if discount_presenter.info?
        = t('subscriptions.payment.referral_discount_html', visible_link: discount_presenter.visible_path, visible_name: discount_presenter.visible_name)
