.modal-dialog(role="document")
  .modal-content
    .modal-body.db-upgrade-modal.db-upgrade-modal--other
      %h2.db-modal-title Upgrade
      - errors.each do |error|
        .text-danger.mb-4= error

      %table.table.db-table--checkout
        %tbody.table-borderless
          %tr
            %td(scope="col")
              Unlimited transactions (1 year)<br/>
              %span.db-billing-item__info This upgrade removes the free plan<br/>transaction limit of <span class="db-show--eu">€</span><span class="db-show--other">$</span>500/year.
            %td(scope="col")
            %td(scope="col") <span class="db-show--eu">€21</span><span class="db-show--other">$19</span>
        %tfoot
          %tr
            %td(scope="col")
            %td(scope="col")
              %b Sum:
            %td(scope="col")
              %b <span class="db-show--eu">€21</span><span class="db-show--other">$19</span>
      = form_for payment, url: upgrade_pay_path do |f|
        %h4 Billing information
        .form-group
          %label(for="first_name") Name
          = f.text_field :first_name, class: 'form-control'

        .form-group
          %label(for="last_name") Surname
          = f.text_field :last_name, class: 'form-control'

        .form-group
          %label{:for => "example-date-input"} Birth date
          = f.date_field :birth_date, class: 'example-data-input form-control'

        .form-group
          %label Country
          %br
          .form-check.form-check-inline
            = f.radio_button :eu, true, checked: payment.eu, class: 'form-check-input radio--eu', id: 'radioEu'
            = f.label :eu, "European Union", class: 'form-check-label', for: 'radioEu'
          .form-check.form-check-inline
            = f.radio_button :eu, false, checked: !payment.eu, class: 'form-check-input radio--other', id: 'radioOther'
            = f.label :eu, "Other", class: 'form-check-label', for: 'radioOther'

        .form-group.db-form-group--main-btn
          %button.btn.btn-success.btn-lg{type: 'submit'}
            %span.mr-2 Checkout
            %i.material-icons-round arrow_forward
        .db-globee-badge
          %small Payment with
          %img{:src => asset_pack_path("media/images/globee.png")}
