- locals = { payment: payment, errors: errors, user: current_user, free_limit: free_limit, cost_presenters: cost_presenters, investor_plan: investor_plan, hodler_plan: hodler_plan, referrer: referrer }

.modal-dialog(role="document")
  .modal-content
    - hodler_selected = payment.subscription_plan_id == hodler_plan.id
    .modal-body.db-upgrade-modal{class: "db-upgrade-modal--#{payment.eu ? 'eu' : 'other'} db-upgrade-modal--#{hodler_selected ? 'hodler' : 'investor'}"}
      %h2.db-modal-title Plans
      %table.table.db-table--checkout
        %tbody.table-borderless
          %tr.db-plan--divider
            = render partial: "current_plan", locals: locals

          = render partial: "upgrade_plans", locals: locals

        = render partial: "upgrade_summary", locals: locals

      = render partial: "billing_form", locals: locals
