<% content_for :body_class, ".view--upgrade" %>

<div class="page-head">
  <div class="stitle"><%= t('upgrade') %></div>
</div>

<%= turbo_frame_tag "upgrade-frame" do %>
  <div class="db-country">
    <%= tag.div class: "row db-checkout db-checkout--#{@payment.subscription_plan.name}-plan" do %>
      <div class="db-plans col col-sm-12 col-md-6 col-lg-7 col-xl-7">

        <%= tag.div class: "db-plans__item db-plans__item--#{current_user.subscription.name}-plan db-plans__item--current" do %>
          <%= render partial: "upgrade/plan_cards/#{current_user.subscription.name}" %>
        <% end %>

        <h4 class="mb-4 mt-5 pb-4"><%= t('subscriptions.prolong_upgrade') %></h4>
        <%= render partial: "upgrade_plans", locals: {
          available_variant_years: @available_variant_years,
          payment_options: @payment_options,
          payment: @payment,
          legendary_plan: @legendary_plan,
        } %>
      </div>
      <div class="db-checkout__bill col col-sm-12 col-md-6 col-lg-5 col-xl-5">
        <%= render partial: "upgrade_summary", locals: {
          payment: @payment,
        } %>
        <%= render partial: "billing_form", locals: {
          payment: @payment,
        } %>
      </div>
    <% end %>
  </div>
<% end %>

<%# FIXME: is this needed? %>
<div id="current_user_subscription" data-current-user-subscription="<%= current_user.subscription.name %>"></div>
