<% content_for :body_class, ".view--upgrade" %>

<div class="page-head">
  <div class="stitle"><%= t('upgrade') %></div>
</div>

<%= turbo_frame_tag "upgrade-frame" do %>
    <%= tag.div class: "pricing" do %>
      <div class="pricing__plans">

        <%= tag.div class: "widget widget--pricing widget--pricing--#{current_user.subscription.name} widget--pricing--current" do %>
          <%= render partial: "upgrade/plan_cards/#{current_user.subscription.name}" %>
        <% end %>
        <%= render partial: "upgrade_plans", locals: {
          available_variant_years: @available_variant_years,
          payment_options: @payment_options,
          payment: @payment,
          legendary_plan: @legendary_plan,
        } %>
      </div>

      <div class="pricing__checkout">
        <%= render partial: "upgrade_summary", locals: {
          payment: @payment,
        } %>
        <%= render partial: "billing_form", locals: {
          payment: @payment,
        } %>
      </div>
    <% end %>
<% end %>

<%# FIXME: is this needed? %>
<div id="current_user_subscription" data-current-user-subscription="<%= current_user.subscription.name %>"></div>
