- upgrade_presenter = Presenters::Payments::Upgrade.new(payment, current_plan, investor_plan, hodler_plan, referrer)

.modal-dialog(role="document")
  .modal-content
    .modal-body.db-upgrade-modal{class: "db-upgrade-modal--#{upgrade_presenter.selected_payment_type} db-upgrade-modal--#{upgrade_presenter.selected_plan_name}"}
      %h2.db-modal-title Plans
      %table.table.db-table--checkout
        %tbody.table-borderless
          %tr.db-plan--divider
            = render partial: "current_plan", locals: { upgrade_presenter: upgrade_presenter }

          = render partial: "upgrade_plans", locals: { upgrade_presenter: upgrade_presenter, cost_presenters: cost_presenters }

        = render partial: "upgrade_summary", locals: { upgrade_presenter: upgrade_presenter, cost_presenters: cost_presenters }

      = render partial: "billing_form", locals: { payment: payment, errors: errors, upgrade_presenter: upgrade_presenter }
