<% upgrade_presenter = UpgradePresenter.new(payment, current_plan, investor_plan, hodler_plan, legendary_badger_plan, referrer, current_user) %>
<% selected_cost_presenter = cost_presenters[payment.country] %>
<div class="db-country db-checkout--<%= upgrade_presenter.selected_payment_type %>">
  <%= render partial: 'layouts/navbar/signed_in', locals: { upgrade_presenter: upgrade_presenter, cost_presenter: selected_cost_presenter } %>
  <div class="row db-checkout db-checkout--<%= upgrade_presenter.selected_plan_name %> <%= 'payment_in_process' if payment_in_process %>">
    <div class="db-plans col col-sm-12 col-md-6 col-lg-7 col-xl-7">
      <%= render partial: "current_plan", locals: { upgrade_presenter: upgrade_presenter } %>
      <%= render partial: "upgrade_plans", locals: { upgrade_presenter: upgrade_presenter, cost_presenter: selected_cost_presenter } %>
    </div>
    <div class="db-checkout__bill col col-sm-12 col-md-6 col-lg-5 col-xl-5">
      <%= render partial: "upgrade_summary", locals: { upgrade_presenter: upgrade_presenter, cost_presenter: selected_cost_presenter } %>
      <%= render partial: "billing_form", locals: { payment: payment, errors: errors, upgrade_presenter: upgrade_presenter, cost_presenters: cost_presenters, payment_in_process: payment_in_process } %>
    </div>
</div>