<% content_for :body_class, ".view--upgrade" %>

<%= turbo_frame_tag "upgrade-frame" do %>

    <div class="page-head">

      <%= form_with url: upgrade_path, method: :get, data: { controller: "form--submit", turbo_frame: "upgrade-frame" }, class: "pricing-period-toggle" do |f| %>
        <% @available_variant_years.each do |years| %>
          <% selected = @payment.subscription_plan_variant.years == years %>
          <%= tag.label class: "hide_radio_buttons" do %>
            <%= f.radio_button :years, years, checked: selected, data: { action: "change->form--submit#submit" } %>
              <%= t("subscriptions.variant#{years}") %>
          <% end %>
        <% end %>
      <% end %>

    </div>

    <%= tag.div class: "pricing" do %>
      <%= form_with url: upgrade_path, method: :get, data: { controller: "form--submit", turbo_frame: "upgrade-frame" }, html: { class: "pricing__plans" } do |f| %>
        <%= tag.div class: "widget widget--pricing widget--pricing--#{current_user.subscription.name} widget--pricing--current" do %>
          <%= render partial: "upgrade/plan_cards/#{current_user.subscription.name}" %>
        <% end %>
        <% current_user.available_plan_names.each do |available_plan_name| %>
          <% selected = @payment.subscription_plan.name == available_plan_name %>
          <%= tag.label class: "hide_radio_buttons widget widget--pricing widget--pricing--#{available_plan_name} widget--pricing--#{selected ? 'selected' : 'other'}" do %>
            <%= f.radio_button :plan_name, available_plan_name, checked: selected, data: { action: "change->form--submit#submit" } %>
            <%= render partial: "upgrade/plan_cards/#{available_plan_name}", locals: {
              payment_option: @payment_options[available_plan_name],
              legendary_plan: @legendary_plan, # only used in legendary plan card
            } %>
          <% end %>
        <% end %>
      <% end %>

      <div class="pricing__checkout">
        <div class="pricing__checkout__calculations">
          <%= render partial: "discounts", locals: {
            payment: @payment,
            payment_options: @payment_options,
            legendary_plan: @legendary_plan
          } %>
          <%= render partial: "summary", locals: { payment: @payment } %>
        </div>
        <%= render partial: "billing_form", locals: { payment: @payment } %>
      </div>
    <% end %>
<% end %>

<%# FIXME: is this needed? %>
<div id="current_user_subscription" data-current-user-subscription="<%= current_user.subscription.name %>"></div>
