<main class="columns main">
    <div class="column gap-6">
        <div style="display: flex; justify-content: space-between; ">
            <div class="toggle-group smart-allocation---toggle state--off">
                <div class="toggle"></div>
                <div class="toggle-label">Smart allocation</div>
            </div>    

            <div class="total-value">
                <div class="label total-value---on total-value---toggle">Add total value</div>
                <div class="label total-value---off">Total value</div>
                <div class="ticker-input ticker-input--reverse ticker-input--autoscale total-value---off">
                    <input type="text" class="numeric-input iu-numeric iu-autowidth total-value-input--total" size="1" placeholder="0"> 
                    <div class="ticker" style="background: var(--primary)">BTC</div>
                </div>

                <svg class="icon-20 total-value---off total-value---toggle" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5L10.5 10.5M5.5 10.5L10.5 5.5" stroke="#8894B6" stroke-width="1.5" stroke-linecap="square"/>
                </svg>
                
                <svg class="icon-20 total-value---on  total-value---toggle" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12H20H4Z"/>
                    <path d="M4 12H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4V20V4Z"/>
                    <path d="M12 4V20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
            </div>
        </div>

        <div class="basket">

            <div class="basket__asset smart-allocation---off">

                <div class="ticker-input ticker-input--percentage">
                    <input type="text" class="numeric-input iu-numeric iu-char-limit" data-char-limit="2" value="50" data-bind-slider="disabled"> 
                    <span>%</span> 
                    <div class="ticker" style="background: #F7931A">BTC</div>
                </div>

                <div class="slider " data-type="numeric" data-numeric-value="35" data-range-start="1" data-range-end="99">
                    <div class="slider__track-clickable">
                        <div class="slider__track" style="border-left-color: #F7931A;">
                            <div class="slider__progress" style="width: 35%; background-color: #F7931A;">
                                <div class="slider__thumb" style="background-color: #F7931A;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <input type="text" class="numeric-input iu-numeric total-value---off total-value-input--asset" placeholder="0">
            
                <svg class="basket__add-asset__icon icon-20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5L10.5 10.5M5.5 10.5L10.5 5.5" stroke="#8894B6" stroke-width="1.5" stroke-linecap="square"></path>
                </svg>
                    
            </div>

            <div class="basket__add-asset mt-4">
                <svg class="basket__add-asset__icon icon-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12H20H4Z"/>
                    <path d="M4 12H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4V20V4Z"/>
                    <path d="M12 4V20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

        </div>
    </div>
    <div class="column gap-1"> 
        <div class="widget">
            <%= render partial: 'chart.js' %>
            <canvas id="performanceChart" width="200px" height="100px" data-labels="<%= @data_labels %>" data-series="<%= @data_series %>" ></canvas>
        </div>
        <div class="widget data-grid">
            <div class="data-grid__item">
                <div class="label">Exp. Return</div>
                <div class="data-grid__item__value">
                    <%= @metrics['expectedReturn'] %>%
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Volatility</div>
                <div class="data-grid__item__value">
                    <%= @metrics['volatility'] %>%
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Diversification</div>
                <div class="data-grid__item__value">90%</div>
            </div>
            <div class="data-grid__item">
                <div class="label">Alpha</div>
                <div class="data-grid__item__value">
                    <%= @metrics['alpha'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Beta</div>
                <div class="data-grid__item__value">
                    <%= @metrics['beta'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Sharpe Ratio</div>
                <div class="data-grid__item__value">
                    <%= @metrics['sharpeRatio'] %>
                </div>
            </div> 
            <div class="data-grid__item">
                <div class="label">Sortino Ratio</div>
                <div class="data-grid__item__value">
                    <%= @metrics['sortinoRatio'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Treynor Ratio</div>
                <div class="data-grid__item__value">
                    <%= @metrics['treynorRatio'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">R²</div>
                <div class="data-grid__item__value">
                    <%= @metrics['rSquared'] %>
                </div>
            </div> 
            <div class="data-grid__item">
                <div class="label">VaR</div>
                <div class="data-grid__item__value">
                    <%= @metrics['valueAtRisk'] %>%
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">CVaR</div>
                <div class="data-grid__item__value">
                    <%= @metrics['conditionalValueAtRisk'] %>%
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Omega Ratio</div>
                <div class="data-grid__item__value">
                    <%= @metrics['omegaRatio'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Calmar Ratio</div>
                <div class="data-grid__item__value">
                    <%= @metrics['calmarRatio'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Ulcer Ratio</div>
                <div class="data-grid__item__value">
                    <%= @metrics['ulcerIndex'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Max. Drawdown</div>
                <div class="data-grid__item__value">
                    <%= @metrics['maxDrawdown'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">GAGR</div>
                <div class="data-grid__item__value">
                    <%= @metrics['cagr'] %>
                </div>
            </div>
            <div class="data-grid__item">
                <div class="label">Info. Ratio</div>
                <div class="data-grid__item__value">
                    <%= @metrics['informationRatio'] %>
                </div>
            </div>
            <div class="data-grid__item data-grid__item--empty">
                <div class="label"></div>
                <div class="data-grid__item__value"></div>
            </div>
        </div>
    </div>
</main>






<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {

      // Select all elements with the .state--on or .state--off classes
    const elements = document.querySelectorAll('.state--on, .state--off');

    elements.forEach(element => {
        // Add a click event listener to each parent element
        element.addEventListener('click', function(event) {
            // Toggle the classes on click
            this.classList.toggle('state--on');
            this.classList.toggle('state--off');
        });
    });

    // Select all clickable children (adjust the selector as needed)
    const clickableChildren = document.querySelectorAll('.state--on .dropdown');

    clickableChildren.forEach(child => {
        // Add a click event listener to each clickable child
        child.addEventListener('click', function(event) {
            // Prevent the click event from bubbling up to the parent
            event.stopPropagation();
        });
    });



    // input utility: digit-only
    document.querySelectorAll('.iu-numeric').forEach(function(input) {
        input.addEventListener('input', function() {
            this.value = this.value.replace(/[^\d.]/g, '');
        });
    });



    // input utility: character limit
    document.querySelectorAll('.iu-char-limit').forEach(function(input) {
        input.addEventListener('input', function() {
        const limit = parseInt(this.getAttribute('data-char-limit'), 10);
        if (this.value.length > limit) {
            this.value = this.value.slice(0, limit);
        }
        });
    });



    // input utility: autowidth
    document.querySelectorAll('.iu-autowidth').forEach(function(input) {
        input.addEventListener('input', function() {
        this.size = Math.max(this.value.length, 1);
        });
    });



    document.querySelectorAll('.slider').forEach(slider => {
        const trackClickable = slider.querySelector('.slider__track-clickable');
        const track = slider.querySelector('.slider__track');
        const progress = slider.querySelector('.slider__progress');
        const thumb = slider.querySelector('.slider__thumb');
        const type = slider.getAttribute('data-type');
        let labels, rangeStart, rangeEnd;
        if (type === 'labels') {
        labels = slider.getAttribute('data-labels').split(',');
        } else if (type === 'numeric') {
        rangeStart = parseInt(slider.getAttribute('data-range-start'), 10);
        rangeEnd = parseInt(slider.getAttribute('data-range-end'), 10);
        }

        let isDragging = false;

        const startDrag = (e) => {
        // Prevent text selection or handling drag on other elements
        e.preventDefault();
        moveSlider(e, slider, track, type, labels, rangeStart, rangeEnd, true);
        isDragging = true;
        document.addEventListener('mousemove', onMouseMove);
        document.addEventListener('mouseup', onMouseUp);
        };

        trackClickable.addEventListener('mousedown', startDrag);
        thumb.addEventListener('mousedown', startDrag);

        const onMouseMove = (e) => {
        if (!isDragging) return;
        moveSlider(e, slider, track, type, labels, rangeStart, rangeEnd);
        };

        const onMouseUp = () => {
        isDragging = false;
        document.removeEventListener('mousemove', onMouseMove);
        document.removeEventListener('mouseup', onMouseUp);
        };
    });



    function moveSlider(e, slider, track, type, labels, rangeStart, rangeEnd, jumpToClick = false) {
        const trackRect = track.getBoundingClientRect();
        let newWidth = (e.pageX - trackRect.left) / trackRect.width * 100;
        newWidth = Math.max(0, Math.min(100, newWidth)); // Constrain between 0% and 100%
        slider.querySelector('.slider__progress').style.width = `${newWidth}%`;
        updateLabelValue(slider, newWidth, type, labels, rangeStart, rangeEnd);
        if (jumpToClick) {
        // Simulate a drag start by updating the thumb's position to the click point
        // This is especially relevant for initiating the drag from the track-clickable area
        document.dispatchEvent(new MouseEvent('mousemove', e));
        }
    }



    function updateLabelValue(slider, newWidth, type, labels, rangeStart, rangeEnd) {
        // Find the element where the label value should be displayed
        const labelValueElement = slider.querySelector('.label__value');

        // Calculate the value based on slider type
        if (type === 'labels') {
            if (labelValueElement) {
                const index = Math.round(newWidth / 100 * (labels.length - 1));
                labelValueElement.textContent = labels[index];
            }
        } else if (type === 'numeric') {
            const rangeSize = rangeEnd - rangeStart;
            const value = Math.round(newWidth / 100 * rangeSize) + rangeStart;
            
            // Update the label if it exists
            if (labelValueElement) {
                labelValueElement.textContent = value;
            }

            // Additionally, update the data-numeric-value attribute on the slider
            slider.setAttribute('data-numeric-value', value);
        }
    }


    
    document.querySelectorAll('input[data-bind-slider]').forEach(input => {
        const sliderId = input.getAttribute('data-bind-slider');
        const slider = document.getElementById(sliderId);

        if (!slider) {
            console.warn('No slider found with id:', sliderId);
            return;
        }

        // Function to update input based on the slider's data-numeric-value attribute
        const updateInputFromSlider = () => {
            const sliderValue = slider.getAttribute('data-numeric-value');
            input.value = sliderValue;
        };

        // Function to update slider based on the input's value
        const updateSliderFromInput = () => {
            const inputValue = input.value;
            const rangeStart = parseInt(slider.getAttribute('data-range-start'), 10);
            const rangeEnd = parseInt(slider.getAttribute('data-range-end'), 10);
            let value = Math.min(Math.max(inputValue, rangeStart), rangeEnd); // Clamp the value within the slider's range
            const newWidth = ((value - rangeStart) / (rangeEnd - rangeStart)) * 100;
            slider.querySelector('.slider__progress').style.width = `${newWidth}%`;
            slider.setAttribute('data-numeric-value', value);
            // Update the label if present
            const labelValueElement = slider.querySelector('.slider__label__value');
            if (labelValueElement) {
                labelValueElement.textContent = value;
            }
        };

        // Initial update of input in case the slider has a default value
        updateInputFromSlider();

        // Listen for changes on the slider
        new MutationObserver(updateInputFromSlider).observe(slider, {
            attributes: true,
            attributeFilter: ['data-numeric-value']
        });

        // Update slider when input value changes
        input.addEventListener('input', updateSliderFromInput);
    });

});
</script>

<script type="text/javascript">

function setupToggle(namePrefix) {
    document.addEventListener('DOMContentLoaded', () => {
        const toggleClassName = `${namePrefix}---toggle`;
        const hiddenClassName = `${namePrefix}---off`;
        const shownClassName = `${namePrefix}---on`;
        
        // Listen for clicks on elements with the constructed toggle class name
        document.querySelectorAll(`.${toggleClassName}`).forEach(toggle => {
            toggle.addEventListener('click', () => {
                // Combine both queries into a single NodeList using the constructed class names
                const elements = document.querySelectorAll(`.${hiddenClassName}, .${shownClassName}`);
                
                elements.forEach(element => {
                    // If element is hidden, show it
                    if (element.classList.contains(hiddenClassName)) {
                        element.classList.remove(hiddenClassName);
                        element.classList.add(shownClassName);
                    } 
                    // If element is shown, hide it
                    else if (element.classList.contains(shownClassName)) {
                        element.classList.remove(shownClassName);
                        element.classList.add(hiddenClassName);
                    }
                });
            });
        });
    });
}

setupToggle('total-value');
setupToggle('smart-allocation');



// Function to add readonly attribute
function addReadonlyToNumericInput() {
    document.querySelectorAll('.smart-allocation---on .numeric-input').forEach(function(input) {
        input.setAttribute('readonly', true);
    });
}

// Callback function to execute when mutations are observed
const callback = function(mutationsList, observer) {
    for(const mutation of mutationsList) {
        if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
            // Check if the modified element now has the .smart-correlation---on class
            const target = mutation.target;
            if (target.classList.contains('smart-allocation---on')) {
                // Add readonly to its .numeric-input children
                addReadonlyToNumericInput();
            }
        }
    }
};

// Create a MutationObserver instance and pass it the callback function
const observer = new MutationObserver(callback);

// Options for the observer (which mutations to observe)
const config = { attributes: true, childList: false, subtree: true, attributeFilter: ['class'] };

// Start observing the document body for mutations
observer.observe(document.body, config);

// Make sure to add readonly to any .numeric-input already inside .smart-correlation---on
addReadonlyToNumericInput();


</script>