- content_for :meta_robots_content, 'noindex'

.container.container--signup
  .row
    .d-none.d-lg-block.col-lg-6.col-xl-7.db-signup--text
      %h3.db-modal-companion-title= t('ads.password_managers_html')
      .db-signup__list
        .db-signup__list__item
          .material-icons-round check
          %a.db-signup__list__item__text(href="https://bitwarden.com/" target="_blank" ref="nofollow")= t('ads.bitwarden_title')
          = t('ads.bitwarden_text')
    .col-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2.offset-lg-0.col-lg-6.col-xl-5
      .db-box
        %h3.db-modal-title= t('.title')
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .db-form__row
            = f.email_field :email, autofocus: true, autocomplete: "email", value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
            .db-form__info.db-form__info--invalid
              - unless resource.errors[:email][0].nil?
                = t('helpers.label.user.email') + ' ' + resource.errors[:email][0]
            = f.label :email, class: "db-form__label"
          .db-form__row.db-form__row--final-button
            = invisible_recaptcha_tags text: t('.submit'), class: "btn btn-lg w-100 btn-primary"
        .db-form__other-links
          = render "devise/shared/links"
