<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>
<% base1_color = ensure_contrast(@bot.base1_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/dca_dual_assets/new_step_progress_bar', locals: { current_step: :api } %>
    <div class="conversational conversational--bot-setup">
      <%= t('bot.setup.sentence.invest_in') %>
      <%= link_to @bot.base0_asset.symbol, new_bots_dca_dual_assets_pick_first_buyable_asset_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base0_color}" %>
      <%= t('bot.setup.sentence.and') %>
      <%= link_to @bot.base1_asset.symbol, new_bots_dca_dual_assets_pick_second_buyable_asset_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base1_color}" %>
      <div style="display: flex; gap: 1rem; padding-right: 0.5rem">
        <%= t('bot.setup.sentence.at') %>
        <%= link_to new_bots_dca_dual_assets_pick_exchange_path, data: { turbo_frame: "modal_content" }, class: "sinput sinput--select sinput--exchange sinput--exchange--#{@bot.exchange.name_id}" do %>
          <%= render "svg/exchange-#{@bot.exchange.name_id}", title: @bot.exchange.name %>
          <span class="hide-on-mobile"><%= @bot.exchange.name.capitalize %></span>
        <% end %>
      </div>
    </div>
    <%= render partial: 'bots/api_key_form', locals: {
      bot: @bot,
      api_key: @api_key,
      path: bots_dca_dual_assets_add_api_key_path,
      form_data: { controller: "form--label-animations form--html5-validations", turbo_frame: 'modal_content' }
    } %>
  </div>
<% end %>