<% content_for :body_class, ".view--dashboard" %>

<%= render partial: "dca_calculator", locals: {
  simulation_results: @simulation_results,
  invest_amount: @invest_amount
} %>
<%= render 'layouts/banners/welcome_message' %>
<%= render 'layouts/banners/news_message' %>
<%= render 'layouts/banners/referral_message' %>
<%= render 'layouts/limit_reached' %>

<div id="dashboard"></div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('infoheader-icon').addEventListener('click', function() {
      document.getElementById('infoheader-title').classList.toggle('hidden');
      document.getElementById('tiles').classList.toggle('hidden');
      this.classList.toggle('active');  // Toggle the .active class on the clicked .infoheader__icon
    });
  });
</script>