%h4.db-modal__subtitle #{t('settings.index.two_factor_section')}
- url = user.otp_module_enabled? ? settings_disable_two_fa_path : settings_enable_two_fa_path
= form_for(user, url: url) do |f|
  .form-group.db-form-group--main-btn
    = link_to (user.otp_module_enabled? ? t('helpers.label.settings.disable_two_fa') : t('helpers.label.settings.enable_two_fa')), '#two_factor', data: { toggle: :modal }, class: "btn btn-lg btn-success"

#two_factor.modal.fade
  - url = user.otp_module_enabled? ? settings_disable_two_fa_path : settings_enable_two_fa_path
  = form_for :user, url: url, html: { class: 'form-inline' }  do |f|
    .modal-dialog{ id: "modal-dialog"}
      .modal-content{ id: "modal-content"}
        .modal-body
          %h4.db-modal__subtitle
            2FA
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          .db-form__row.text-center.pb-4
            = t('helpers.label.settings.current_status')
            %b{ class: user.otp_module_enabled? ? 'text-success' : 'text-secondary'}= user.otp_module_enabled? ? t('helpers.label.settings.enabled') : t('helpers.label.settings.disabled')
          .db-form__row
            .qrcode-wrapper
              .qrcode
                - unless user.otp_module_enabled?
                  - qr = RQRCode::QRCode.new(user.provisioning_uri(account = nil, options = {issuer: 'deltabadger.com'}), size: 12, level: :h )
                  %table.qr{align: "center"}
                    - qr.to_s.split("\n").each do |line|
                      %tr
                        - line.split("").each do |sign|
                          - if sign == 'x'
                            %td.black
                          - else
                            %td.white
          .db-form__row
            = f.text_field :otp_code_token, value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
            = f.label :otp_label, t('helpers.label.settings.enter_two_fa_code'), class: "db-form__label"
            - if wrong_code
              .db-form__info.db-form__info--invalid{style: 'display: block'}
                = t('errors.messages.wrong_two_fa_token')
            = f.label t('helpers.label.settings.enter_two_fa_code'), class: "db-form__label"
          = f.submit (user.otp_module_enabled? ? t('helpers.label.settings.disable_two_fa') : t('helpers.label.settings.enable_two_fa')), class: 'btn btn-lg btn-block btn-success'

:javascript
  // settings
  if ("#{wrong_code}" === "true"){
    $(document).ready(function(){
      $('#two_factor').modal('show');
    })
  }