.db-settings-section
  %h4.db-modal__subtitle Update password
  = form_for(user, :url => settings_update_password_path) do |f|
    .form-group
      = f.label :password, "Password"
      = f.password_field :password, :autocomplete => "off", class: "form-control"
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: "form-control"
    .form-group
      = f.label :current_password
      = f.password_field :current_password, class: "form-control"
    .form-group.db-setting__button-container
      = f.submit "Change password", class: "btn btn-lg btn-primary"
