%h4.db-modal__subtitle #{t('settings.index.password_section')}
= form_for(user, :url => settings_update_password_path) do |f|
  .db-form__row.db-form__row--input
    = f.password_field :password, :autocomplete => "off",  value: '', class: 'db-form__input', onchange: 'this.setAttribute("value", this.value);'
    - if user.errors.details[:password].present?
      .db-form__info.db-form__info--invalid
        - if user.errors.details[:password][0][:error] == :too_short
          = t('errors.messages.too_short_password')
        - else
          = user.errors[:password][0]
    = f.label :password, t('helpers.label.user.password'), class: "db-form__label"
  .db-form__row.db-form__row--input
    = f.password_field :password_confirmation, :autocomplete => "off", value: '', class: 'db-form__input', onchange: 'this.setAttribute("value", this.value);'
    .db-form__info.db-form__info--invalid
      = t('errors.messages.password_not_match')
    = f.label :password_confirmation, t('helpers.label.user.password_confirmation'), class: "db-form__label"
  .db-form__row.db-form__row--input
    = f.password_field :current_password, :autocomplete => "off", value: '', class: 'db-form__input', onchange: 'this.setAttribute("value", this.value);'
    .db-form__info.db-form__info--invalid
      = t('errors.messages.wrong_password')
    = f.label :current_password, class: "db-form__label"
  .form-group.db-form-group--main-btn
    = f.submit t('settings.index.submit_password'), class: "btn btn-lg btn-primary"
