%h4.db-modal__subtitle #{t('settings.index.email_section')}
= form_for(user, url: settings_update_email_path) do |f|
  .db-form__row.db-form__row--input
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'db-form__input', onchange: 'this.setAttribute("value", this.value);'
    = f.label :email, class: "db-form__label"
  - if user.pending_reconfirmation?
    %div
      ('devise.registrations.edit.awaiting_confirmation', email: user.unconfirmed_email)
  .db-form__row.db-form__row--input
    = f.password_field :current_password, :autocomplete => "off",  value: '', class: 'db-form__input', onchange: 'this.setAttribute("value", this.value);'
    = f.label :current_password, t('settings.index.current_password'), class: "db-form__label"
  .form-group.db-form-group--main-btn
    = f.submit t('settings.index.submit_email'), class: "btn btn-lg btn-primary"
