.db-settings-section
  %h4.db-modal__subtitle= t('settings.index.password_section')
  = form_for(user, :url => settings_update_password_path) do |f|
    .form-group
      = f.label :password, t('helpers.label.user.new_password')
      = f.password_field :password, :autocomplete => "off", class: "form-control form-control-lg"
    .form-group
      = f.label :password_confirmation, t('helpers.label.user.new_password_confirmation')
      = f.password_field :password_confirmation, class: "form-control form-control-lg"
    .form-group
      = f.label :current_password
      = f.password_field :current_password, class: "form-control form-control-lg"
    .form-group.db-form-group--main-btn
      = f.submit t('settings.index.submit_password'), class: "btn btn-lg btn-primary"
