Update password
= form_for(user, :url => settings_update_password_path) do |f|
  .field
    = f.label :password, "Password"
    %br/
    = f.password_field :password, :autocomplete => "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :current_password
    %br/
    = f.password_field :current_password
  .action_container
    = f.submit
