.modal-dialog(role="document")
  .modal-content
    .modal-body
      %h2.db-modal-title= t('.title')
      = render "devise/shared/error_messages", resource: user
      = render partial: 'update_email_form', locals: { user: user }
      = render partial: 'update_password_form', locals: { user: user }
      .db-settings-section
        %h4.db-modal__subtitle= t('.api_keys_section')
        = render partial: 'remove_api_key', collection: api_keys, as: :api_key
