.db-content__box
  .row
    .col
      = render "devise/shared/error_messages", resource: user
  .row
    .col-md
      = render partial: 'update_password_form', locals: { user: user }
      = render partial: 'credits', locals: { user: user }
    .col-md
      = render partial: 'update_email_form', locals: { user: user }

      %h2.mt-5 Api Keys
      = render partial: 'remove_api_key', collection: api_keys, as: :api_key
