<% content_for :body_class, ".view--settings" %>

<div class="page-head">
  <div class="stitle"><%= t('.title') %></div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'settings/forms/update_name', locals: { name_pattern: @name_pattern } %>
    <%= render partial: 'settings/forms/update_email', locals: { email_address_pattern: @email_address_pattern } %>
  </div>

  <div class="col-md-6">
    <%= render partial: 'settings/forms/update_password', locals: {
      password_pattern: @password_pattern,
      password_length_pattern: @password_length_pattern,
      password_uppercase_pattern: @password_uppercase_pattern,
      password_lowercase_pattern: @password_lowercase_pattern,
      password_digit_pattern: @password_digit_pattern,
      password_symbol_pattern: @password_symbol_pattern,
    } %>
    <div class="db-box">
      <% wrong_code = !wrong_code.nil? %>
      <%= render partial: 'settings/forms/toggle_two_fa', locals: { wrong_code: wrong_code } %>
    </div>
    <%= render partial: 'settings/forms/update_api_keys' %>
  </div>
</div>