<% content_for :body_class, ".view--settings" %>

<div class="page-head">
  <div class="stitle"><%= t('.title') %></div>
</div>

<div class="columns">
  <div class="column gap-1">
    <%= render partial: 'settings/widgets/name', locals: { name_pattern: @name_pattern } %>
    <%= render partial: 'settings/widgets/email', locals: { email_address_pattern: @email_address_pattern } %>
  </div>

  <div class="column gap-1">
    <%= render partial: 'settings/widgets/password', locals: {
      password_pattern: @password_pattern,
      password_length_pattern: @password_length_pattern,
      password_uppercase_pattern: @password_uppercase_pattern,
      password_lowercase_pattern: @password_lowercase_pattern,
      password_digit_pattern: @password_digit_pattern,
      password_symbol_pattern: @password_symbol_pattern,
    } %>
    <%= render partial: 'settings/widgets/two_fa', locals: { two_fa_button_text: @two_fa_button_text } %>
    <%= render partial: 'settings/widgets/api_keys', locals: {
      trading_api_keys: @trading_api_keys,
      withdrawal_api_keys: @withdrawal_api_keys
    } %>
  </div>
</div>