.row.pt-5
  .col-md-6
    %h2= t('.title')
  .col-md-6
    .db-box.mb-3
      = render partial: 'update_name_form', locals: { user: user }
    .db-box.mb-3
      = render partial: 'update_email_form', locals: { user: user }
    .db-box.mb-3
      = render partial: 'update_password_form', locals: { user: user }
    .db-box.mb-3
      - wrong_code = !wrong_code.nil?
      = render partial: 'enable_two_factor_authorization', locals: { user: user, wrong_code: wrong_code }
    .db-box
      %h4.db-modal__subtitle= t('.api_keys_section')
      %h5.db-modal__subtitle Trading keys
      = render partial: 'remove_api_key', collection: trading_api_keys, as: :api_key
      %br
      %h5.db-modal__subtitle Withdrawal keys
      = render partial: 'remove_api_key', collection: withdrawal_api_keys, as: :api_key
