.modal-dialog(role="document")
  .modal-content
    .modal-body
      %h2.db-modal-title Settings
      = render "devise/shared/error_messages", resource: user
      = render partial: 'update_email_form', locals: { user: user }
      = render partial: 'update_password_form', locals: { user: user }
      = render partial: 'credits', locals: { user: user }
      -# .db-settings-section
      -#   %h2 Email notifications
      -#   .form-check
      -#     %input#defaultCheck1.form-check-input{:type => "checkbox", :value => "", :checked => "checked"}
      -#     %label.form-check-label{:for => "defaultCheck2"}
      -#       Platform news & updates
      .db-settings-section
        %h4.db-modal__subtitle Api Keys
        = render partial: 'remove_api_key', collection: api_keys, as: :api_key
