%footer.db-footer.db-footer--signed-in.db-footer--oneline
  &copy;
  = Time.current.year
  %span.db--upgrade__hide
    Deltabadger OÜ
    &middot;
    = link_to t('links.terms_and_conditions'), terms_and_conditions_path
    &middot;
    = link_to t('links.privacy_policy'), privacy_policy_path
    &middot;
    = link_to t('links.cookies_policy'), cookies_policy_path
    &middot;
    %a(href="https://t.me/deltabadgerchat" target="_blank" rel="nofollow" title="#{t('social.telegram')}") Telegram
    -# |
    -# %a(href="https://twitter.com/deltabadgerapp" target="_blank" rel="nofollow" title="#{t('social.twitter')}") Twitter
    -# |
    -# %a(href="https://medium.com/deltabadger" target="_blank" rel="nofollow" title="#{t('social.blog')}") Medium
    &middot;
    %a(href="https://www.notion.so/Badger-s-Den-70135e7a5c584018aca4d5a6a25dc395" target="_blank" rel="nofollow" title="Badger's Den")= t('social.knowledge_base')
    &middot;
    = link_to t('links.about'), about_path
    &middot;
    = link_to t('links.contact'), contact_path

  %span.db--upgrade__show
    Deltabadger OÜ, Pärnu mnt 158/2-88, 11317 Tallinn, Estonia
    &middot;
    = link_to t('links.terms_and_conditions'), terms_and_conditions_path
