%footer.db-footer.db-footer--signed-in.db-footer--oneline
  &copy;
  = Time.current.year
  Deltabadger OÜ
  |
  = link_to "Terms & Condition", terms_and_conditions_path
  |
  = link_to "Privacy Policy", privacy_policy_path
  |
  = link_to "Cookies Policy", cookies_policy_path
  |
  %a(href="https://t.me/deltabadgerchat" target="_blank" rel="nofollow" title="Join our Telegram Group") Telegram
  |
  %a(href="https://twitter.com/deltabadgerapp" target="_blank" rel="nofollow" title="Follow us on Twitter") Twitter
  |
  %a(href="https://medium.com/deltabadger" target="_blank" rel="nofollow" title="Read our blog") Medium
  |
  %a(href="https://www.notion.so/Badger-s-Den-70135e7a5c584018aca4d5a6a25dc395" target="_blank" rel="nofollow" title="Badger's Den") Knowledge base
  |
  = link_to "Contact", contact_path
  |
  = link_to "About", about_path
