<% quote_color = ensure_contrast(bot.quote_asset&.color || "#8A9BA8") %>
<% base_color = ensure_contrast(bot.base_asset&.color || "#8A9BA8") %>

<%= form_with model: bot,
              url: path,
              method: method,
              class: "widget widget--main-bot-settings",
              data: {
                turbo_stream: true,
                controller: "form--submit form--submit-after-delay form--move-cursor-to-end form--html5-validations"
              } do |f| %>
  <div class="conversational flex-justify-center">
    <%= t('bot.conversational.invest') %>
    <div class="ticker-input ticker-input--autoscale">
      <% value = bot.quote_amount.present? ? bot.quote_amount.to_d.to_s('F').sub(/([0-9]\d*)\.0$/, '\1') : nil %>
      <%= f.number_field :quote_amount, value: value, class: 'numeric-input', step: :any, size: 2, data: { controller: "autowidth-input", action: "input->form--submit-after-delay#submit input->autowidth-input#resize", form__move_cursor_to_end_target: "input" }, autofocus: bot.new_record? && bot.quote_amount.blank?, disabled: bot.working?, placeholder: "100" %>

      <% if bot.new_record? %>
        <%= link_to bot.quote_asset.symbol, new_bots_dca_single_assets_pick_spendable_asset_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{quote_color}" %>
      <% else %>
        <div class="ticker" style="background: <%= quote_color %>">
          <%# &. because some migrated legacy bots point to unknown assets %>
          <%= bot.quote_asset&.symbol || bot.transactions.last&.quote %>
        </div>
      <% end %>
    </div>
    /
    <div class="sinput sinput--select <%= 'sinput--disabled' if bot.working? %>">
      <%= t("bot.#{bot.interval}") %>
      <%= f.select :interval, bot_intervals_select_options, { selected: bot.interval }, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
    </div>
    <div style="display: flex; gap: 1rem;">
      <%= t('bot.conversational.into') %>

      <% if bot.new_record? %>
        <%= link_to bot.base_asset.symbol, new_bots_dca_single_assets_pick_buyable_asset_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base_color}" %>
      <% else %>
        <div class="ticker" style="background: <%= base_color %>">
          <%# &. because some migrated legacy bots point to unknown assets %>
          <%= bot.base_asset&.symbol || bot.transactions.last&.base %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>