%p New wire transfer:
%p First name: #{@params[:first_name]}
%p Last name: #{@params[:last_name]}
%p Address: #{@params[:address]}
%p Country: #{@params[:country]}
%p User email: #{@params[:user_email]}
%p Chosen plan: #{@params[:subscription_plan]}
-#%p Referral code: #{@referral_code}
-#%p VAT: #{@vat}