%p New wire transfer:
%p First name: #{@params[:first_name]}
%p Last name: #{@params[:last_name]}
%p Address: #{@params[:address]}
%p Country: #{@params[:country]}
%p User email: #{@params[:user_email]}
%p Chosen plan: #{@params[:subscription_plan]}
- unless @params.fetch(:vat_number, nil).blank?
  %p VAT number: #{@params[:vat_number]}
- unless @params.fetch(:referral_code, nil).blank?
  %p Referral code: #{@params[:referral_code]}
%p Discount value: #{@params[:discount]}
%p Total price: #{@params[:price]}
