<%= form_with model: api_key, url: from_path, method: :post, data: { controller: "form--label-animations form--html5-validations", action: "turbo:submit-end->modal--base#submitEnd" } do |f| %>
  <div class="db-form__row db-form__row--input">
    <%= f.text_field :key, autofocus: true, data: { controller: "autofocus" }, class: "db-form__input", rows: 3 %>
    <%= f.label :key, "API Key", class: "db-form__label" %>
  </div>
  <div class="db-form__row db-form__row--input">
    <%= f.text_field :secret, class: "db-form__input", rows: 3 %>
    <%= f.label :secret, "API Secret", class: "db-form__label" %>
  </div>

  <div class="large-button-wrapper">
    <%= f.submit "Save API Key", class: "button button--success button--large", data: { turbo_stream: true, turbo_submits_with: "Validating..." } %>
  </div>

<% end %>