    <div class="set-api widget">
      <div class="set-api__form">
        <h2 class="set-api__header"><%= t('bot.add_api_keys', exchange: bot.exchange.name) %></h2>
        <%= form_with model: api_key, url: path, method: :post, data: form_data, class: "form" do |f| %>
          <div class="form__row form__row--input">
            <%= f.text_field :key, autofocus: true, autocomplete: "off", data: { controller: "autofocus" }, class: "form__input form__input--large", rows: 3 %>
            <%= f.label :key, t("bot.api.#{bot.exchange.name_id}.public_key", default: "API Key"), class: "form__label" %>
          </div>
          <div class="form__row form__row--input">
            <%= f.text_field :secret, autocomplete: "off", class: "form__input form__input--large", rows: 3 %>
            <%= f.label :secret, t("bot.api.#{bot.exchange.name_id}.private_key", default: "API Secret"), class: "form__label" %>
          </div>
          <% if bot.exchange.requires_passphrase? %>
            <div class="form__row form__row--input">
              <%= f.text_field :passphrase, autocomplete: "off", class: "form__input form__input--large" %>
              <%= f.label :passphrase, "API Passphrase", class: "form__label" %>
            </div>
          <% end %>
          <%= f.submit t('button.connect'), class: "button button--success button--large", data: { turbo_stream: true, turbo_submits_with: t('bot.setup.validating') } %>
        <% end %>
      </div>
      <div class="set-api__instructions">
        <h2 class="set-api__header"><%= t('bot.setup.how_to_get_keys', exchange: bot.exchange.name) %></h2>
        <%= render_api_key_instructions(bot) %>
      </div>
    </div>