<div id="chart" class="widget widget--chart">
  <% if loading %>
    <div class="data-grid__item">
      <div class="label">&nbsp;</div>
      <div class="data-grid__item__value">&nbsp;</div>
    </div>
    <div style="width: 100%; aspect-ratio: 10 / 3;">
      <div class="loader" style="position: relative; left: calc(50% - 2rem); top: calc(50% - 6rem);"></div>
    </div>
  <% elsif metrics[:chart][:labels].empty? %>
    <div class="data-grid__item">
      <div class="label">&nbsp;</div>
      <div class="data-grid__item__value">&nbsp;</div>
    </div>
    <div style="width: 100%; aspect-ratio: 10 / 3;">
      <%= render 'svg/landscape_empty' %>
    </div>
  <% else %>
    <div class="data-grid__item" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
      <div class="label"><%= t('analyzer.pnl') %></div>
      <%= tag.div class: "data-grid__item__value", style: "color: var(--#{metrics[:pnl].negative? ? 'danger' : 'success'})" do %>
        <%= sprintf('%+.0f', (metrics[:pnl] * 100)) + '%' %>
      <% end %>
    </div>
    <%= tag.div data: {
      controller: "bot--chart",
      bot__chart_names_value: [
        t('data_labels.value_symbol', symbol: bot.quote_asset.symbol),
        t('data_labels.invested_symbol', symbol: bot.quote_asset.symbol)
      ],
      bot__chart_labels_value: [metrics[:chart][:labels].map { |label| label.in_time_zone(current_user.time_zone) }],
      bot__chart_series_value: [
        metrics[:chart][:series].map { |serie| serie.map { |amount| amount.round(bot.decimals[:quote]) } }
      ]
    }, style: "width: 100%; aspect-ratio: 10 / 3;" do %>
      <canvas data-bot--chart-target="analyzerChart" width="10" height="3"></canvas>
    <% end %>
  <% end %>
</div>
