<div id="chart" class="widget widget--chart">
  <% if loading %>
    <div class="loader" style="position: relative; left: calc(50% - 3rem); top: calc(50% - 3rem)"></div>
  <% elsif metrics[:chart][:labels].empty? %>
    <%= render 'svg/landscape_empty' %>
  <% else %>
    <div class="data-grid__item" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip">
      <div class="label"><%= t('analyzer.pnl') %></div>
      <%= tag.div class: "data-grid__item__value", style: "color: var(--#{metrics[:pnl].negative? ? 'danger' : 'success'})" do %>
        <%= sprintf('%+.0f', (metrics[:pnl] * 100)) + '%' %>
      <% end %>
    </div>
    <%= tag.div data: {
      controller: "bot--chart",
      bot__chart_names_value: [
        t('data_labels.value_symbol', symbol: bot.quote_asset.symbol),
        t('data_labels.invested_symbol', symbol: bot.quote_asset.symbol)
      ],
      bot__chart_labels_value: [metrics[:chart][:labels]],
      bot__chart_series_value: [
        metrics[:chart][:series].map { |serie| serie.map { |amount| amount.round(bot.decimals[:quote]) } }
      ]
    } do %>
      <canvas data-bot--chart-target="analyzerChart" width="200" height="60"></canvas>
    <% end %>
  <% end %>
</div>
