<div class="itile">
  <b class="sbadge sbadge--beta"><%= t('utils.beta') %></b>
  <div class="theme-img" style="background-image: url('https://deltabadger.com/blog/fitlx0000.jpg')"></div>
  <div class="index-title"><%= t('bot.types.barbell.title') %></div>
  <%= raw t('bot_info.barbell.info') %>
  <%= raw t('bot_info.how_to_use') %>
  <%= raw t('bot_info.barbell.examples') %>
</div>