<div class="widget widget--strategy widget--strategy--dca" data-controller="class-toggle" data-action="click->class-toggle#toggle" data-class-toggle-target="togglable" data-class-toggle-toggle-classes-value='["active"]'>
  <div class="theme-img" style="background-image: url(<%= asset_path('strategy--dca.webp') %>)"></div>
  <div class="index-title"><%= t('bot.types.dca.title') %></div>
  <div class="active-only">
    <%= raw t('bot_info.dca.info') %>
    <%= raw t('bot_info.how_to_use') %>
    <%= raw t('bot_info.dca.examples') %>
  </div>
</div>