<div class="widget widget--strategy widget--strategy--barbell" data-controller="show-hide" data-action="click->show-hide#toggle" data-show-hide-target="togglable" data-show-hide-toggle-class-value='["active"]'>
  <b class="sbadge sbadge--beta"><%= t('utils.beta') %></b>
  <div class="theme-img" style="background-image: url('https://deltabadger.com/blog/fitlx0000.jpg')"></div>
  <div class="index-title"><%= t('bot.types.barbell.title') %></div>
  <div class="active-only">
    <%= raw t('bot_info.barbell.info') %>
    <%= raw t('bot_info.how_to_use') %>
    <%= raw t('bot_info.barbell.examples') %>
  </div>
</div>