<%= form_with model: bot, url: bot_path(bot), method: :patch, id: "exchange_select", class: "flex-row", data: { controller: "form--submit" } do |f| %>
  <div class="sinput sinput--select sinput--exchange sinput--exchange--<%= bot.exchange.name_id %> <%= 'sinput--disabled' unless bot.stopped? %>">
    <%= render "svg/exchange-#{bot.exchange.name_id}", title: bot.exchange.name %>
    <%= bot.exchange&.name&.capitalize || t('bot.pick_exchange') %>
    <% exchange_options = bot.available_exchanges_for_current_settings.pluck(:name, :id).map { |name, id| [name.capitalize, id] } %>

    <%= f.select :exchange_id, exchange_options, { selected: bot.exchange_id }, data: { action: "change->form--submit#submit" }, disabled: !bot.stopped? %>
  </div>

  <% if bot.exchange.present? && !bot.api_key.correct? %>
    <%= link_to t('bot.add_api_keys', exchange: bot.exchange.name.capitalize), new_api_key_bot_path(bot), class: "button button--success", data: { turbo_frame: "modal" } %>
  <% end %>
<% end %>
