<%= form_with model: bot, url: bot_path(bot), method: :patch, id: "exchange_select", class: "flex-row", data: { controller: "form--submit" } do |f| %>
  <div class="sinput sinput--select sinput--exchange sinput--exchange--<%= bot.exchange.name.downcase %> <%= 'sinput--disabled' if bot.working? || bot.pending? %>">
    <%= render "svg/exchange-#{bot.exchange.name.downcase}", title: bot.exchange.name %>
    <%= bot.exchange&.name&.capitalize || t('bot.pick_exchange') %>
    <% if bot.transactions.any? %>
      <% exchange_options = bot.available_exchanges_for_current_settings.map { |e| [e.name.capitalize, e.id] } %>
    <% else %>
      <% exchange_options = [[t('bot.pick_exchange'), nil]] + bot.available_exchanges_for_current_settings.map { |e| [e.name.capitalize, e.id] } %>
    <% end %>
    <%= f.select :exchange_id, exchange_options, { selected: bot.exchange_id }, data: { action: "change->form--submit#submit" }, disabled: bot.working? || bot.pending? %>
  </div>

  <% if bot.exchange.present? && !bot.api_key.correct? %>
    <%= link_to t('bot.add_api_keys', exchange: bot.exchange.name.capitalize), new_api_key_bot_path(bot), class: "button button--success", data: { turbo_frame: "modal" } %>
  <% end %>
<% end %>
