<div class="menu-start">
    <div class="introtiles">
        <%= link_to new_bots_dca_single_assets_pick_buyable_asset_path, class: 'itile itile--bot-type', data: { action: 'click->modal--base#animateOutCloseAndCleanUp', turbo_frame: "modal" } do %>
            <div class="index-title"><%= t('bot.types.dca.title') %></div>
            <div class="index-info"><%= t('bot.types.dca.description').html_safe %></div>
        <% end %>

        <%= link_to new_bots_dca_dual_assets_pick_first_buyable_asset_path, class: 'itile itile--bot-type', data: { action: 'click->modal--base#animateOutCloseAndCleanUp', turbo_frame: 'modal' } do %>
            <div class="index-title"><%= t('bot.types.dca_dual_asset.title') %></div>
            <div class="index-info"><%= t('bot.types.dca_dual_asset.description').html_safe %></div>
        <% end %>

        <% path = bots_path(create: true) %>
        <% data = { turbo: false } %>
        <div class="itile itile--bot-type itile--soon">
            <div class="index-title"><%= t('bot.types.index_portfolio.title') %></div>
            <div class="index-info"><%= t('bot.types.index_portfolio.description').html_safe %></div>
        </div>
    </div>
</div>

<div class="introtiles">
    <div class="introtile">
        <h2 class="header header--3"><%= t('six_reasons.lower_fees.title') %></h2>
        <%= render partial: 'svg/why02' %>
    </div>
    <div class="introtile">
        <h2 class="header header--3"><%= t('six_reasons.buy_the_dip.title') %></h2>
        <%= render partial: 'svg/why03' %>
    </div>
    <div class="introtile">
        <h2 class="header header--3"><%= t('six_reasons.avoid_taxes.title') %></h2>
        <%= render partial: 'svg/why04' %>
    </div>
    <!--
    <div class="introtile">
        <h2 class="header header--3"><%= t('six_reasons.tracking.title') %></h2>
        <%= render partial: 'svg/why01' %>
    </div>
    <div class="introtile">
        <h2 class="header header--3"><%= t('six_reasons.invest_in_index.title') %> <span class="sbadge sbadge--soon"><%= t('utils.soon') %></span></h2>
        <%= render partial: 'svg/why06' %>
    </div>
    -->
</div>