<div class="welcome-screen">
    <p><%= t('bot.welcome.pick_asset_first') %></p>
    <p><%= t('bot.welcome.connect_alpaca_html', settings_link: link_to(t('bot.welcome.settings_link'), settings_connect_path)) %></p>
    <div style="margin-top: 2rem; transform: scale(1.5)">
        <%= button_to new_bot_path, method: :get, class: "sbutton sbutton--sky", data: { turbo_frame: "modal" }, aria: { label: t('bot.new') } do %>
            <span class="d-none d-sm-inline"><%= t('bot.new') %></span>
            <%= render partial: 'svg/24x24_plus' %>
        <% end %>
    </div>
</div>