<% bot_params = {
  base0_asset_id: @bot.base0_asset_id,
  base1_asset_id: @bot.base1_asset_id,
  quote_asset_id: @bot.quote_asset_id,
  exchange_id: @bot.exchange_id
}.compact %>

<%= render 'layouts/turbo_modal' do %>
  <div class="modal modal--large">
    <%= button_tag class: 'modal__close', data: { action: 'modal--base#animateOutCloseAndCleanUp' } do %>
      <%= render partial: 'svg/24x24_x' %>
    <% end %>
    <div class="modal__header">
       <h1 class="modal__title"><%= t('bot.start_new_bot') %></h1>
    </div>
    at ...

    <%= form_with url: barbell_new_step_four_bots_path, method: :get, id: "exchange_select", class: "flex-row", data: { controller: "form--submit" } do |f| %>
      <div class="sinput sinput--select"></div>
        <% bot_params.each do |key, value| %>
          <%= f.hidden_field key, value: value %>
        <% end %>
        <%= @bot.exchange&.name&.capitalize || t('bot.pick_exchange') %>
        <% exchange_options = [[t('bot.pick_exchange'), nil]] + @bot.available_exchanges_for_current_settings.map { |e| [e.name.capitalize, e.id] } %>
        <%= f.select :exchange_id, exchange_options, { selected: @bot.exchange_id }, data: { action: "change->form--submit#submit change->modal--base#animateOutCloseAndCleanUp", turbo_frame: "modal"} %>
      </div>

      <%# if @bot.exchange.present? && !@bot.api_key.correct? %>
        <%#= link_to t('bot.add_api_keys', exchange: @bot.exchange.name.capitalize), new_api_key_bot_path(@bot), class: "button button--success", data: { turbo_frame: "modal" } %>
      <%# end %>

    <% end %>

  </div>
<% end %>