<% if BlackFriday.week? && !current_user.subscription.legendary? %>
  <%= render partial: 'layouts/banners/black_friday', locals: { show_upgrade_button: true } %>
<% end %>

<% unless current_user.news_banner_dismissed? %>
  <%# render 'layouts/banners/news_message' %>
<% end %>

<% unless current_user.referral_banner_dismissed? %>
  <%= render 'layouts/banners/referral_message' %>
<% end %>


<% unless current_user.welcome_banner_dismissed? %>
  <%= render partial: 'bots/welcome_message' %>
<% end %>

<% if @bots.empty? %>
  <%= render partial: 'bots/new_menu_start' %>
<% else %>
  <div class="page-head page-head--dashboard">
    <div></div>
    <div>
      <%= button_to new_bot_path, method: :get, class: "button button--primary", data: { turbo_frame: "modal" } do %>
        <span class="d-none d-sm-inline"><%= t('bot.new') %></span>
        <%= render partial: 'svg/24x24_plus' %>
      <% end %>
    </div>
  </div>

  <div class="bots-grid">
    <%= render partial: 'bots/bot_tile', collection: @bots, as: :bot %>
  </div>
<% end %>