<%= render 'layouts/modal/base' do %>
  <div class="modal modal--xlarge">
    <%= button_tag class: 'modal__close', data: { action: 'modal--base#animateOutCloseAndCleanUp' } do %>
      <%= render partial: 'svg/24x24_close' %>
    <% end %>
    <div class="modal__header">
       <h1 class="modal__title"><%= t('bot.start_new_bot') %></h1>
    </div>

    <div class="itiles">

        <%= link_to new_bots_dca_single_assets_pick_buyable_asset_path, class: 'itile itile--bot-type itile--dca', data: { action: 'click->modal--base#animateOutCloseAndCleanUp', turbo_frame: "modal" } do %>
            <div class="theme-img" style="background-image: url('<%= asset_path('strategy--dca.webp') %>')"></div>
            <div class="index-title"><%= t('bot.types.dca.title') %></div>
            <div class="index-info"><%= t('bot.types.dca.description').html_safe %></div>
        <% end %>

        <%= link_to new_bots_dca_dual_assets_pick_first_buyable_asset_path, class: 'itile itile--bot-type itile--barbell', data: { action: 'click->modal--base#animateOutCloseAndCleanUp', turbo_frame: "modal" } do %>
            <div class="theme-img" style="background-image: url('<%= asset_path('strategy-03.jpg') %>')"></div>
            <div class="index-title"><%= t('bot.types.dca_dual_asset.title') %></div>
            <div class="index-info"><%= t('bot.types.dca_dual_asset.description').html_safe %></div>
        <% end %>

        <%# path = current_user.subscription.free? ? upgrades_instructions_path : bots_path(create: true) %>
        <%# data = current_user.subscription.free? ? { turbo_frame: "modal" } : { turbo: false } %>
        <% path = bots_path(create: true) %>
        <% data = { turbo: false } %>
        <%= link_to path, class: 'itile itile--bot-type itile--legacy', data: { action: 'click->modal--base#animateOutCloseAndCleanUp' }.merge(data) do %>
            <div class="theme-img" style="background-image: url('<%= asset_path('strategy-06.jpg') %>')"></div>
            <div class="index-title"><%= t('bot.types.legacy.title') %></div>
            <div class="index-info"><%= t('bot.types.legacy.description').html_safe %></div>
        <% end %>

        <div class="itile itile--soon">
            <b class="sbadge sbadge--soon"><%= t('utils.soon') %></b>
            <div class="index-title"><%= t('bot.types.index_portfolio.title') %></div>
            <div class="index-info"><%= t('bot.types.index_portfolio.description') %></div>
        </div>
        <!--<div class="itile itile--soon">
            <b class="sbadge sbadge--soon"><%= t('utils.soon') %></b>
            <div class="index-title"><%= t('bot.types.custom_portfolio.title') %></div>
            <div class="index-info"><%= t('bot.types.custom_portfolio.description') %></div>
        </div>-->

    </div>

  </div>
<% end %>