<%= render 'layouts/turbo_modal' do %>
  <div class="modal modal--large">
    <%= button_tag class: 'modal__close', data: { action: 'modal--base#animateOutCloseAndCleanUp' } do %>
      <%= render partial: 'svg/24x24_x' %>
    <% end %>
    <div class="modal__header">
       <h1 class="modal__title"><%= t('bot.start_new_bot') %></h1>
    </div>
    <div class="bot-menu">
      <%= link_to dashboard_path(create: true), class: 'bot-menu__item', data: { action: 'click->modal--base#animateOutCloseAndCleanUp', turbo: false } do %>
        <div class="bot-menu__item__title"><%= t('bot.types.dca.title') %></div>
        <div class="bot-menu__item__description"><%= t('bot.types.dca.description') %></div>
      <% end %>
      <%= button_to bots_path, method: :post, class: 'bot-menu__item', data: { action: 'click->modal--base#animateOutCloseAndCleanUp' } do %>
        <div class="bot-menu__item__title"><%= t('bot.types.barbell.title') %> <span class="sbadge sbadge--danger"><%= t('utils.new') %></span></div>
        <div class="bot-menu__item__description"><%= t('bot.types.barbell.description') %></div>
      <% end %>
      <div class="bot-menu__item inactive">
        <div class="bot-menu__item__title"><%= t('bot.types.index_portfolio.title') %> <span class="sbadge sbadge--soon"><%= t('utils.soon') %></span></div>
        <div class="bot-menu__item__description"><%= t('bot.types.index_portfolio.description') %></div>
      </div>
      <div class="bot-menu__item inactive">
        <div class="bot-menu__item__title"><%= t('bot.types.custom_portfolio.title') %> <span class="sbadge sbadge--soon"><%= t('utils.soon') %></span></div>
        <div class="bot-menu__item__description"><%= t('bot.types.custom_portfolio.description') %></div>
      </div>
    </div>
  </div>
<% end %>