<%= link_to sanitize("&larr; Back to bots"), bots_path %>

<%= render 'layouts/turbo_modal' do %>
  <div class="modal modal--regular">
    <%= button_tag class: 'modal__close', data: { action: 'modal--base#animateOutCloseAndCleanUp' } do %>
      <%= render partial: 'svg/24x24_x' %>
    <% end %>
    <div class="modal__header">
       <h1 class="modal__title">Start new bot</h1>
    </div>
    <div class="bot-menu">
      <%= link_to dashboard_path(create: true), class: 'bot-menu__item', data: { action: 'click->modal--base#animateOutCloseAndCleanUp', turbo: false } do %>
        DCA (Legacy)
      <% end %>
      <%= button_to bots_path, method: :post, class: 'bot-menu__item', data: { action: 'click->modal--base#animateOutCloseAndCleanUp' } do %>
        Barbell Strategy <span class="sbadge sbadge--danger">New</span>
      <% end %>
    </div>
  </div>
<% end %>