<%= turbo_stream_from "user_#{current_user.id}", :bot_updates %>

<%= turbo_frame_tag "bot", data: @loading ? { controller: "broadcast--on-connect",
                                              broadcast__on_connect_method_value: "metrics_update",
                                              broadcast__on_connect_method_args_value: { bot_id: @bot.id }.to_json } : {} do %>
  <div class="page-head">
    <%= render "bots/header", bot: @bot, other_bots: @other_bots %>
  </div>
  <div class="flex-column gap-1">
    <div class="bot-control">
      <%= render partial: "bots/exchange_select", locals: { bot: @bot } %>
      <%= render "bots/status/status_bar", bot: @bot %>
      <%= render "bots/status/status_button", bot: @bot %>
    </div>
    <div class="columns">
      <div class="column gap-1">
        <%= render partial: "bots/description", locals: { bot: @bot } %>
        <% if @bot.dca_dual_asset? %>
          <%= render partial: "bots/dca_dual_asset/settings", locals: { bot: @bot } %>
        <% end %>
      </div>
      <div class="column gap-1">
        <%= render partial: "bots/chart", locals: { bot: @bot, metrics: @metrics, loading: @loading } %>
        <%= render partial: "bots/metrics/metrics", locals: { bot: @bot, metrics: @metrics, loading: @loading } %>
        <%= render partial: "bots/orders/orders", locals: { bot: @bot, decimals: @decimals } %>
      </div>
    </div>
  </div>
<% end %>
