<%= turbo_frame_tag "bot" do %>
  <div class="page-head">
    <%= render "bots/header", bot: @bot, other_bots: @other_bots %>
  </div>
  <div class="flex-column gap-1">
    <div class="bot-control">
      <%= render "bots/status/status_bar", bot: @bot %>
      <%= render "bots/status/status_button", bot: @bot %>
    </div>
    <div class="columns">
      <div class="column gap-1">
        <%= render partial: "bots/settings", locals: { bot: @bot } %>
        <%= render partial: "bots/exchange_select", locals: { bot: @bot } %>
        <%# render partial: "bots/settings_extra" %>
        <%= render partial: "bots/description", locals: { bot: @bot } %>
      </div>
      <div class="column gap-1">
        <%= render partial: "bots/chart", locals: { bot: @bot } %>
        <%= render partial: "bots/metrics/metrics", locals: { bot: @bot } %>
        <%= render partial: "bots/orders/orders", locals: { bot: @bot } %>
      </div>
    </div>
  </div>
<% end %>