<%= render 'layouts/modal/full_page', close_url: reports_path do %>
  <div class="bot-creation-layout">
    <%= render 'bots/new_step_progress_bar', current_step: :connect, steps: { exchange: 50, connect: 100 } %>
    <div class="conversational conversational--bot-setup">
      <%= t('tracker.import_from') %>
      <%= link_to new_tracker_pick_exchange_path, data: { turbo_frame: 'modal_content' }, class: "sbutton sbutton--exchange sbutton--exchange--#{@exchange.name_id}" do %>
        <%= render "svg/exchange-#{@exchange.name_id}", title: @exchange.name %>
        <span class="hide-on-mobile"><%= @exchange.name %></span>
      <% end %>
    </div>
    <%= render partial: 'shared/api_key_form', locals: {
      exchange: @exchange,
      api_key: @api_key,
      path: tracker_add_api_key_path,
      form_data: { controller: 'form--label-animations form--html5-validations', turbo_frame: 'modal_content' }
    } %>
  </div>
<% end %>
