<% quote_color = ensure_contrast(@bot.quote_asset&.color || "#8A9BA8") %>
<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>
<% base1_color = ensure_contrast(@bot.base1_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <%= render partial: 'bots/barbell/new/progress_bar', locals: {
    current_step: :exchange
  } %>
  <div class="conversational conversational--bot-setup">
    <%= t('bots.setup.sentence.invest_in') %>

    <%= link_to @bot.base0_asset.symbol, barbell_new_step_to_first_asset_bots_path({
    bots_barbell: {
      label: @bot.label,
    }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base0_color}" %>

    <%= t('bots.setup.sentence.and') %>

    <%= link_to @bot.base1_asset.symbol, barbell_new_step_to_second_asset_bots_path({
    bots_barbell: {
      label: @bot.label,
      base0_asset_id: @bot.base0_asset_id,
    }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base1_color}" %>

    <%= t('bots.setup.sentence.at') %>

    <%= form_with model: @bot, url: barbell_new_step_api_key_bots_path, method: :get, id: "exchange_select", class: "flex-row", data: { controller: "form--submit" } do |f| %>
      <div class="sinput sinput--select"></div>
        <%= f.hidden_field :label, value: @bot.label %>
        <%= f.hidden_field :base0_asset_id, value: @bot.base0_asset_id %>
        <%= f.hidden_field :base1_asset_id, value: @bot.base1_asset_id %>
        <%= f.hidden_field :quote_asset_id, value: @bot.quote_asset_id %>
        <% exchange_options = [[t('bot.pick_exchange'), nil]] + @bot.available_exchanges_for_current_settings.map { |e| [e.name.capitalize, e.id] } %>
        <%= f.select :exchange_id, exchange_options, { selected: @bot.exchange_id }, data: { action: "change->form--submit#submit", turbo_frame: "modal_content"} %>
      </div>
    <% end %>
  </div>
<% end %>
