<% quote_color = ensure_contrast(@bot.quote_asset&.color || "#8A9BA8") %>
<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>
<% base1_color = ensure_contrast(@bot.base1_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <%= render partial: 'bots/barbell/new/progress_bar', locals: {
    current_step: :api
  } %>
  <div class="conversational conversational--bot-setup">
    <%= t('bots.setup.sentence.invest_in') %>

    <%= link_to @bot.base0_asset.symbol, barbell_new_step_to_first_asset_bots_path({
    bots_barbell: {
      label: @bot.label,
      exchange_id: @bot.exchange_id
    }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base0_color}" %>

    <%= t('bots.setup.sentence.and') %>

    <%= link_to @bot.base1_asset.symbol, barbell_new_step_to_second_asset_bots_path({
    bots_barbell: {
      label: @bot.label,
      base0_asset_id: @bot.base0_asset_id,
      exchange_id: @bot.exchange_id
    }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base1_color}" %>

    <%= t('bots.setup.sentence.at') %>


    <%= link_to @bot.exchange.name.capitalize, barbell_new_step_exchange_bots_path({
    bots_barbell: {
      label: @bot.label,
      base0_asset_id: @bot.base0_asset_id,
      base1_asset_id: @bot.base1_asset_id,
    }}), data: { turbo_frame: "modal_content" }, class: "sinput sinput--select" %>

    <%= t('bots.setup.sentence.spending') %>

    <%= link_to @bot.quote_asset.symbol, barbell_new_step_from_asset_bots_path({
    bots_barbell: {
      label: @bot.label,
      base0_asset_id: @bot.base0_asset_id,
      base1_asset_id: @bot.base1_asset_id,
      exchange_id: @bot.exchange_id
    }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{quote_color}" %>
  </div>
  <%= form_with model: @bot, url: bots_path(@bot), method: :post, data: { action: "turbo:submit-end->modal--base#submitEnd" } do |f| %>
    <%= f.hidden_field :label, value: @bot.label %>
    <%= f.hidden_field :base0_asset_id, value: @bot.base0_asset_id %>
    <%= f.hidden_field :base1_asset_id, value: @bot.base1_asset_id %>
    <%= f.hidden_field :quote_asset_id, value: @bot.quote_asset_id %>
    <%= f.hidden_field :exchange_id, value: @bot.exchange_id %>
    <%= f.submit 'Create' %>
  <% end %>
<% end %>
