<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/barbell/new/progress_bar', locals: { current_step: :currencies } %>

    <div class="conversational conversational--bot-setup">
      <%= t('bot.setup.sentence.invest_in') %>
      <%= link_to @bot.base0_asset.symbol, barbell_new_step_to_first_asset_bots_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base0_color}" %>
      <%= t('bot.setup.sentence.and') %>
      <%= form_with model: @bot, url: barbell_new_step_to_second_asset_bots_path, method: :get, data: { controller: "form--submit-after-delay", turbo_frame: "asset-picker" } do |f| %>
        <%= f.text_field :query, autofocus: true, autocomplete: "off", placeholder: "…", data: { action: "input->form--submit-after-delay#submit" }, class: "conversational__input" %>
      <% end %>
    </div>

    <%= turbo_frame_tag "asset-picker", data: { action: "keydown@window->arrow-keys-navigation#navigate", controller: "arrow-keys-navigation" }, class: "modal--search__assets selectable-options" do %>
      <%= form_with model: @bot, url: barbell_new_step_exchange_bots_path, method: :get do |f| %>
        <% @assets.each do |id, symbol, name, exchanges| %>
          <%= render partial: "bots/asset_search_result", locals: { bot: @bot, asset_field: :base1_asset_id, id: id, symbol: symbol, name: name, exchanges: exchanges } %>
        <% end %>
      <% end %>
    <% end %>

  </div>
<% end %>
