<% quote_color = ensure_contrast(@bot.quote_asset&.color || "#8A9BA8") %>
<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>
<% base1_color = ensure_contrast(@bot.base1_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/barbell/new/progress_bar', locals: {
      current_step: :exchange
    } %>
    <div class="conversational conversational--bot-setup">
      <%= t('bot.setup.sentence.invest_in') %>

      <%= link_to @bot.base0_asset.symbol, barbell_new_step_to_first_asset_bots_path({
      bots_barbell: {
        label: @bot.label,
      }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base0_color}" %>

      <%= t('bot.setup.sentence.and') %>

      <%= link_to @bot.base1_asset.symbol, barbell_new_step_to_second_asset_bots_path({
      bots_barbell: {
        label: @bot.label,
        base0_asset_id: @bot.base0_asset_id,
      }}), data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base1_color}" %>
      <div style="display: flex; gap: 1rem">
        <%= t('bot.setup.sentence.at') %>
        <%= link_to barbell_new_step_exchange_bots_path({
        bots_barbell: {
          label: @bot.label,
          base0_asset_id: @bot.base0_asset_id,
          base1_asset_id: @bot.base1_asset_id,
        }}), data: { turbo_frame: "modal_content" }, class: "sinput sinput--select sinput--exchange sinput--exchange--#{@bot.exchange.name.downcase}" do %>
          <%= render "svg/exchange-#{@bot.exchange.name.downcase}", title: @bot.exchange.name %>
          <%= @bot.exchange.name.capitalize %>
        <% end %>
      </div>
      <%= t('bot.setup.sentence.spending') %>

      <%= render partial: 'bots/barbell/new/asset_search_input', locals: {
        bot: @bot,
        search_form_path: barbell_new_step_from_asset_bots_path
      } %>
    </div>
    <%= render partial: 'bots/barbell/new/asset_search_results', locals: {
      bot: @bot,
      asset_field: :quote_asset_id,
      next_step_path: barbell_new_step_confirm_bots_path,
      assets: @assets
    } %>
  </div>
<% end %>
