<% quote_color = ensure_contrast(@bot.quote_asset&.color || "#8A9BA8") %>
<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>
<% base1_color = ensure_contrast(@bot.base1_asset&.color || "#8A9BA8") %>
<% base0_color_transparent = transparent_color(base0_color, @bot.allocation0) %>
<% base1_color_transparent = transparent_color(base1_color, 1 - @bot.allocation0) %>

<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/barbell/new/progress_bar', locals: {
      current_step: :api
    } %>
    <div class="bot-creation-preview">
      <div class="flex-row">
        <%= link_to barbell_new_step_exchange_bots_path({
        bots_barbell: {
          label: @bot.label,
          base0_asset_id: @bot.base0_asset_id,
          base1_asset_id: @bot.base1_asset_id,
        }}), data: { turbo_frame: "modal_content" }, class: "sinput sinput--select sinput--exchange sinput--exchange--#{@bot.exchange.name.downcase}" do %>
          <%= render "svg/exchange-#{@bot.exchange.name.downcase}", title: @bot.exchange.name %>
          <%= @bot.exchange.name.capitalize %>
        <% end %>
      </div>

      <%= render partial: "bots/barbell/settings", locals: { bot: @bot } %>

    </div>
    <%= form_with model: @bot, url: bots_path(@bot), method: :post, data: { action: "turbo:submit-end->modal--base#submitEnd" } do |f| %>
      <%= f.hidden_field :label, value: @bot.label %>
      <%= f.hidden_field :base0_asset_id, value: @bot.base0_asset_id %>
      <%= f.hidden_field :base1_asset_id, value: @bot.base1_asset_id %>
      <%= f.hidden_field :quote_asset_id, value: @bot.quote_asset_id %>
      <%= f.hidden_field :exchange_id, value: @bot.exchange_id %>
      <%= f.hidden_field :quote_amount, value: @bot.quote_amount %>
      <%= f.hidden_field :interval, value: @bot.interval %>
      <%= f.hidden_field :allocation0, value: @bot.allocation0 %>
      <%= f.hidden_field :marketcap_allocated, value: @bot.marketcap_allocated %>
      <%= f.hidden_field :quote_amount_limited, value: @bot.quote_amount_limited %>
      <%= f.hidden_field :quote_amount_limit, value: @bot.quote_amount_limit %>
      <%= f.submit t('button.start'), class: 'button button--large button--success', style: "min-width: 30rem", disabled: !@bot.valid? %>
    <% end %>
  </div>

<% end %>
