<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>
<% base1_color = ensure_contrast(@bot.base1_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/barbell/new/progress_bar', locals: { current_step: :exchange } %>

    <div class="conversational conversational--bot-setup">
      <%= t('bot.setup.sentence.invest_in') %>
      <%= link_to @bot.base0_asset.symbol, barbell_new_step_to_first_asset_bots_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base0_color}" %>
      <%= t('bot.setup.sentence.and') %>
      <%= link_to @bot.base1_asset.symbol, barbell_new_step_to_second_asset_bots_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base1_color}" %>
      <div style="display: flex; gap: 1rem">
        <%= t('bot.setup.sentence.at') %>
        <%= form_with model: @bot, url: barbell_new_step_exchange_bots_path, method: :get, data: { controller: "form--submit-after-delay", turbo_frame: "exchange-picker" } do |f| %>
          <%= f.text_field :query, autofocus: true, autocomplete: "off", placeholder: "…", data: { action: "input->form--submit-after-delay#submit" }, class: "conversational__input" %>
        <% end %>
      </div>
    </div>

    <%= turbo_frame_tag "exchange-picker", data: { action: "keydown@window->arrow-keys-navigation#navigate", controller: "arrow-keys-navigation" }, class: "modal--search__assets selectable-options" do %>

      <%# FIXME: test spinner. %>
      <% if @exchanges.blank? %>
        <%# This is just a placeholder to design the style, however it's shown even if no text is input in the form. To solve it I have to enable background tasks, that process the search and broadcast the results once ready. %>
        <div class="loader"></div>
      <% end %>

      <div class="exchange-picker__item exchange-picker__item--header">
        <div>Fees:</div>
        <div>Maker</div>
        <div>Taker</div>
        <div>Withdrawal (₿)</div>
      </div>
      <div class="selectable-options">
        <%= form_with model: @bot, url: barbell_new_step_api_key_bots_path, method: :get do |f| %>
          <% @exchanges.each do |exchange| %>
            <div class="exchange-picker__items" data-arrow-keys-navigation-target="item">
              <%= button_tag name: "#{@bot.model_name.param_key}[#{:exchange_id}]", value: exchange.id, type: :submit, class: "exchange-picker__item exchange-picker__item--exchange", data: { arrow_keys_navigation_target: "button", turbo_frame: "modal_content" } do %>
              <div><%= exchange.name.capitalize %></div>
              <div><%= "#{exchange.maker_fee || '-'}%" %></div>
              <div><%= "#{exchange.taker_fee || '-'}%" %></div>
              <div><%= exchange.withdrawal_fee || '-' %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
