<% base0_color = ensure_contrast(@bot.base0_asset&.color || "#8A9BA8") %>

<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/barbell/new/progress_bar', locals: { current_step: :currencies } %>

    <div class="conversational conversational--bot-setup">
      <%= t('bot.setup.sentence.invest_in') %>
      <%= link_to @bot.base0_asset.symbol, barbell_new_step_to_first_asset_bots_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{base0_color}" %>
      <%= t('bot.setup.sentence.and') %>
      <%= render partial: 'bots/barbell/new/asset_search_input', locals: {
        bot: @bot,
        search_form_path: barbell_new_step_to_second_asset_bots_path
      } %>
    </div>

    <%= render partial: 'bots/barbell/new/asset_search_results', locals: {
      bot: @bot,
      asset_field: :base1_asset_id,
      next_step_path: barbell_new_step_exchange_bots_path,
      assets: @assets
    } %>
  </div>
<% end %>
