<%= render layout: 'layouts/modal/full_page', locals: { close_url: rules_path } do %>
  <div class="bot-creation-layout">
    <%= render "bots/new_step_progress_bar", current_step: :settings, steps: { pick_asset: 20, pick_exchange: 40, api: 60, address: 80, settings: 100 } %>

      <%= form_with url: rules_withdrawals_confirm_settings_path, method: :post,
                    class: "bot-creation-preview",
                    data: {
                      controller: "form--html5-validations form--submit",
                      turbo_stream: true
                    } do |f| %>
        <div class="flex-row">
          <div id="create-bot-button">
            <%= f.submit t('rules.withdrawals.form.submit'), class: 'sbutton button--success' %>
          </div>
        </div>
        <button type="submit"
                formaction="<%= preview_rules_withdrawals_confirm_settings_path %>"
                formnovalidate
                hidden
                data-form--submit-target="trigger">
        </button>
        <%= render "rule_preview" %>
      <% end %>
  </div>
<% end %>
