<% asset_color = ensure_contrast(@asset.color || "#8A9BA8") %>

<%= render layout: 'layouts/modal/full_page', locals: { close_url: rules_path } do %>
  <div class="bot-creation-layout">
    <%= render "bots/new_step_progress_bar", current_step: :settings, steps: { pick_asset: 20, pick_exchange: 40, api: 60, address: 80, settings: 100 } %>

    <div class="bot-creation-preview">
      <%= form_with url: rules_withdrawals_confirm_settings_path, method: :post,
                    data: {
                      controller: "form--html5-validations",
                      turbo_stream: true
                    } do |f| %>
        <div class="flex-row">
          <div id="create-bot-button">
            <%= f.submit t('rules.withdrawals.form.submit'), class: 'sbutton button--success' %>
          </div>
        </div>
        <div class="widget main-rule">
          <div class="conversational flex-justify-center">
            <%= t('rules.withdrawals.sentence.withdraw_all') %>
            <%= link_to @asset.symbol, new_rules_withdrawals_pick_asset_path, data: { turbo_frame: "modal_content" }, class: "ticker", style: "background: #{asset_color}" %>
            <%= t('rules.withdrawals.sentence.from') %>
            <%= link_to new_rules_withdrawals_pick_exchange_path, data: { turbo_frame: "modal_content" }, class: "sbutton sbutton--exchange sbutton--exchange--#{@exchange.name_id}" do %>
              <%= render "svg/exchange-#{@exchange.name_id}", title: @exchange.name %>
              <span class="hide-on-mobile"><%= @exchange.name %></span>
            <% end %>
            <%= t('rules.withdrawals.sentence.to') %>
            <%= link_to truncate(@address, length: 16), new_rules_withdrawals_add_address_path, data: { turbo_frame: "modal_content" }, class: "tag tag--address" %>
            <%= t('rules.withdrawals.sentence.when_fee_not_more_than') %>
            <%= f.number_field :max_fee_percentage, value: @rule.max_fee_percentage || 0.5, class: 'sinput numeric-input', step: :any, min: 0.01, max: 100, size: 2, required: true, placeholder: "0.5", data: { controller: "autowidth-input", action: "input->autowidth-input#resize" }, style: "width: 50px;" %>
            <%= t('rules.withdrawals.sentence.of_the_amount') %>
          </div>
          <small>
            <%= t('rules.withdrawals.confirm_settings.min_amount_html',
                  symbol: @asset.symbol,
                  amount: @rule.minimum_withdrawal_amount || '…').html_safe %>
          </small>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
