.container.container--signup
  .row
    .d-none.d-lg-block.col-lg-6.col-xl-7.db-signup--text
      %h3.mb-5.mt-4.pt-2 Dollar-cost averaging into<br>Bitcoin is the new standard<br>for long-term savers.
      -# %h3.mb-5.mt-4.pt-2 If you were dollar-cost averaging<br>into Bitcoin for the last year,<br>you're now up <span class="text-success">+123%</span>
      .db-signup__list
        .db-signup__list--item.mb-4
          .material-icons-round check
          %a.ml-2(href="https://t.me/deltabadgerchat" target="_blank" rel="nofollow") Join our Telegram group
        .db-signup__list--item.mb-4
          .material-icons-round check
          %a.ml-2(href="https://twitter.com/deltabadgerapp" target="_blank" rel="nofollow")Follow us on Twitter
    .col-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2.offset-lg-0.col-lg-6.col-xl-5
      .modal-dialog
        .modal-content
          .modal-body
            %h3.db-modal-title Log in
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .db-form__row
                = f.email_field :email, autofocus: true, autocomplete: "email", value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
                .db-form__bottom-line
                = f.label :email, class: "db-form__label"
              .db-form__row
                = f.password_field :password, autocomplete: "current-password", value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
                .db-form__bottom-line
                - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                  .db-form__info.db-form__info--right
                    = link_to "Forgot password?", new_password_path(resource_name)
                = f.label :password, class: "db-form__label"
              - if devise_mapping.rememberable?
                .db-form__row.db-form__row--check.form-check
                  = f.check_box :remember_me, class: "form-check-input"
                  = f.label :remember_me, class: "form-check-label"
              .db-form__row.db-form__row--final-button
                = f.submit "Log in", class: "btn btn-primary btn-lg w-100"
            .db-form__other-links
              = render "devise/shared/links"
