- content_for :meta_robots_content, 'noindex'
- resource.errors.add(:email, :invalid) if flash[:alert].present?
- flash[:alert] = nil if flash[:alert].present?

.container.container--signup
  .row
    .d-none.d-lg-block.col-lg-6.col-xl-7.db-signup--text
      %h3.db-modal-companion-title= t('ads.dca_standard_html')
      .db-signup__list
        .db-signup__list__item
          .material-icons check
          %a.db-signup__list__item__text(href="https://t.me/deltabadgerchat" target="_blank" rel="nofollow")= t('social.telegram')
        .db-signup__list__item
          .material-icons check
          %a.db-signup__list__item__text(href="https://twitter.com/deltabadgerapp" target="_blank" rel="nofollow")= t('social.twitter')
    .col-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2.offset-lg-0.col-lg-6.col-xl-5
      .db-box
        %h3.db-modal-title= t('.title')
        = form_for(resource, as: resource_name, url: session_path(resource_name), :method => :post) do |f|
          .db-form__row
            = f.email_field :email, autofocus: true, autocomplete: "email", value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
            .db-form__info.db-form__info--invalid
              - if @error_message
                #{@error_message}
              - else
                = t('errors.messages.bad_credentials')
            = f.label :email, class: "db-form__label"
          .db-form__row
            = f.password_field :password, autocomplete: "current-password", value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'

            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              .db-form__info.db-form__info--right
                = link_to t('.forgot_password'), new_password_path(resource_name)
            = f.label :password, class: "db-form__label"
          - if devise_mapping.rememberable?
            .db-form__row.db-form__row--check.form-check
              = f.check_box :remember_me, class: "form-check-input"
              = f.label :remember_me, class: "form-check-label"

          .db-form__row
            = f.text_field :otp_code_token, autocomplete: 'off', value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
            .db-form__info.db-form__info--invalid
              - if @error_message
                #{@error_message}
            = f.label :otp_code_token, "2FA code", class: "db-form__label"

          .db-form__row.db-form__row--final-button
            = invisible_recaptcha_tags text: t('.submit'), class: "btn btn-primary btn-lg w-100"

        .db-form__other-links
          = render "devise/shared/links"
