<h3 class="db-modal-title"><%= t('.title') %></h3>
<%= form_with model: resource, url: session_path(resource_name), method: :post, data: { controller: "form--html5-validations form--label-animations" } do |f| %>
  <div class="db-form__row">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "db-form__input", pattern: @email_address_pattern %>
    <%= f.label :email, class: "db-form__label" %>
  </div>

  <%= tag.div class: "db-form__row db-has-unmask", data: { controller: "form--password-unmask" } do %>
    <%= f.password_field :password, autocomplete: "current-password", class: "db-form__input db-form__input--has-icon", data: { form__password_unmask_target: "input" } %>
    <%= f.label :password, class: "db-form__label" %>
    <div class="db-unmask" data-action="click->form--password-unmask#toggle">
      <%= render "layouts/svg_mi_visibility" %>
      <%= render "layouts/svg_mi_visibility-off" %>
    </div>

    <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="db-form__info db-form__info--right">
        <%= link_to t('.forgot_password'), new_password_path(resource_name) %>
      </div>
    <% end %>
  <% end %>

  <% if devise_mapping.rememberable? %>
    <div class="db-form__row db-form__row--check form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
  <% end %>

  <div class="db-form__row">
    <%= f.text_field :otp_code_token, autocomplete: 'off', class: "db-form__input" %>
    <%= f.label :otp_code_token, "2FA code", class: "db-form__label" %>
  </div>

  <div class="db-form__row" style="min-height: 72px">
    <%= cloudflare_turnstile %>
  </div>

  <div class="db-form__row db-form__row--final-button">
    <%= f.submit t('.submit'), class: "btn btn-primary btn-lg w-100" %>
  </div>
<% end %>

<div class="db-form__other-links">
  <%= render "devise/shared/links" %>
</div>