<%= form_with model: resource, url: verify_two_factor_path, method: :post, data: { controller: "form--html5-validations form--label-animations" } do |f| %>

  <%= render 'svg/40x30_logo' %>

  <h1><%= t('.title') %></h1>

  <div class="form__row">
    <%= f.text_field :otp_code_token, autofocus: true, autocomplete: 'off', class: "form__input", required: true, pattern: "\\d{6}", data: { html5_error_message: t('devise.sessions.two_factor.invalid_code') } %>
    <%= f.label :otp_code_token, "2FA code", class: "form__label" %>
  </div>

  <div class="form__row form__row--final-button">
    <%= f.submit t('devise.sessions.two_factor.submit'), class: "button button--primary button--large w-100" %>
  </div>
<% end %>