<%= form_with model: resource, url: verify_two_factor_user_session_path, method: :post, data: { controller: "form--html5-validations form--label-animations" } do |f| %>
  <h3><%= t('devise.sessions.two_factor.title') %></h3>

  <div class="db-form__row">
    <%= f.text_field :otp_code_token, autofocus: true, autocomplete: 'off', class: "db-form__input", required: true, pattern: "\\d{6}", oninvalid: "this.setCustomValidity('#{t('devise.sessions.two_factor.invalid_code')}')", oninput: "this.setCustomValidity('')" %>
    <%= f.label :otp_code_token, "2FA code", class: "db-form__label" %>
  </div>

  <div class="db-form__row db-form__row--final-button">
    <%= f.submit t('devise.sessions.two_factor.submit'), class: "btn btn-primary btn-lg w-100" %>
  </div>
<% end %> 