<div class="widget--pricing__name">
  <%= t('subscriptions.free') %>
  <div class="db-years">
    <%= t('subscriptions.plan_life_time') %>
  </div>
</div>
<div class="widget--pricing__info">
  <p><%= t('subscriptions.free_info') %></p>
  <ul>
    <li><%= render 'svg/24x24_check' %><%= t('subscriptions.features.limited_dca') %></li>
  </ul>
</div>