<div class="widget--pricing__name">
  <%= t('subscriptions.legendary') %>
  <div class="db-years">
    <%= t('subscriptions.plan_life_time') %>
  </div>
</div>
<div class="widget--pricing__amount">
  <% if payment_option.base_price != payment_option.adjusted_base_price %>
      <div class="widget--pricing__amount__t widget--pricing__amount__t--previous">
        <%= format_price(payment_option.base_price, payment_option.currency) %>
      </div>
      <div class="widget--pricing__amount__t widget--pricing__amount__t--new">
        <%= format_price(payment_option.adjusted_base_price, payment_option.currency) %>
      </div>
    <% else %>
      <div class="widget--pricing__amount__t">
        <%= format_price(payment_option.base_price, payment_option.currency) %>
      </div>
    <% end %>
</div>
<div class="widget--pricing__info">
  <%= t('subscriptions.legendary_badger_info_html') %>
  <div class="widget--pricing__legendary-plans-left">
    <%= legendary_plan.for_sale_count %> of <%= legendary_plan.total_supply %> left.
    <div class="slider">
      <div class="slider__style">
        <div class="slider__style__track">
          <div class="slider__style__progress" role="progressbar" style="width: <%= legendary_plan.sold_percent %>%" aria-valuenow="<%= legendary_plan.sold_percent %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>