<div class="widget--pricing__name">
  <%= t('subscriptions.pro') %>
  <% if current_user.subscription.pro? %>
    <span class="widget--pricing__badge"><%= t('subscriptions.active') %></span>
  <% end %>
  <div class="widget--pricing__name__period">
    <%= t("subscriptions.plan_#{payment_option.subscription_plan_variant.years}_year") %>
    <%# t("subscriptions.until", end_date: Date.today + payment_option.subscription_plan_variant.duration) %>
  </div>
</div>

<% if payment_option.present? %>
  <div class="widget--pricing__amount">
    <% if payment_option_1y.base_price != payment_option.base_price %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
        <%= localized_price(payment_option.virtual_price('base_price', 1.year), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_year_html') %></span>
      </span>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main widget--pricing__amount__t--previous">
        <%= localized_price(payment_option_1y.virtual_price('base_price', 1.year), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_year_html') %></span>
      </span>
    <% else %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
        <%= localized_price(payment_option.virtual_price('base_price', 1.year), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_year_html') %></span>
      </span>
    <% end %>
  </div>
<% end %>

<ul>
  <li><%= t('subscriptions.features.dca') %></li>
  <li><%= t('subscriptions.features.withdrawals') %></li>
  <li><%= t('subscriptions.features.barbell') %></li>
  <li><%= t('subscriptions.features.indexing') %></li>
  <li><%= t('subscriptions.features.analyzer') %></li>
</ul>