<div class="widget--pricing__name">
  <%= t('subscriptions.pro') %>
  <div class="db-years">
    <% if current_user.subscription.name == SubscriptionPlan::PRO_PLAN && current_user.subscription.days_left %>
      <div class="text-success"><%= t('subscriptions.days_left', count: current_user.subscription.days_left) %></div>
    <% else %>
      <%= t("subscriptions.plan_#{payment_option.subscription_plan_variant.years}_year") %>
    <% end %>
  </div>
</div>
<div class="widget--pricing__amount">
  <% unless current_user.subscription.name == SubscriptionPlan::PRO_PLAN && current_user.subscription.days_left %>
    <% if payment_option.base_price != payment_option.adjusted_base_price %>
      <div class="widget--pricing__amount__t widget--pricing__amount__t--previous">
        <%= format_price(payment_option.base_price, payment_option.currency) %>
      </div>
      <div class="widget--pricing__amount__t widget--pricing__amount__t--new">
        <%= format_price(payment_option.adjusted_base_price, payment_option.currency) %>
      </div>
    <% else %>
      <div class="widget--pricing__amount__t">
        <%= format_price(payment_option.base_price, payment_option.currency) %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="widget--pricing__info">
  <p><%= t('subscriptions.pro_info') %></p>
  <ul>
    <li><%= t('subscriptions.features.dca') %></li>
    <li><%= t('subscriptions.features.withdrawals') %></li>
    <li>FeeCutter</li>
    <li><%= t('subscriptions.features.price_limit') %></li>
    <li><%= t('subscriptions.features.analyzer_html') %></li>
  </ul>
</div>