<div class="widget--pricing__name">
  <%= t('subscriptions.pro') %>
  <div class="widget--pricing__name__period">
    <% if current_user.subscription.name == SubscriptionPlan::PRO_PLAN && payment_option.nil? %>
      <%= t('subscriptions.days_left', count: current_user.subscription.days_left) %>
    <% else %>
      <%# t("subscriptions.until", end_date: Date.today + payment_option.subscription_plan_variant.duration) %>
    <% end %>
  </div>
</div>

<% if payment_option.present? %>
  <div class="widget--pricing__amount">
    <% if payment_option.base_price != payment_option.adjusted_base_price %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main widget--pricing__amount__t--previous">
        <%= localized_price(payment_option.virtual_price('base_price', 1.year), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_year_html') %></span>
      </span>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--new">
        <%= localized_price(payment_option.virtual_price('adjusted_base_price', 1.year), payment_option.currency) %><span class="price-period"><%= t('subscriptions.per_year_html') %></span>
      </span>
    <% else %>
      <span class="widget--pricing__amount__t widget--pricing__amount__t--main">
        <%= localized_price(payment_option.virtual_price('base_price', 1.year), payment_option.currency, 0) %><span class="price-period"><%= t('subscriptions.per_year_html') %></span>
      </span>
    <% end %>
  </div>
<% end %>

<ul>
  <li><%= t('subscriptions.features.dca') %></li>
  <li><%= t('subscriptions.features.withdrawals') %></li>
  <li>FeeCutter</li>
  <li><%= t('subscriptions.features.price_limit') %></li>
  <li><%= t('subscriptions.features.analyzer_html') %></li>
</ul>