%h1 Invoice
%p
  %b= "Paid at:"
%p= "#{@payment.paid_at}"
%p
  %b= "Seller:"
%p
  Deltabadger OÜ
  %br
  Pärnu mnt 158/2-88
  %br
  11317 Tallinn
  %br
  Estonia
  %br
  Reg.No.14781461
%p
  %b= "Buyer:"
%p
  = "#{@payment.first_name} #{@payment.last_name}"
  %br
  = "#{@user.email}"
%h2= "Deltabadger #{@payment.subscription_plan.display_name} Plan (#{@payment.subscription_plan.years}-year)"
%p
  %b= "Paid:"
%h2= "#{@payment.total} #{@payment.currency}"
