<%= tag.div id: dom_id(asset) do %>
  <% asset_color = asset.color || "#F7931A" %>
  <%= tag.div class: "basket__asset smart-allocation---off",
              data: {
                hw_animate_in_append: "animate-asset-in",
                hw_animate_out_remove: "animate-asset-out"
  } do %>
    <%= form_with model: asset, url: portfolio_asset_path(asset.portfolio_id, asset), method: :patch, html: { class: "basket__asset__form", onchange: "requestSubmit();" }, data: { controller: "allocations", allocations_asset_ticker_value: asset.ticker } do |form| %>
      <div class="ticker-input ticker-input--percentage">
        <%= form.text_field :allocation_input_text, value: (asset.allocation * 100).round(0), data: { allocations_target: "allocationInputText", action: "change->allocations#updateAssetAllocation" }, disabled: asset.portfolio.smart_allocation_on?, class: "numeric-input iu-numeric iu-char-limit" %>
        <span>%</span>
        <%= tag.div class: "ticker", style: "background: #{asset_color};" do %>
          <%= asset.ticker %>
        <% end %>
      </div>
      <div class="slider">
        <%= form.range_field :allocation, in: 0.0..1.0, step: 0.01, value: asset.allocation, class: "slider__input", data: { allocations_target: "allocation", action: "input->allocations#updateAssetAllocation" }, disabled: asset.portfolio.smart_allocation_on? %>
        <div class="slider__style">
          <%= tag.div class: "slider__style__track", style: "border-left-color: #{asset_color};" do %>
            <%= tag.div class: "slider__style__progress", style: "width: #{asset.allocation * 100}%; background: #{asset_color};", data: { allocations_target: "allocationSlider" } do %>
              <%= tag.div class: "slider__style__thumb", style: "background: #{asset_color};" do %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= button_to portfolio_asset_path(asset.portfolio_id, asset), method: :delete, class: "basket__remove__icon icon-20", style: "background: none; border: none; padding: 0;" do %>
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 5.5L10.5 10.5M5.5 10.5L10.5 5.5" stroke="#8894B6" stroke-width="1.5" stroke-linecap="square"></path>
      </svg>
    <% end %>
  <% end %>
<% end %>