<% id_prefix = asset.portfolio.active_assets.map(&:id).include?(asset.id) ? 'active' : 'idle' %>
<% asset_color = asset.color || "#F7931A" %>
<% adjusted_color = ensure_contrast(asset_color) %>

<%= tag.div id: "#{id_prefix}_#{dom_id(asset)}" do %>
  <%= tag.div class: "basket__asset-wrapper", data: {
    controller: "portfolio-analyzer--asset-allocation",
    portfolio_analyzer__asset_allocation_asset_api_id_value: asset.api_id,
    hw_animate_in_append: "animate-asset-in",
    hw_animate_in_after: "animate-asset-in",
    hw_animate_out_remove: "animate-asset-out"
  } do %>
    <%= form_with model: asset, url: portfolio_asset_path(asset.portfolio_id, asset), method: :patch, html: { class: "basket__asset", onchange: "requestSubmit();" } do |form| %>


      <div class="basket__asset__info">
        <div class="basket__asset__info__name">
          <div class="ellipsis"><%= asset.name %></div>
          <div class="basket__asset__info__ticker"><%= asset.ticker %></div>
        </div>
        <div class="basket__asset__info__amount">
          <%# form.text_field :amount_input_text, class: "basket__asset__info__input" %>
        </div>
        <div class="basket__asset__info__allocation">
          <%= form.text_field :allocation_input_text, value: sprintf('%.2f', asset.effective_allocation * 100), data: { portfolio_analyzer__asset_allocation_target: "allocationInputText", action: "change->portfolio-analyzer--asset-allocation#updateAssetAllocation" }, disabled: asset.portfolio.smart_allocation_on?, class: "basket__asset__info__input basket__asset__info__input--percentage" %>
          <span class="basket__asset__info__input-suffix">%</span>
        </div>
      </div>

      <div class="slider">
        <%= form.range_field :allocation, in: 0.0..1.0, step: 0.01, value: asset.effective_allocation, class: "slider__input numeric-input", data: { portfolio_analyzer__asset_allocation_target: "allocation", action: "input->portfolio-analyzer--asset-allocation#updateAssetAllocation" }, disabled: asset.portfolio.smart_allocation_on? %>
        <div class="slider__style">
          <%= tag.div class: "slider__style__track", style: "border-left-color: #{adjusted_color};" do %>
            <%= tag.div class: "slider__style__progress", style: "width: #{asset.effective_allocation * 100}%; background: #{adjusted_color};", data: { portfolio_analyzer__asset_allocation_target: "allocationSlider" } do %>
              <%= tag.div class: "slider__style__thumb", style: "background: #{adjusted_color};" do %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%# <input type="text" class="numeric-input iu-numeric iu-autowidth" style="width:40rem" size="1" placeholder="0.123">  %>
    <% end %>

    <%= button_to portfolio_asset_path(asset.portfolio_id, asset), method: :delete, class: "basket__remove__icon icon-20", style: "background: none; border: none; padding: 0;" do %>
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 5.5L10.5 10.5M5.5 10.5L10.5 5.5" stroke="#8894B6" stroke-width="1.5" stroke-linecap="square"></path>
      </svg>
    <% end %>
  <% end %>
<% end %>
