<div class="infoheader" data-controller="class-toggle" data-class-toggle-toggle-classes-value='["hidden"]'>
  <nav class="infoheader__head">
    <div class="conversational conversational--big" id="infoheader-title" data-class-toggle-target="togglable">
      <% input_field = form_with url: calculator_path, method: :get, data: { controller: "form--submit", turbo_frame: "tiles" }, html: { style: "display: inline;" } do |f| %>
        <%= f.text_field :invest_amount,
          value: invest_amount,
          class: "sinput",
          placeholder: "0",
          data: { controller: "autowidth-input", action: "change->form--submit#submit input->autowidth-input#resize" }
        %>
      <% end %>
      <%= t('dca_calculator.title',
        amount: input_field,
        goal: t('dca_calculator.goal_millionaire')
      ).html_safe %>
    </div>
    <%# <div class="infoheader__icon active"  id="infoheader-icon" data-action="click->class-toggle#toggle">i</div> %>
  </nav>

  <%# <%= turbo_frame_tag "tiles", class: "itiles", data: { class_toggle_target: "togglable" } do %>
  <%= turbo_frame_tag "tiles", class: "itiles" do %>
    <div class="itile">
      <div class="theme-img" style="background-image: url('https://deltabadger.com/images/astronaut-02.jpg')"></div>
      <h3 class="index-title">Bitcoin</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['btc'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile">
      <div class="theme-img" style="background-image: url('/assets/bg-qqq.jpg')"></div>
      <h3 class="index-title">QQQ</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['ndx'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile">
      <div class="theme-img" style="background-image: url('https://deltabadger.com/blog/fnilx-stock.jpg')"></div>
      <h3 class="index-title">S&P 500</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['gspc'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile">
      <div class="theme-img" style="background-image: url('/assets/bg-gold.jpg')"></div>
      <h3 class="index-title"><%= t('utils.gold') %></h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['gld'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile">
      <div class="theme-img" style="background-image: url('https://deltabadger.com/images/city-01.jpg')"></div>
      <h3 class="index-title">DAX</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['gdaxi'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile">
      <div class="theme-img" style="background-image: url('/assets/bg-bonds.jpg')"></div>
      <h3 class="index-title"><%= t('utils.cash') %></h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['usd'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
  <% end %>
</div>

<!--
//     &--qqq
//         background-image: linear-gradient(#0c2277cc,#0c2277ee), url("bg-qqq.jpg")
//     &--gold
//         background-image: linear-gradient(#530c,#530e), url("bg-gold.jpg")
//     &--bonds
//         background-image: linear-gradient(#032c,#032e), url("bg-bonds1.jpg")
//     &--cash
//         background-image: linear-gradient(#044c,#044e), url("bg-bonds.jpg")
-->
