<div class="infoheader" data-controller="show-hide">
  <nav class="infoheader__head">
    <div>
      <h2 class="infoheader__h" id="infoheader-title" data-show-hide-target="hideable">
        <% input_field = form_with url: calculator_path, method: :get, data: { controller: "form--submit", turbo_frame: "tiles" }, html: { style: "display: inline;" } do |f| %>
          <%= f.text_field :invest_amount,
            value: invest_amount,
            class: "hinput",
            placeholder: "0",
            style: " width: #{invest_amount.to_s.size}ch; min-width: 1ch",
            oninput: "this.style.width = (this.value.length) + 'ch'",
            data: { action: "change->form--submit#submit" }
          %>
        <% end %>
        <%= t('dca_calculator.title',
          amount: input_field,
          goal: t('dca_calculator.goal_millionaire')
        ).html_safe %>
      </h2>
    </div>
    <%# <div class="infoheader__icon active"  id="infoheader-icon" data-action="click->show-hide#toggle"  data-show-hide-target="toggleButton">i</div> %>
  </nav>

  <%# <%= turbo_frame_tag "tiles", class: "itiles", data: { show_hide_target: "hideable" } do %>
  <%= turbo_frame_tag "tiles", class: "itiles" do %>
    <div class="itile itile--bitcoin">
      <h3 class="itile__title">Bitcoin</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['btc'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile itile--qqq">
      <h3 class="itile__title">QQQ</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['ndx'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile itile--voo">
      <h3 class="itile__title">S&P 500</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['gspc'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile itile--gold">
      <h3 class="itile__title"><%= t('utils.gold') %></h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['gld'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile itile--bonds">
      <h3 class="itile__title">DAX</h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['gdaxi'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
    <div class="itile itile--cash">
      <h3 class="itile__title"><%= t('utils.cash') %></h3>
      <div class="itile__value">
        <%= time_ago_in_words(((Time.current - simulation_results['usd'].to_time) / 1.month).floor.months.ago) %>
      </div>
    </div>
  <% end %>
</div>