- disabled = !current_user.unlimited?

- if disabled
  .alert.alert-primary.db-alert--flex
    %span= t('.upgrade')

    %a.btn.btn-primary{href: upgrade_path}
      %span= t('upgrade')


.modal-dialog(role='document')
  .modal-content
    .modal-body{ class: ("db-referral-program-registration--inactive" if disabled) }

      %h2.db-modal-title= t('.title')

      = t('.manual_html')

      .db-referral-program-registration
        - if errors.present?
          %ul.pl-3
            - errors.each do |error|
              %li.text-danger= error

        = form_with model: affiliate, local: true, url: affiliate_path do |f|
          %h4.mb-4.pt-5= t('.referrer_info')

          - presenter = Presenters::Affiliates::New.new(affiliate)

          .form-group
            .form-check.form-check-inline
              = f.radio_button :type, "individual", checked: presenter.individual?, class: "mr-2 radio--private", disabled: disabled
              = f.label :type, t('.private'), value: "individual", class: "form-check-label"
            .form-check.form-check-inline
              = f.radio_button :type, "eu_company", checked: !presenter.individual?, class: "mr-2 radio--eu-company", disabled: disabled
              = f.label :type, t('.eu_company'), value: "eu_company", class: "form-check-label"

          .form-group.db-form-group--eu-company.mt-5{ class: ("db-form-group--eu-company__visible" unless presenter.individual?) }
            = f.label :name, t('.company.name')
            = f.text_field :name, class: 'form-control form-control-lg', disabled: disabled

          .form-group.db-form-group--eu-company{ class: ("db-form-group--eu-company__visible" unless presenter.individual?) }
            = f.label :address, t('.company.address')
            = f.text_field :address, class: 'form-control form-control-lg', disabled: disabled

          .form-group.db-form-group--eu-company{ class: ("db-form-group--eu-company__visible" unless presenter.individual?) }
            = f.label :vat_number, t('.company.vat_number')
            = f.text_field :vat_number, class: 'form-control form-control-lg', disabled: disabled


          %h4.mb-4.pt-5= t('.payout_address')

          .form-group.mb-5
            = f.label :btc_address, t('.payout_address_label')
            = f.text_field :btc_address, class: 'form-control form-control-lg', disabled: disabled


          %h4.mb-4.pt-3= t('.program_settings')

          .text-danger.mb-4= t('.unchangable_warning')

          .form-group.mb-5
            = f.label :code, t('.referral_code_label')
            .input-group
              .input-group-prepend
                %span#referral-prefix.input-group-text
                  = "deltabadger.com/ref/"
              = f.text_field :code, class: 'form-control form-control-lg db-referral-code-input', id: 'referral-code', disabled: disabled


          .form-group.mb-5
            = f.label :discount_percent do
              = t('.discount_info_html', earn_percent_preview: presenter.earn_percent_preview, discount_percent_preview: presenter.discount_percent_preview)
            = f.range_field :discount_percent, in: (presenter.min_discount_percent)..(presenter.max_discount_percent), value: presenter.discount_percent, step: presenter.percent_step, data: { sum: presenter.bonus_percent }, class: "db-form-control-range--discount-ratio form-control-range", style: "direction: rtl", disabled: disabled


          %h4.mb-4.pt-2= t('.visible_info')

          .mb-5
            %p Preview of the info visible for referee:
            %table.table.db-table--checkout.mb-0
              %tbody.table-borderless
                %tr.text-success
                  %td(scope="col")
                    <i class="material-icons-round">check_circle</i>
                  %td(scope="col")
                    %b= t('affiliates.discount.congrats_html', discount_percent: presenter.discount_percent_preview)
                    %span.db-billing-item__info.text-dark
                      %span.db-form-preview--visible_text{class: ('db-form-preview--visible_text__visible' if affiliate.visible_name.present?)}
                        = t('affiliates.discount.referrer_html', visible_link: 'javascript:;', visible_name: affiliate.visible_name)
                      = t('affiliates.discount.valid_for')

          .form-group
            = f.label :visible_name, t('.preview_name')
            = f.text_field :visible_name, class: 'form-control form-control-lg db-form-control-text--visible_name', disabled: disabled

          .form-group.mb-5
            = f.label :visible_link, t('.preview_link')
            .input-group
              = f.select :visible_link_scheme, [['https://', 'https'], ['http://', 'http']], {}, class: 'form-control form-control-lg db-http-prefix-select', disabled: disabled
              = f.text_field :visible_link, class: 'form-control form-control-lg', disabled: disabled


          - unless disabled
            .form-check.pt-4.text-center
              = f.check_box :check, class: "form-check-input"
              = f.label :check, t('.checked'), class: "form-check-label"

          - if disabled
            .form-group.db-form-group--main-btn.pt-4
              %button.btn.btn-success.btn-lg{type: 'submit', disabled: true}
                = t('.submit')
          - else
            .form-group.db-form-group--main-btn.pt-4
              %button.btn.btn-success.btn-lg{type: 'submit'}
                = t('.submit')
