.modal-dialog(role='document')
  .modal-content
    .modal-body
      %h2.db-modal-title Referral program registration

      .alert.alert-success
        %p.mt-1 Earning bitcoins is the best way of dollar-cost averaging. Our referral program pays up to 20EUR<sup>*</sup> per user paid in BTC (using exchange ratio from the transaction). Example:
        %ol
          %li Referee buys 1-year plan for $20, and pays 0.0025BTC.
          %li You earn 20% what is $4 = 0.0005BTC.
          %li Next time the referee buys 4-year plan for $100, and pays 0.0125BTC.
          %li 20% of it is $20, but since you already got $4, the program pays remaining $16 = 0.002BTC.
        %small.mb-2 <sup>*</sup> The limit is either 20USD or 20EUR depending on the currency of the pricing.

      - if errors.present?
        %ul.pl-3
          - errors.each do |error|
            %li.text-danger= error

      = form_with model: affiliate.becomes(Affiliate), local: true, url: affiliate_path do |f|
        %h4.mb-4.pt-5 1. Referrer info

        - is_private = affiliate.type.nil? || affiliate.type == "individual"
        .form-group
          .form-check.form-check-inline
            = f.radio_button :type, "individual", checked: is_private, class: "mr-2 radio--private"
            = f.label :type, "Private", value: "individual", class: "form-check-label"
          .form-check.form-check-inline
            = f.radio_button :type, "eu_company", checked: !is_private, class: "mr-2 radio--eu-company"
            = f.label :type, "EU company", value: "eu_company", class: "form-check-label"

        .form-group.db-form-group--eu-company.mt-5{ class: ("db-form-group--eu-company__visible" unless is_private) }
          = f.label :name, "Name of the company:"
          = f.text_field :name, class: 'form-control'

        .form-group.db-form-group--eu-company{ class: ("db-form-group--eu-company__visible" unless is_private) }
          = f.label :address, "Address of the company:"
          = f.text_field :address, class: 'form-control'

        .form-group.db-form-group--eu-company{ class: ("db-form-group--eu-company__visible" unless is_private) }
          = f.label :vat_number, "VAT number (optional):"
          = f.text_field :vat_number, class: 'form-control'


        %h4.mb-4.pt-5 2. Payout address

        .form-group.mb-5
          = f.label :btc_address, 'BTC address to which you want to receive your payouts.'
          = f.text_field :btc_address, class: 'form-control'


        %h4.mb-4.pt-3 3. Program settings

        .form-group.mb-5
          = f.label :code, 'Pick your desired referral code.'
          %span.text-danger
            This can't be changed later!
          .input-group
            .input-group-prepend
              %span#referral-prefix.input-group-text
                = "deltabadger.com/ref/"
            = f.text_field :code, class: 'form-control', id: 'referral-code'

        .form-group.mb-5
          - discount_percent = affiliate.discount_percent || 0.2
          - earn_percent = 0.3 - discount_percent
          - discount_percent_preview = (discount_percent * 100).to_i
          - earn_percent_preview = (earn_percent * 100).to_i
          = f.label :discount_percent do
            You will <b>earn <span class="db-form-label-range--discount-percent">#{discount_percent_preview}</span>%</b>, and referee will get <b><span class="db-form-label-range--earn-percent">#{earn_percent_preview}</span>% discount</b>.
          = f.range_field :discount_percent, in: 0..(0.3), value: affiliate.discount_percent || 0.2, step: 0.05, class: "db-form-control-range--discount-ratio form-control-range"


        %h4.mb-4.pt-2 4. Visible info

        .mb-5
          %p The referee will see those data after using the link. Example:
          %table.table.db-table--checkout.mb-0
            %tbody.table-borderless
              %tr.text-success
                %td(scope="col")
                  <i class="material-icons-round">check_circle</i>
                %td(scope="col")
                  %b Congrats! The 10% discount is active.
                  %span.db-billing-item__info.text-dark Thanks to the referral link from <b><a href="https://en.wikipedia.org/wiki/Satoshi_Nakamoto#:~:text=Satoshi%20Nakamoto%20is%20the%20name,devised%20the%20first%20blockchain%20database">Satoshi Nakamoto</a></b>. Valid for the first purchase on the platform.

        .form-group
          = f.label :visible_name, "Name visible for referee (optional):"
          = f.text_field :visible_name, class: 'form-control'

        .form-group.mb-5
          = f.label :visible_link, "Link (optional):"
          = f.text_field :visible_link, class: 'form-control'


        .form-check.pt-4.text-center
          = f.check_box :check, class: "form-check-input"
          = f.label :check, "I checked everything carefully.", class: "form-check-label"

        .form-group.db-form-group--main-btn.pt-4
          %button.btn.btn-success.btn-lg{type: 'submit'}
            Let's start!
