- disabled = !current_user.unlimited?

- if disabled
  .alert.alert-primary.db-alert--flex
    %span
      To join our famous referral program, upgrade to one of our paid plans.

    %a.btn.btn-primary{href: upgrade_path}
      %span Upgrade

.row.mt-5
  .col-6
    %h2.mb-5 Referral program registration

    .alert.alert-primary
      %p.mt-1 Our referral program <b>pays up to $50</b><sup>1</sup> per user in BTC (using an exchange ratio from the transaction). Example:
      %ol
        %li For simplicity, the price of Bitcoin is ~$10000, the discount is 10%, and your margin is 20%.
        %li Referee buys a 1-year plan for $49.99, paying after the discount $44.99 what equals 0.0045BTC. You earn 0.001BTC (20% of $49.99).
        %li It doesn't matter if the price of Bitcoin changes in the meantime. Your profit is locked in BTC.
        %li Next time, the referee buys a 4-year plan for $149.99 and pays 0.015BTC. He or she doesn't get a discount anymore, but you still get your 20% what equals 0.003BTC.
        %li You continue to profit as long as you have an active plan<sup>2</sup>, and your total profit per referee does not reach $50.

      %p
        <em>Earning bitcoins is the best kind of dollar-cost averaging!</em>
      %small.mb-2 <sup>1</sup> The limit is either 50USD or 50EUR, depending on the currency of the pricing.
      %br
      %small.mb-5 <sup>2</sup> For the referee, the referral link works even if your subscription has expired.
  .col-6
    .db-box
      .modal-body{ class: ("db-referral-program-registration--inactive" if disabled) }
        .db-referral-program-registration
          - if errors.present?
            %ul.pl-3
              - errors.each do |error|
                %li.text-danger= error

          = form_with model: affiliate, local: true, url: affiliate_path do |f|
            %h4.mb-4 1. Referrer info

            - presenter = Presenters::Affiliates::New.new(affiliate)

            .form-group
              .form-check.form-check-inline
                = f.radio_button :type, "individual", checked: presenter.individual?, class: "mr-2 radio--private", disabled: disabled
                = f.label :type, "Private", value: "individual", class: "form-check-label"
              .form-check.form-check-inline
                = f.radio_button :type, "eu_company", checked: !presenter.individual?, class: "mr-2 radio--eu-company", disabled: disabled
                = f.label :type, "EU company", value: "eu_company", class: "form-check-label"

            .form-group.db-form-group--eu-company.mt-5{ class: ("db-form-group--eu-company__visible" unless presenter.individual?) }
              = f.label :name, "Name of the company:"
              = f.text_field :name, class: 'form-control form-control-lg', disabled: disabled

            .form-group.db-form-group--eu-company{ class: ("db-form-group--eu-company__visible" unless presenter.individual?) }
              = f.label :address, "Address of the company:"
              = f.text_field :address, class: 'form-control form-control-lg', disabled: disabled

            .form-group.db-form-group--eu-company{ class: ("db-form-group--eu-company__visible" unless presenter.individual?) }
              = f.label :vat_number, "VAT number (optional):"
              = f.text_field :vat_number, class: 'form-control form-control-lg', disabled: disabled


            %h4.mb-4.pt-5 2. Payout address

            .db-form__row.db-form__row--input

              = f.text_field :btc_address, disabled: disabled, pattern: '^([13][a-km-zA-HJ-NP-Z1-9]{25,34}|bc1[ac-hj-np-zAC-HJ-NP-Z02-9]{11,71})$', type: 'text', autocomplete: 'nope', value: "", class: "db-form__input", onchange: 'this.setAttribute("value", this.value);'
              .db-form__info.db-form__info--invalid
                It doesn't look like a valid Bitcoin address.
              = f.label :btc_address, 'BTC address to which you want to receive your payouts.', class: "db-form__label"


            %h4.mb-4.pt-3 3. Program settings

            .text-danger.mb-4
              Settings in this section can't be changed later.

            .form-group.mb-5
              = f.label :code, 'Pick your desired referral code.'
              .input-group
                .input-group-prepend
                  %span#referral-prefix.input-group-text
                    = "deltabadger.com/ref/"
                = f.text_field :code, class: 'form-control form-control-lg db-referral-code-input', id: 'referral-code', disabled: disabled


            .form-group.mb-5
              = f.label :discount_percent do
                You will <b>earn <span class="db-form-label-range--earn-percent">#{presenter.earn_percent_preview}</span>%</b>, and referee will get <b><span class="db-form-label-range--discount-percent">#{presenter.discount_percent_preview}</span>% discount</b>.
              = f.range_field :discount_percent, in: (presenter.min_discount_percent)..(presenter.max_discount_percent), value: presenter.discount_percent, step: presenter.percent_step, data: { sum: presenter.bonus_percent }, class: "db-form-control-range--discount-ratio form-control-range", style: "direction: rtl", disabled: disabled


            %h4.mb-4.pt-2 4. Visible info

            .mb-5
              %p Preview of the info visible for referee:
              %table.table.db-table--checkout.mb-0
                %tbody.table-borderless
                  %tr.text-success
                    %td(scope="col")
                      <i class="material-icons-round">check_circle</i>
                    %td(scope="col")
                      %b Congrats! The <span class="db-form-label-range--discount-percent">#{presenter.discount_percent_preview}</span>% discount is active.
                      %span.db-billing-item__info.text-dark
                        %span.db-form-preview--visible_text{class: ('db-form-preview--visible_text__visible' if affiliate.visible_name.present?)}
                          Thanks to the referral link from
                          %b
                            %a{href: 'javascript:;'} <span class='db-form-preview--visible_name'>#{affiliate.visible_name}</span>.
                        Valid for the first purchase on the platform.

            .form-group
              = f.label :visible_name, "Name on the preview"
              = f.text_field :visible_name, class: 'form-control form-control-lg db-form-control-text--visible_name', disabled: disabled

            .form-group.mb-5
              = f.label :visible_link, "Link"
              .input-group
                = f.select :visible_link_scheme, [['https://', 'https'], ['http://', 'http']], {}, class: 'form-control form-control-lg db-http-prefix-select', disabled: disabled
                = f.text_field :visible_link, class: 'form-control form-control-lg', disabled: disabled


            - unless disabled
              .form-check.pt-4.text-center
                = f.check_box :check, class: "form-check-input"
                = f.label :check, "I checked everything carefully.", class: "form-check-label"

            - if disabled
              .form-group.db-form-group--main-btn.pt-4
                %button.btn.btn-success.btn-lg{type: 'submit', disabled: true}
                  Let's start!
            - else
              .form-group.db-form-group--main-btn.pt-4
                %button.btn.btn-success.btn-lg{type: 'submit'}
                  Let's start!
