.modal-dialog(role="document")
  .modal-content
    .modal-body
      %h2.db-modal-title Referral Program

      .db-settings-section
        %h4.db-modal__subtitle Your referral link
        = ref_code_url(code: affiliate.code)

      .db-settings-section
        %h4.db-modal__subtitle Stats
        - stats = Presenters::Affiliates::ReferrerStats.new(affiliate)
        %ul
          %li
            Referee count:
            = stats.referee_count
          %li
            Paid commission:
            = stats.paid_commission
          %li
            Unpaid commission:
            = stats.unpaid_commission

      .db-settings-section
        %h4.db-modal__subtitle Update visible info
        .mb-5
          - presenter = Presenters::RefCodes::Show.new(affiliate)

          %p The referee will see those data after using the link.
          = render partial: 'ref_codes/show', locals: { affiliate: affiliate }

        = form_with model: affiliate, method: :patch, local: true, url: update_visible_info_affiliate_path do |f|
          .form-group
            = f.label :visible_name, "Name visible for referee:"
            = f.text_field :visible_name, class: 'form-control'

          .form-group.mb-5
            = f.label :visible_link, "Link:"
            .input-group
              = f.select :visible_link_scheme, [['https://', 'https'], ['http://', 'http']], {}, class: 'form-control db-http-prefix-select'
              = f.text_field :visible_link, class: 'form-control'

          .form-group
            = f.submit 'Update visible info', class: 'btn btn-lg btn-primary'

      .db-settings-section
        %h4.db-modal__subtitle Update Bitcoin address
        - if errors.present?
          %ul.pl-3
            - errors.each do |error|
              %li.text-danger= error

        = form_with model: affiliate, method: :patch, local: true, url: update_btc_address_affiliate_path do |f|
          .form-group
            = f.label :btc_address, 'BTC address'
            = f.text_field :btc_address, class: 'form-control'
          .form-group
            = f.label :current_password, 'Current password (for confirmation)'
            = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
          .form-group
            = f.submit 'Update Bitcoin address', class: 'btn btn-lg btn-primary'
