- unless affiliate_active
  .alert.alert-secondary.db-alert--flex
    %span
      It looks like this program got deactivated. Contact us if you're not sure why it happened.

    %a.btn.btn-outline-secondary{href: "mailto:contact@deltabadger.com"}
      %span Contact us

- if affiliate_active && !unlimited_active
  .alert.alert-primary.db-alert--flex
    %span
      Oh no… your subscription has expired. Renew your plan to continue benefiting from your referral program.

    %a.btn.btn-primary{href: upgrade_path}
      %span Upgrade


.row.pt-5
  .col-sm-12.col-lg-6
    %h2.mb-5 Referral Program
      .db-referral-stats
        - stats = Presenters::Affiliates::ReferrerStats.new(affiliate)
        .db-referral-stats__item
          .db-referral-stats__item__title
            Referees
          .db-referral-stats__item__number
            = stats.referee_count
        .db-referral-stats__item
          .db-referral-stats__item__title
            To pay (BTC)
          .db-referral-stats__item__number
            = stats.unpaid_commission
        .db-referral-stats__item
          .db-referral-stats__item__title
            Paid (BTC)
          .db-referral-stats__item__number
            = stats.paid_commission

  .col-sm-12.col-lg-6
    .db-box{ class: ("db-referral-program-registration--inactive" if disabled) }
      .db-settings-section
        .db-form__row.db-form__row--input
          %input.db-form__input{ :type=>"text", :value=>ref_code_url(code: affiliate.code), :readonly=>"readonly" }
          %label.db-form__label Your referral link
      .db-settings-section
        %h4.db-modal__subtitle Update visible info
        .mb-5
          - presenter = Presenters::RefCodes::Show.new(affiliate)

          %p This is what referees will see during registration. You can add your name and link to your website to let the referee know where the link is coming from. You can also leave it blank:
          = render partial: 'ref_codes/show', locals: { affiliate: affiliate }

        = form_with model: affiliate, method: :patch, local: true, url: update_visible_info_affiliate_path do |f|
          .db-form__row.db-form__row--input
            = f.text_field :visible_name, class: 'db-form__input', disabled: disabled
            %label.db-form__label Your name visible to referree (optional)

          .db-form__row.db-form__row--input

          .db-form__row.db-form__row--input
            = f.select :visible_link_scheme, [['https://', 'https'], ['http://', 'http']], {}, class: 'form-control form-control-lg db-http-prefix-select'
            = f.text_field :visible_link, class: 'db-form__input', disabled: disabled
            = f.label :visible_link, "Your URL (optional)"

          .db-form__row.db-form__row--final-button
            = f.submit 'Update visible info', class: 'btn btn-lg btn-primary', disabled: disabled

      .db-settings-section
        %h4.db-modal__subtitle Update Bitcoin address
        - if errors.present?
          %ul.pl-3
            - errors.each do |error|
              %li.text-danger= error

        = form_with model: affiliate, method: :patch, local: true, url: update_btc_address_affiliate_path do |f|
          .form-group
            = f.label :btc_address, 'BTC address'
            = f.text_field :btc_address, class: 'form-control form-control-lg', disabled: disabled
          .form-group.mb-5
            = f.label :current_password, 'Current password (for confirmation)'
            = f.password_field :current_password, autocomplete: 'off', class: 'form-control form-control-lg', disabled: disabled
          .form-group.text-center
            = f.submit 'Update Bitcoin address', class: 'btn btn-lg btn-primary', disabled: disabled

    .alert.alert-success.pb-4
      %p.mt-1 Our referral program <b>pays up to $50</b><sup>1</sup> per user in BTC (using an exchange ratio from the transaction). Example:
      %ol
        %li For simplicity, the price of Bitcoin is ~$10000, the discount is 10%, and your margin is 20%.
        %li Referee buys a 1-year plan for $49.99, paying after the discount $44.99 what equals 0.0045BTC. You earn 0.001BTC (20% of $49.99).
        %li It doesn't matter if the price of Bitcoin changes in the meantime. Your profit is locked in BTC.
        %li Next time, the referee buys a 4-year plan for $149.99 and pays 0.015BTC. He or she doesn't get a discount anymore, but you still get your 20% what equals 0.003BTC.
        %li You continue to profit as long as you have an active plan<sup>2</sup>, and your total profit per referee does not reach $50.
      %p
        <em>Earning bitcoins is the best kind of dollar-cost averaging!</em>
      %small.mb-2 <sup>1</sup> The limit is either 50USD or 50EUR, depending on the currency of the pricing.
      %br
      %small.mb-5 <sup>2</sup> For the referee, the referral link works even if your subscription has expired.
