<% content_for :body_class, ".view--referral-program" %>
<% unless @affiliate.active? %>
  <div class="alert alert-secondary db-alert--flex">
    <span><%= t('.deactivated.notice') %></span>

    <a class="btn btn-outline-secondary" href="mailto:jan@deltabadger.com">
      <span><%= t('.deactivated.contact') %></span>
    </a>
  </div>
<% end %>

<div class="page-head">
  <div class="stitle"><%= t('.title') %></div>
</div>
<div class="columns">
  <div class="column gap-1">
    <div class="db-referral-stats">
      <% stats = Presenters::Affiliates::ReferrerStats.new(@affiliate) %>
      <div class="db-referral-stats__item">
        <div class="db-referral-stats__item__title">
          <%= t('.referrals') %>
        </div>
        <div class="db-referral-stats__item__number">
          <%= stats.referral_count %>
        </div>
      </div>
      <div class="db-referral-stats__item">
        <div class="db-referral-stats__item__title">
          <%= t('.unpaid_commission') %>
        </div>
        <div class="db-referral-stats__item__number">
          <%= stats.unpaid_commission %>
        </div>
      </div>
      <div class="db-referral-stats__item">
        <div class="db-referral-stats__item__title">
          <%= t('.paid_commission') %>
        </div>
        <div class="db-referral-stats__item__number">
          <%= stats.paid_commission %>
        </div>
      </div>
    </div>
  </div>

  <div class="column gap-1">
    <div class="widget">
      <h4 class="db-modal__subtitle"><%= t('.link_title') %></h4>
      <div class="db-form__row db-form__row--input mb-0" data-controller="clipboard">
        <input class="db-form__input" id="referralLink" type="text" value="<%= ENV['HOME_PAGE_URL']+ref_code_path(code: @affiliate.code, locale: nil) %>" readonly="readonly" data-clipboard-target="input">
        <label class="db-form__label"><%= t('.your_link') %></label>
        <div class="db-unmask" title="Copy to clipboard" data-action="click->clipboard#copy">
          <%= render "layouts/svg_copy_to_clipboard" %>
        </div>
        <div class="db-form__info db-form__info text-success" id="copyAlert" style="visibility: hidden" data-clipboard-target="alert">
          <%= t('referral.copied') %>
        </div>
      </div>
    </div>

    <div class="widget">
      <h4 class="db-modal__subtitle"><%= t('.update_info') %></h4>
      <% presenter = RefCodesPresenter.new(@affiliate) %>
      <p><%= t('affiliates.info_preview') %></p>
      <%= render partial: 'ref_codes/show', locals: { affiliate: @affiliate } %>
      <p class="mb-4"><%= t('affiliates.add_link_info') %></p>

      <%= form_with model: @affiliate, method: :patch, local: true, url: update_visible_info_affiliate_path, data: { controller: "form--html5-validations form--label-animations" } do |f| %>
        <div class="db-form__row db-form__row--input">
          <%= f.text_field :visible_name, class: 'db-form__input' %>
          <label class="db-form__label"><%= t('helpers.label.affiliate.visible_name') %></label>
        </div>

        <div class="db-form__row db-form__row--input db-form__row--input--has-http-select">
          <%= f.text_field :visible_link, class: 'db-form__input' %>
          <%= f.select :visible_link_scheme, [['//:https', 'https'], ['//:http', 'http']], {}, class: "db-form__input--http  db-http-prefix-select", dir: 'rtl' %>
          <%= f.label :visible_link, t('helpers.label.affiliate.visible_link'), class: 'db-form__label' %>
        </div>

        <div class="form-group db-form-group--main-btn">
          <%= f.submit t('.submit'), class: 'btn btn-lg btn-primary' %>
        </div>
      <% end %>
    </div>

    <div class="widget">
      <h4 class="db-modal__subtitle"><%= t('.update_bitcoin_address') %></h4>
      <%= form_with model: @affiliate, method: :patch, local: true, url: update_btc_address_affiliate_path, data: { controller: "form--html5-validations form--label-animations" } do |f| %>

        <% if @affiliate.new_btc_address_token.present? %>
          <div class="db-form__row db-form__row--input" style="text-align: center;">
            <%= t('devise.registrations.edit.awaiting_confirmation', email: @affiliate.new_btc_address) %>
          </div>
        <% end %>

        <div class="db-form__row db-form__row--input">
          <%= f.text_field :btc_address, pattern: Bitcoin.address_pattern, autocomplete: 'off', class: 'db-form__input', value: "", placeholder: @affiliate.btc_address %>
          <%= f.label :btc_address, t('affiliates.your_bitcoin_address'), class: 'db-form__label' %>
        </div>

        <%# workaround because sometimes f.hidden_field doesn't work with password managers %>
        <div class="hidden">
          <%= f.email_field :email, autocomplete: "username", id: "email_for_bitcoin_address_update", class: 'db-form__input', readonly: true %>
          <%= f.label :email, class: "db-form__label" %>
        </div>

        <%= tag.div class: "db-form__row db-has-unmask", data: { controller: "form--password-unmask" } do %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "db-form__input db-form__input--has-icon", data: { form__password_unmask_target: "input" } %>
          <%= f.label :current_password, t('helpers.label.user.current_password'), class: "db-form__label" %>
          <div class="db-unmask" data-action="click->form--password-unmask#toggle">
            <%= render "layouts/svg_mi_visibility" %>
            <%= render "layouts/svg_mi_visibility-off" %>
          </div>
        <% end %>

        <div class="form-group db-form-group--main-btn">
          <%= f.submit t('.submit'), class: 'btn btn-lg btn-primary' %>
        </div>
      <% end %>
    </div>

    <%= t('affiliates.manual_html') %>
  </div>
</div>
