<% has_successful = bot.transactions.submitted.where.not(external_status: :open).exists? %>
<% has_waiting = bot.transactions.open.exists? %>
<% has_other = bot.transactions.where(status: [:skipped, :failed]).exists? %>
<% categories = [has_successful, has_waiting, has_other].count(true) %>
<% show_filters = categories > 1 %>

<% order_filter = params[:order_filter] || 'all' %>
<div data-controller="order-filter" data-order-filter-current-value="<%= order_filter %>" style="gap: 1rem; display: flex; flex-direction: column">
  
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <% if show_filters %>
      <div class="filters" data-order-filter-target="filterContainer">
        <%= link_to t('order_filters.all'), "#", class: ["button button--small button--multi", ("button--multi--active" if order_filter == 'all')], data: { order_filter_target: "filter", filter_type: "all", action: "click->order-filter#filter" } %>
        <% if has_successful %>
          <%= link_to t('order_filters.successful'), "#", class: ["button button--small button--multi", ("button--multi--active" if order_filter == 'successful')], data: { order_filter_target: "filter", filter_type: "successful", action: "click->order-filter#filter" } %>
        <% end %>
        <% if has_waiting %>
          <%= link_to t('order_filters.waiting'), "#", class: ["button button--small button--multi", ("button--multi--active" if order_filter == 'waiting')], data: { order_filter_target: "filter", filter_type: "waiting", action: "click->order-filter#filter" } %>
        <% end %>
      </div>
    <% end %>
    <%= render 'bots/orders/export', bot: bot %>
  </div>

  <%= tag.div class: "widget widget--table", data: has_waiting ? {
    controller: "broadcast--on-connect",
    broadcast__on_connect_method_value: "fetch_open_orders",
    broadcast__on_connect_method_args_value: { bot_id: bot.id }.to_json
  } : {} do %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('data_labels.date') %></th>
          <th scope="col"><%= t('data_labels.amount') %></th>
          <th scope="col"><%= t('data_labels.value') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="orders_list">
        <% if bot.transactions.none? %>
          <tr id="orders_list_placeholder">
            <td colspan="4" class="text-center text-inactive" style="padding-bottom: 2rem;">. . .</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= turbo_frame_tag 'orders_pagination', src: bot_path(bot, format: :turbo_stream, params: { decimals: decimals }), loading: :lazy %>
  <% end %>
</div>