<% has_waiting = bot.transactions.open.exists? %>

<% order_filter = params[:order_filter] || 'all' %>
<div data-controller="order-filter" data-order-filter-current-value="<%= order_filter %>" style="gap: 1rem; display: flex; flex-direction: column">

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <%= render 'bots/orders/order_filters', bot: bot %>
    <%= render 'bots/orders/export', bot: bot %>
  </div>

  <%= tag.div class: "widget widget--table", data: has_waiting ? {
    controller: "broadcast--on-connect",
    broadcast__on_connect_method_value: "fetch_open_orders",
    broadcast__on_connect_method_args_value: { bot_id: bot.id }.to_json
  } : {} do %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('data_labels.date') %></th>
          <th scope="col"><%= t('data_labels.amount') %></th>
          <th scope="col"><%= t('data_labels.value') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="orders_list">
        <% if bot.transactions.none? %>
          <tr id="orders_list_placeholder">
            <td colspan="4" class="text-center text-inactive" style="padding-bottom: 2rem;">. . .</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= turbo_frame_tag 'orders_pagination', src: bot_path(bot, format: :turbo_stream, params: { decimals: decimals }) %>
  <% end %>
</div>