<div class="process-progress">
  <div class="process-progress__step <%= if current_step == :currencies
                                           'process-progress__step--now'
                                         elsif [:exchange, :api].include?(current_step)
                                           'process-progress__step--done'
                                         else
                                           'process-progress__step--todo'
                                         end %>">
    <%= t('bot.setup.step_assets') %>
  </div>
  <div class="process-progress__step process-progress__connector"></div>
  <div class="process-progress__step <%= if current_step == :exchange
                                           'process-progress__step--now'
                                         elsif current_step == :api
                                           'process-progress__step--done'
                                         else
                                           'process-progress__step--todo'
                                         end %>">
    <%= t('bot.setup.step_exchange') %>
  </div>
  <div class="process-progress__step process-progress__connector"></div>
  <div class="process-progress__step <%= current_step == :api ? 'process-progress__step--now' : 'process-progress__step--todo' %>">
    API
  </div>
</div>