<% path = bot_path(bot) %>
<% method = :patch %>

<div id="settings" class="column gap-1">
  <%= render partial: "bots/dca_single_assets/settings/main", locals: { bot: bot, method: method, path: path } %>
  <%= render partial: "bots/settings/smart_intervals", locals: { bot: bot, method: method, path: path } %>
  <%= render partial: "bots/settings/limit_orders", locals: { bot: bot, method: method, path: path } %>
  <%#= render partial: "bots/settings/weekday", locals: { bot: bot, method: method, path: path } %>
  <%= render partial: "bots/settings/price_limit", locals: { bot: bot, method: method, path: path } %>
  <%= render partial: "bots/settings/price_drop_limit", locals: { bot: bot, method: method, path: path } %>
  <%= render partial: "bots/settings/moving_average_limit", locals: { bot: bot, method: method, path: path } %>
  <%= render partial: "bots/settings/indicator_limit", locals: { bot: bot, method: method, path: path } %>
  <%= render partial: "bots/settings/amount_limit", locals: { bot: bot, method: method, path: path } %>
  <%#= render partial: "bots/settings/time_limit", locals: { bot: bot, method: method, path: path } %>
</div>
