<%= form_with model: bot,
              url: bot.new_record? ? dca_dual_asset_new_step_confirm_bots_path : bot_path(bot),
              method: bot.new_record? ? :get : :patch,
              class: "widget",
              data: { controller: "form--submit form--submit-after-delay form--move-cursor-to-end", turbo_stream: true } do |f| %>
  <div class="toggle-group">
    <div class="toggle">
      <%= f.check_box :quote_amount_limited, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
      <div class="toggle__style"></div>
    </div>
    <div class="toggle-group__info">
      <div class="toggle-group__info__label">
        <%= f.label :quote_amount_limited, class: "conversational conversational--small conversational--disabled" do %>
          <%= t("bot.settings.extra_amount_limit.dont_spend_more_than") %>
          <div>
            <% value = bot.quote_amount_limit.present? ? bot.quote_amount_limit.to_d.to_s('F').sub(/^(?!0\.0$)([1-9]\d*)\.0$/, '\1') : nil %>
            <%= f.number_field :quote_amount_limit, value: value, class: 'sinput numeric-input', step: :any, size: 3, data: { controller: "autowidth-input", action: "input->form--submit-after-delay#submit input->autowidth-input#resize", form__move_cursor_to_end_target: "input" }, style: "margin-left: 0.125rem; width: 50px;", disabled: bot.working? %>
            <%= bot.quote_asset.symbol %>
          </div>
          <%= render partial: "bots/settings/amount_limit_info", locals: { bot: bot } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
