<%= form_with model: bot,
              url: path,
              method: method,
              class: "widget rule #{bot.indicator_limited? ? "rule--active" : "rule--inactive"}",
              data: {
                controller: "class-toggle form--submit form--submit-after-delay form--move-cursor-to-end form--html5-validations",
                class_toggle_target: "togglable",
                class_toggle_toggle_classes_value: ["rule--active", "rule--inactive"],
                turbo_stream: true
              } do |f| %>
  <div class="toggle-group">
    <div class="toggle">
      <%= f.check_box :indicator_limited, data: { action: "change->form--submit#submit change->class-toggle#toggle" }, disabled: bot.working? %>
      <div class="toggle__style"></div>
    </div>
    <div class="toggle-group__info">
      <div class="toggle-group__info__label">
        <%= f.label :indicator_limited, class: "conversational conversational--small conversational--disabled" do %>
          <% timing_condition_html = content_tag(:div, class: "sinput sinput--select #{'sinput--disabled' if bot.working?}") do %>
            <%= t("bot.settings.extra_indicator_limit.timing_condition.#{bot.indicator_limit_timing_condition}") %>
            <%= f.select :indicator_limit_timing_condition, indicator_limit_timing_condition_select_options(bot), { selected: bot.indicator_limit_timing_condition }, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
          <% end %>
          <% ticker_select_options = ticker_select_options(bot) %>
          <% if ticker_select_options.size > 1 %>
            <% ticker_html = content_tag(:div, class: "sinput sinput--select #{'sinput--disabled' if bot.working?}") do %>
              <% selected_ticker_id = bot.tickers.find_by(id: bot.indicator_limit_in_ticker_id)&.id %>
              <%= ticker_select_options.find { |_, id| id == selected_ticker_id }&.first %>
              <%= f.select :indicator_limit_in_ticker_id, ticker_select_options, { selected: bot.indicator_limit_in_ticker_id }, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
            <% end %>
          <% else %>
            <% ticker_html = ticker_select_options.first&.first || "" %>
          <% end %>
          <% if indicator_select_options.size > 1 %>
            <% indicator_html = content_tag(:div, class: "sinput sinput--select #{'sinput--disabled' if bot.working?}") do %>
              <%= bot.indicator_limit_in_indicator&.upcase %>
              <%= f.select :indicator_limit_in_indicator, indicator_select_options, { selected: bot.indicator_limit_in_indicator }, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
            <% end %>
          <% else %>
            <% indicator_html = indicator_select_options.first.first %>
          <% end %>
          <% if indicator_limit_timeframe_select_options.size > 1 %>
            <% timeframe_html = content_tag(:div, class: "sinput sinput--select #{'sinput--disabled' if bot.working?}") do %>
              <%= t("bot.settings.extra_indicator_limit.timeframe.#{bot.indicator_limit_in_timeframe}") %>
              <%= f.select :indicator_limit_in_timeframe, indicator_limit_timeframe_select_options, { selected: bot.indicator_limit_in_timeframe }, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
            <% end %>
          <% else %>
            <% timeframe_html = indicator_limit_timeframe_select_options.first.first %>
          <% end %>
          <% value_condition_html = content_tag(:div, class: "sinput sinput--select #{'sinput--disabled' if bot.working?}") do %>
            <%= t("bot.settings.extra_indicator_limit.value_condition.#{bot.indicator_limit_value_condition}") %>
            <%= f.select :indicator_limit_value_condition, indicator_limit_value_condition_select_options(bot), { selected: bot.indicator_limit_value_condition }, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
          <% end %>
          <% value_html = content_tag(:div) do %>
            <% value = bot.indicator_limit.present? ? bot.indicator_limit.to_d.to_s('F').sub(/([0-9]\d*)\.0$/, '\1') : nil %>
            <%= f.number_field :indicator_limit, value: value, class: 'sinput numeric-input', step: :any, size: 2, data: { controller: "autowidth-input", action: "input->form--submit-after-delay#submit input->autowidth-input#resize", form__move_cursor_to_end_target: "input" }, style: "margin-left: 0.125rem; width: 50px;", disabled: bot.working? %>
          <% end %>
          <%= t("bot.settings.extra_indicator_limit.sentence_html",
                timing_condition_html: timing_condition_html.html_safe,
                value_condition_html: value_condition_html.html_safe,
                value_html: value_html.html_safe,
                ticker_html: ticker_html.html_safe,
                indicator_html: indicator_html.html_safe,
                timeframe_html: timeframe_html.html_safe,
                count: ticker_select_options.size).html_safe %>
          <%= render partial: "bots/settings/indicator_limit_info", locals: { bot: bot, info: bot.indicator_limit_info_from_cache } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

