<%= form_with model: bot,
              url: bot.new_record? ? dca_dual_asset_new_step_confirm_bots_path : bot_path(bot),
              method: bot.new_record? ? :get : :patch,
              class: "widget",
              data: { controller: "form--submit form--submit-after-delay form--move-cursor-to-end", turbo_stream: true } do |f| %>
  <div class="toggle-group">
    <div class="toggle">
      <%= f.check_box :price_limited, data: { action: "change->form--submit#submit" }, disabled: bot.working? %>
      <div class="toggle__style"></div>
    </div>
    <div class="toggle-group__info">
      <div class="toggle-group__info__label">
        <%= f.label :price_limited, class: "conversational conversational--small conversational--disabled" do %>
          <% timing_condition_html = content_tag(:div, class: "sinput sinput--select") do %>
            <%= t("bot.settings.extra_price_limit.timing_condition.#{bot.price_limit_timing_condition}") %>
            <%= f.select :price_limit_timing_condition, price_limit_timing_condition_select_options(bot), { selected: bot.price_limit_timing_condition }, data: { action: "change->form--submit#submit" } %>
          <% end %>
          <% price_condition_html = content_tag(:div, class: "sinput sinput--select") do %>
            <%= t("bot.settings.extra_price_limit.price_condition.#{bot.price_limit_price_condition}") %>
            <%= f.select :price_limit_price_condition, price_limit_price_condition_select_options(bot), { selected: bot.price_limit_price_condition }, data: { action: "change->form--submit#submit" } %>
          <% end %>
          <% price_html = content_tag(:div) do %>
            <% value = bot.price_limit.present? ? bot.price_limit.to_d.to_s('F').sub(/^(?!0\.0$)([1-9]\d*)\.0$/, '\1') : nil %>
            <%= f.number_field :price_limit, value: value, class: 'sinput numeric-input', step: :any, size: 3, data: { controller: "autowidth-input", action: "input->form--submit-after-delay#submit input->autowidth-input#resize", form__move_cursor_to_end_target: "input" }, style: "margin-left: 0.125rem; width: 50px;", disabled: bot.working? %>
          <% end %>
          <% base_select_options = base_select_options(bot) %>
          <% if base_select_options.size > 1 %>
            <% base_html = content_tag(:div, class: "sinput sinput--select") do %>
              <%= bot.tickers.find_by(id: bot.price_limit_in_ticker_id)&.base %>
              <%= f.select :price_limit_in_ticker_id, base_select_options, { selected: bot.price_limit_in_ticker_id }, data: { action: "change->form--submit#submit" } %>
            <% end %>
          <% else %>
            <% base_html = base_select_options.first.first %>
          <% end %>
          <%= t("bot.settings.extra_price_limit.sentence_html", timing_condition: timing_condition_html.html_safe, price_condition: price_condition_html.html_safe, price: price_html.html_safe, base: base_html.html_safe, quote: bot.quote_asset.symbol).html_safe %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

