<%= form_with model: bot,
              url: path,
              method: method,
              class: "widget #{bot.price_limited? ? "bot-settings--active" : "bot-settings--inactive"}",
              data: {
                controller: "class-toggle form--submit form--submit-after-delay form--move-cursor-to-end form--html5-validations",
                class_toggle_target: "togglable",
                class_toggle_toggle_classes_value: ["bot-settings--active", "bot-settings--inactive"],
                turbo_stream: true
              } do |f| %>
  <div class="toggle-group">
    <div class="toggle">
      <%= f.check_box :price_limited, data: { action: "change->form--submit#submit change->class-toggle#toggle" }, disabled: bot.working? %>
      <div class="toggle__style"></div>
    </div>
    <div class="toggle-group__info">
      <div class="toggle-group__info__label">
        <%= f.label :price_limited, class: "conversational conversational--small conversational--disabled" do %>
          <% timing_condition_html = content_tag(:div, class: "sinput sinput--select") do %>
            <%= t("bot.settings.extra_price_limit.timing_condition.#{bot.price_limit_timing_condition}") %>
            <%= f.select :price_limit_timing_condition, price_limit_timing_condition_select_options(bot), { selected: bot.price_limit_timing_condition }, data: { action: "change->form--submit#submit" } %>
          <% end %>
          <% base_select_options = base_select_options(bot) %>
          <% if base_select_options.size > 1 %>
            <% base_html = content_tag(:div, class: "sinput sinput--select") do %>
              <%= base_select_options.find { |_, id| id == bot.price_limit_in_ticker_id }&.first %>
              <%= f.select :price_limit_in_ticker_id, base_select_options, { selected: bot.price_limit_in_ticker_id }, data: { action: "change->form--submit#submit" } %>
            <% end %>
          <% else %>
            <%# base_html = base_select_options.first.first %>
            <% base_html = "" %>
          <% end %>
          <% value_condition_html = content_tag(:div, class: "sinput sinput--select") do %>
            <%= t("bot.settings.extra_price_limit.value_condition.#{bot.price_limit_value_condition}") %>
            <%= f.select :price_limit_value_condition, price_limit_value_condition_select_options(bot), { selected: bot.price_limit_value_condition }, data: { action: "change->form--submit#submit" } %>
          <% end %>
          <% value_html = content_tag(:div) do %>
            <% value = bot.price_limit.present? ? bot.price_limit.to_d.to_s('F').sub(/([0-9]\d*)\.0$/, '\1') : nil %>
            <%= f.number_field :price_limit, value: value, class: 'sinput numeric-input', step: :any, size: 3, data: { controller: "autowidth-input", action: "input->form--submit-after-delay#submit input->autowidth-input#resize", form__move_cursor_to_end_target: "input" }, style: "margin-left: 0.125rem; width: 50px;", disabled: bot.working? %>
          <% end %>
          <%= t("bot.settings.extra_price_limit.sentence_html",
                timing_condition_html: timing_condition_html.html_safe,
                value_condition_html: value_condition_html.html_safe,
                value_html: value_html.html_safe,
                base_html: base_html.html_safe,
                quote: bot.quote_asset.symbol).html_safe %>
          <%= render partial: "bots/settings/price_limit_info", locals: { bot: bot, info: bot.price_limit_info_from_cache } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

