<%= turbo_frame_tag "market_data_settings", class: "setting-form" do %>
  <%= form_with url: settings_update_market_data_path, method: :patch, data: {
    controller: "form--html5-validations form--label-animations"
  } do |f| %>
    <%= hidden_field_tag :market_data_provider, MarketDataSettings::PROVIDER_COINGECKO %>
    <div class="form__row form__row--input">
      <%= tag.input class: "form__input", type: "text", name: "coingecko_api_key", required: true, id: "coingecko_api_key", autocomplete: "off" %>
      <%= label_tag :coingecko_api_key, t('setup.coingecko_api_key'), class: "form__label" %>
    </div>
    <%= t('setup.coingecko_api_key_hint_html') %>

    <div class="setting-form">
      <%= f.submit t('setup.submit'), class: "button button--success" %>
    </div>
  <% end %>
<% end %>
