<div class="widget" id="notifications">
  <h4 class="modal__title"><%= t('settings.index.notifications_section') %></h4>

  <%= form_with model: current_user, method: :patch, url: settings_update_notifications_path, data: { controller: "class-toggle form--submit form--html5-validations form--label-animations" } do |f| %>

    <div class="toggle-group">
      <div class="toggle">
        <%= f.check_box :subscribed_to_email_marketing, data: { action: "change->form--submit#submit change->class-toggle#toggle" } %>
        <div class="toggle__style"></div>
      </div>
      <div class="toggle-group__info">
        <div class="toggle-group__info__label">
          <%= f.label :subscribed_to_email_marketing, class: "conversational conversational--small conversational--disabled" do %>
            <%= t('settings.notifications.global_unsubscribe') %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <b><%= t('settings.notifications.newsletters') %></b>

  <%= form_with method: :patch, url: settings_update_notifications_campaign_subscriptions_path, data: { controller: "class-toggle form--submit form--html5-validations form--label-animations" }, html: { style: "display: flex; flex-direction: column; gap: 3rem;" } do |f| %>
    <% @email_marketing_campaigns.each do |campaign| %>
      <div class="toggle-group">
        <div class="toggle">
          <% subscription = campaign.subscriber(current_user) %>
          <%= f.check_box campaign.slug.to_sym, data: { action: "change->form--submit#submit change->class-toggle#toggle" }, checked: current_user.subscribed_to_email_marketing? ? (subscription.present? && !subscription.unsubscribed?) : false, disabled: !current_user.subscribed_to_email_marketing? %>
          <div class="toggle__style"></div>
        </div>
        <div class="toggle-group__info">
          <div class="toggle-group__info__label">
            <%= f.label campaign.slug.to_sym, class: "conversational conversational--small conversational--disabled" do %>
              <%= raw t("settings.notifications.#{campaign.slug}_html") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
