<div class="widget">
  <h4 class="modal__title"><%= t('settings.index.password_section') %></h4>
  <%= turbo_frame_tag "update_password_form" do %>
    <%= form_with model: current_user, url: settings_update_password_path, data: {
      controller: "form--html5-validations form--label-animations form--password-strength form--password-match",
      turbo_frame: "update_password_form",
      form__password_match_success_class_value: "db-form__validation--success",
      form__password_strength_success_class_value: "db-form__validation--success",
      form__password_strength_length_pattern_value: password_length_pattern,
      form__password_strength_uppercase_pattern_value: password_uppercase_pattern,
      form__password_strength_lowercase_pattern_value: password_lowercase_pattern,
      form__password_strength_digit_pattern_value: password_digit_pattern,
      form__password_strength_symbol_pattern_value: password_symbol_pattern
    } do |f| %>

      <%# workaround because sometimes f.hidden_field doesn't work with password managers %>
      <div class="hidden">
        <%= f.email_field :email, autocomplete: "username", id: "email_for_password_update", class: 'db-form__input', readonly: true %>
        <%= f.label :email, class: "db-form__label" %>
      </div>

      <%= tag.div class: "db-form__row db-has-unmask", data: { controller: "form--password-unmask" } do %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "db-form__input db-form__input--has-icon", id: "current_password_for_password_update", data: { form__password_unmask_target: "input" } %>
        <%= f.label :current_password, t('helpers.label.user.current_password'), class: "db-form__label" %>
        <div class="db-unmask" data-action="click->form--password-unmask#toggle">
          <%= render "layouts/svg_mi_visibility" %>
          <%= render "layouts/svg_mi_visibility-off" %>
        </div>
      <% end %>

      <%= tag.div class: "db-form__row db-has-unmask", data: { controller: "form--password-unmask" } do %>
        <%= f.password_field :password, autocomplete: "new-password", class: "db-form__input db-form__input--has-icon", data: {
          form__password_unmask_target: "input",
          form__password_strength_target: "input",
          form__password_match_target: "input0",
          action: "input->form--password-strength#checkPasswordStrength"
        }, pattern: @password_pattern %>
        <%= f.label :password, t('helpers.label.user.new_password'), class: "db-form__label" %>
        <div class="db-unmask" data-action="click->form--password-unmask#toggle">
          <%= render "layouts/svg_mi_visibility" %>
          <%= render "layouts/svg_mi_visibility-off" %>
        </div>
      <% end %>

      <%= tag.div class: "db-form__row db-has-unmask", data: { controller: "form--password-unmask" } do %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "db-form__input db-form__input--has-icon", data: {
          form__password_unmask_target: "input",
          form__password_match_target: "input1",
          action: "input->form--password-match#checkPasswordMatch"
        } %>
        <%= f.label :password_confirmation, t('helpers.label.user.new_password_confirmation'), class: "db-form__label" %>
        <div class="db-unmask" data-action="click->form--password-unmask#toggle">
          <%= render "layouts/svg_mi_visibility" %>
          <%= render "layouts/svg_mi_visibility-off" %>
        </div>
      <% end %>

      <div class="db-form__row">
        <ul data-form--password-strength-target="requirementsList" class="hidden password-requirements">
          <li class="db-form__validation" data-form--password-strength-target="length"><%= t('devise.passwords.validations.length', count: @password_minimum_length) %></li>
          <li class="db-form__validation" data-form--password-strength-target="uppercase"><%= t('devise.passwords.validations.uppercase') %></li>
          <li class="db-form__validation" data-form--password-strength-target="lowercase"><%= t('devise.passwords.validations.lowercase') %></li>
          <li class="db-form__validation" data-form--password-strength-target="digit"><%= t('devise.passwords.validations.digit') %></li>
          <li class="db-form__validation" data-form--password-strength-target="symbol"><%= t('devise.passwords.validations.symbol') %></li>
          <li class="db-form__validation" data-form--password-match-target="match" class="hidden"><%= t('devise.passwords.validations.match') %></li>
        </ul>
      </div>

      <div class="large-button-wrapper">
        <%= f.submit t('button.update'), class: "button button--large button--primary" %>
      </div>
    <% end %>
  <% end %>
</div>
