<%= turbo_frame_tag "registration_settings" do %>
  <div class="widget widget--settings">
    <h4 class="modal__title">
      <%= t('settings.index.registration_section') %>:
      <% if AppConfig.registration_open? %>
        <span class="text-success">ON</span>
      <% else %>
        <span class="text-danger">OFF</span>
      <% end %>
    </h4>
    <%= form_with url: settings_update_registration_path, class: "setting-form", method: :patch, data: {
      turbo_frame: "registration_settings"
    } do |f| %>
      <% if AppConfig.registration_open? %>
        <%= f.hidden_field :registration_open, value: '0' %>
        <%= f.submit t('settings.registration.disable_sign_up'), class: "button button--danger" %>
      <% else %>
        <%= f.hidden_field :registration_open, value: '1' %>
        <%= f.submit t('settings.registration.enable_sign_up'), class: "button button--success" %>
      <% end %>
    <% end %>
  </div>
<% end %>
