<%= turbo_frame_tag "coingecko_key", class: "setting-form" do %>
  <div class="tags">
    <div class="tag">
      CoinGecko
      <%= link_to settings_confirm_destroy_coingecko_key_path, data: { turbo_frame: "modal" } do %>
        <%= render 'svg/16x16_close' %>
      <% end %>
    </div>
  </div>
  <p><%= t('settings.resync_assets.hint') %></p>
  <%= button_to t('settings.resync_assets.button'), settings_resync_assets_path, method: :post, class: "button button--success" %>
<% end %>
