<%= turbo_frame_tag "stocks_settings" do %>
  <div class="widget widget--settings">
    <% is_configured = AppConfig.alpaca_configured? %>
    <h4 class="modal__title">
      <%= t('settings.stocks.title_html') %>:
      <% if is_configured %>
        <span class="text-success">ON</span>
      <% else %>
        <span class="text-danger">OFF</span>
      <% end %>
    </h4>

    <% if is_configured %>
      <p style="text-align: center; margin-top: 3rem"><%= t('settings.stocks.configured', mode: AppConfig.get('alpaca_mode')&.capitalize || 'Paper') %></p>
      <div class="setting-form">
        <%= link_to t('settings.stocks.disconnect'), settings_disconnect_stocks_path, data: { turbo_method: :delete, turbo_frame: "stocks_settings" }, class: "button button--danger", style: "margin-top: 0" %>
      </div>
    <% else %>

      <p class="text-center" style="text-wrap:balance; margin: 0"><%= t('settings.stocks.instructions_html') %></p>
      
      <%= form_with url: settings_update_stocks_path, method: :patch, data: {
        turbo_frame: "stocks_settings"
      }, class: "form" do |f| %>
        <div class="set-api__form" style="margin-top: 3rem;">
          <div class="form__radios">
            <label class="form__radio">
              <%= radio_button_tag :alpaca_mode, 'live', true %>
              <span><%= t('settings.stocks.mode_live') %></span>
            </label>
            <label class="form__radio">
              <%= radio_button_tag :alpaca_mode, 'paper', false %>
              <span><%= t('settings.stocks.mode_paper') %></span>
            </label>
          </div>
          <div class="form__row form__row--input">
            <%= tag.input class: "form__input", type: "text", name: "alpaca_api_key", id: "alpaca_api_key", placeholder: " ", autocomplete: "off" %>
            <%= label_tag :alpaca_api_key, "API Key", class: "form__label" %>
          </div>
          <div class="form__row form__row--input">
            <%= tag.input class: "form__input", type: "text", name: "alpaca_api_secret", id: "alpaca_api_secret", placeholder: " ", autocomplete: "off" %>
            <%= label_tag :alpaca_api_secret, "API Secret", class: "form__label" %>
          </div>
          <div class="setting-form">
            <%= f.submit t('button.connect'), class: "button button--success", style: "margin-top: 0" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
