<div class="widget">
  <h4 class="modal__title"><%= t('settings.index.subscription_section') %></h4>
  <%= turbo_frame_tag "subscription" do %>
    <div>
      <% if current_user.subscription.present? %>
        <%= current_user.subscription.name.titleize %>
        <% if current_user.subscription.subscription_plan_variant.cost_eur.positive? %>
          <% currency = current_user.payments.last.currency %>
          <%= localized_price(current_user.subscription.subscription_plan_variant.send("cost_#{currency}"), currency) %><span class="price-period"><%= t("subscriptions.#{payment_frequency_translation_key(current_user.subscription.subscription_plan_variant.duration)}") %></span>
          <%= t("subscriptions.variant_#{current_user.subscription.subscription_plan_variant.days}_days") %>
        <% end %>

        <% if current_user.subscription.mini? %>
          <ul>
            <li><%= t('features.short.dca') %></li>
            <li><%= t('features.short.withdrawals') %></li>
          </ul>
        <% elsif current_user.subscription.standard? || current_user.subscription.pro? %>
          <ul>
            <li><%= t('features.short.dca') %></li>
            <li><%= t('features.short.withdrawals') %></li>
            <li><%= t('features.short.newsletter') %></li>
            <li><%= t('features.short.rebalanced_dca') %></li>
            <li><%= t('features.short.analyzer') %></li>
          </ul>
        <% elsif current_user.subscription.legendary? %>
          <ul>
            <li><%= t('features.short.dca') %></li>
            <li><%= t('features.short.withdrawals') %></li>
            <li><%= t('features.short.newsletter') %></li>
            <li><%= t('features.short.rebalanced_dca') %></li>
            <li><%= t('features.short.analyzer') %></li>
            <li>NFT</li>
          </ul>
        <% end %>

        <% unless current_user.subscription.renews_at.nil? %>
          <%= t('subscriptions.days_left', count: current_user.subscription.days_left) %>
        <% end %>

        <% unless current_user.subscription.legendary? %>
          <%= button_to t('subscriptions.upgrade'), upgrade_path, method: :get, class: 'button button--large button--success', data: { action: 'click->modal--base#animateOutCloseAndCleanUp', turbo: false } %>
        <% end %>

      <% end %>
    </div>
    <% if false # current_user.subscription.ends_at.present? %>
      <div>
        <%= l(current_user.subscription.ends_at, format: :long) %>
        <% currency = current_user.payments.last.currency %>
        <%= t('settings.subscription.next_payment_html', cost_html: localized_price(current_user.subscription.subscription_plan_variant.send("cost_#{currency}"), currency)) %>
        <%= t('settings.subscription.requires_manual_payment') %>
        <%#= link_to t('settings.subscription.enable_recurring'), settings_path, class: 'button button--large button--success' %>
      </div>
    <% elsif true # current_user.subscription.renews_at.present? %>
      <div>
        <%= l(current_user.subscription.renews_at, format: :long) %>
        <% currency = current_user.payments.last.currency %>
        <%= t('settings.subscription.next_payment_html', cost_html: localized_price(current_user.subscription.subscription_plan_variant.send("cost_#{currency}"), currency)) %>
        <%= link_to t('settings.subscription.cancel_subscription'), settings_confirm_cancel_subscription_path, data: { turbo_frame: "modal" } %>
      </div>
    <% end %>
  <% end %>
</div>