<% content_for :body_class, ".view--legendary-plan" %>
<%= render partial: "layouts/navbar/signed_in", locals: { upgrade_presenter: nil, cost_presenter: nil } %>

<div class="db_legendary-plan">
  <div class="db_legendary-plan__set">
    <img src="<%= asset_pack_path("media/images/lb/" + sprintf("%03d", @subscription.nft_id) + ".svg") %>">
    <div class="db_legendary-plan__title">
      <% short_list = { 0 => "Lost wallet", 1 => "Hodler", 21 => "Maximalist", 100 => "Gateway", 111 => "Smart intervals", 200 => "Bull market", 222 => "Failure", 300 => "Singularity is loading", 333 => "Money lego", 400 => "Access denied", 444 => "Things got wild", 500 => "Under construction", 555 => "I'm a human", 600 => "Let's Play", 666 => "Impostor", 700 => "Rebalancing", 777 => "Angel", 800 => "", 888 => "Thank you", 900 => "Market signals", 999 => "Hyperbitcoinization" } %>
      <% if short_list.key?(@subscription.nft_id) %>
        <% key = @subscription.nft_id %>
        <% value = short_list[key] %>
        <% result = "#" + "#{sprintf("%03d",key)} · #{value}" %>
      <% else %>
        <% result = "#" + sprintf("%03d", @subscription.nft_id) %>
      <% end %>
      <%= result %>
    </div>
  </div>

  <% if @subscription.eth_address_is_valid? %>

    <div class="db_legendary-plan__eth-address">
      <div class="db_legendary-plan__eth-address__label"><%= I18n.t('legendary_badger.will_be_sent') %></div>
      <%= link_to @subscription.eth_address, "https://etherscan.io/address/#{@subscription.eth_address}", class: "db_legendary-plan__eth-address__value" %>
    </div>

  <% else %>
    <div class="db_legendary-plan__eth-form">
      <%= form_with model: @subscription, url: legendary_path, method: :patch, data: { controller: "form--checkbox-enables form--validation" } do |f| %>
        <div class="db-form__row db-form__row--input db-form__row--input--empty">
          <%= f.text_field :eth_address, class: "db-form__input", placeholder: "0x123456789...", pattern: "^0x[a-fA-F0-9]{40}$", required: true %>
          <%= f.label :eth_address, I18n.t('legendary_badger.ethereum_address'), class: "db-form__label" %>
        </div>

        <div class="db-form__row" style="display: flex; gap: 2rem; align-items: flex-start;">
          <%= f.check_box :eth_address_confirmation, class: "checkbox", data: { form__checkbox_enables_target: "checkbox", action: "form--checkbox-enables#checkboxChanged" }, required: true %>
          <%= f.label :eth_address_confirmation, I18n.t('legendary_badger.confirm_info') %>
        </div>

        <div class="db_legendary-plan__submit">
          <%= f.submit I18n.t(('legendary_badger.claim')), class: "btn btn-lg btn-primary", data: { form__checkbox_enables_target: "submit" } %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>