<%= form_with url: setup_configure_sync_path, method: :post, class: "setting-form", data: {
  turbo: false,
  controller: "form--html5-validations form--label-animations"
} do |f| %>
  <%= render 'svg/40x30_logo' %>

  <h1><%= t('setup.api_configuration') %></h1>

  <div class="db-form__row db-form__row--input">
    <%= tag.input class: "db-form__input", type: "text", name: "coingecko_api_key", required: true, id: "coingecko_api_key" %>
    <%= label_tag :coingecko_api_key, t('setup.coingecko_api_key'), class: "db-form__label" %>
  </div>
  <%= t('setup.coingecko_api_key_hint_html') %>

  <%= f.submit t('setup.submit'), class: "button button--success button--large" %>
<% end %>
