.container
  .db-modal-positioner
    .modal-dialog
      .modal-content
        .modal-body
          %h2.db-modal-title= t('affiliates.apply_code.title')
          = form_with local: true, url: ref_accept_path  do |f|
            - refcode_presenter = RefCodesPresenter.new(@affiliate)
            = render partial: 'ref_codes/show', locals: { affiliate: @affiliate }

            = f.hidden_field :code, value: refcode_presenter.code

            - if refcode_presenter.valid?
              .form-group.db-form-group--main-btn
                = f.submit t('affiliates.apply_code.accept'), class: "btn btn-success btn-lg"
            - else
              .form-group.db-form-group--main-btn
                = link_to t('affiliates.apply_code.reject'), dashboard_path, class: "btn btn-danger btn-lg"
