<% content_for :subject do %>
  <%= t('devise.mailer.confirm_email.subject') %>
<% end %>

<h1><%= t('devise.mailer.confirm_email.subject') %></h1>

<p><%= t('mailer.greeting_name', name: @resource.name) %></p>

<%= t('devise.mailer.confirm_email.template_html', unconfirmed_email: @resource.unconfirmed_email) %>

<p>
  <%= link_to t('devise.mailer.confirmation_instructions.confirm_button'), confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %>
</p> 