<h1><%= t('.subject') %></h1>

<p><%= t('mailer.greeting_name', name: @resource.name) %></p>
<%= t('.template_html') %>

<p>
  <%= link_to t('.change_password_button'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %>
</p>

<%= t('.ignore_mail_html') %>
<%= t('.wont_change_html') %>
