<%= render 'layouts/modal/modal' do %>
  <div class="warning-modal">
    <h2 class="warning-modal__title"><%= t('bot.warning.title') %></h2>
    <p class="warning-modal__intro">
      <%= t('bot.dca_index.warning.intro', skipped_count: skipped_count, exchange_name: bot.exchange.name) %>
    </p>
    <p class="warning-modal__explanation">
      <%= t('bot.warning.buffer_explanation', count: skipped_count) %>
    </p>
    <p class="warning-modal__note">
      <%= t('bot.warning.general_note') %>
    </p>
  </div>
<% end %>
