<%= form_with model: rule, url: rules_withdrawal_path(rule), method: :patch,
              class: "widget rule #{rule.scheduled? ? "rule--active" : "rule--inactive"}",
              data: {
                controller: "class-toggle form--submit",
                class_toggle_target: "togglable",
                class_toggle_toggle_classes_value: ["rule--active", "rule--inactive"],
                turbo_stream: true
              } do |f| %>
  <div class="toggle-group">
    <div class="toggle-group__controls">
      <div class="toggle">
        <%= f.check_box :status, { checked: rule.scheduled?, data: { action: "change->form--submit#submit change->class-toggle#toggle" } }, "scheduled", "stopped" %>
        <div class="toggle__style"></div>
      </div>
      <% if rule.stopped? %>
      <%= link_to confirm_destroy_rules_withdrawal_path(rule), data: { turbo_frame: "modal" }, class: "sbutton sbutton--danger sbutton--small" do %>
            <%= render partial: 'svg/24x24_close_small' %>
          <% end %>
      <% end %>
    </div>
    <div class="toggle-group__info">
      <div class="toggle-group__info__label">
        <div class="conversational-column">
          <div class="conversational conversational--small">
            <span><%= t('rules.withdrawals.sentence.withdraw_all') %></span>
            <span class="ticker" style="background: <%= ensure_contrast(rule.asset.color || "#8A9BA8") %>"><%= rule.asset.symbol %></span>
            <span><%= t('rules.withdrawals.sentence.from') %></span>
            <span class="sbutton sbutton--exchange sbutton--exchange--<%= rule.exchange.name_id %>">
              <%= render "svg/exchange-#{rule.exchange.name_id}", title: rule.exchange.name %>
              <span class="hide-on-mobile"><%= rule.exchange.name %></span>
            </span>
            <span><%= t('rules.withdrawals.sentence.to') %></span>
            <span class="tag tag--address"><%= render 'svg/16x16_wallet' %><%= rule.address %></span>
            <% if rule.network.present? %>
              <span class="tag"><%= rule.network %></span>
            <% end %>
            <% if rule.address_tag.present? %>
              <span class="tag"><%= t('rules.tile.memo') %>: <%= rule.address_tag %></span>
            <% end %>
          </div>
          <div class="conversational conversational--small">
            <% fee_known = rule.withdrawal_fee_known? %>
            <% current_threshold = rule.threshold_type || (fee_known ? 'fee_percentage' : 'min_amount') %>

            <span data-controller="form--select-toggle">
              <span><%= t('rules.withdrawals.sentence.when') %></span>
              <% if fee_known %>
                <%= f.select :threshold_type,
                      options_for_select([
                        [t('rules.withdrawals.sentence.fee_less_than'), 'fee_percentage'],
                        [t('rules.withdrawals.sentence.amount_crosses'), 'min_amount']
                      ], current_threshold),
                      {},
                      class: 'sinput', disabled: rule.scheduled?, data: { action: "change->form--select-toggle#toggle change->form--submit#submit" } %>
              <% else %>
                <%= f.hidden_field :threshold_type, value: 'min_amount' %>
                <span><%= t('rules.withdrawals.sentence.amount_crosses') %></span>
              <% end %>

              <span data-form--select-toggle-target="section" data-select-toggle-value="fee_percentage" style="<%= 'display:none' unless current_threshold == 'fee_percentage' %>">
                <%= f.number_field :max_fee_percentage, value: rule.max_fee_percentage, class: 'sinput numeric-input', step: :any, min: 0.01, max: 100, size: 2, required: current_threshold == 'fee_percentage', disabled: rule.scheduled?, data: { controller: "autowidth-input", action: "input->autowidth-input#resize change->form--submit#submit" }, style: "width: 50px;" %>
                <span><%= t('rules.withdrawals.sentence.of_the_amount') %></span>
              </span>

              <span data-form--select-toggle-target="section" data-select-toggle-value="min_amount" style="<%= 'display:none' unless current_threshold == 'min_amount' %>">
                <%= f.number_field :min_amount, value: rule.min_amount, class: 'sinput numeric-input', step: :any, min: 0.00000001, size: 2, required: current_threshold == 'min_amount', disabled: rule.scheduled?, data: { controller: "autowidth-input", action: "input->autowidth-input#resize change->form--submit#submit" }, style: "width: 70px;" %>
                <span><%= rule.asset.symbol %></span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <% if current_threshold == 'min_amount' && rule.min_amount.present? %>
        <div class="small-info">
          <%= t('rules.tile.fixed_amount_info',
                amount: rule.min_amount,
                symbol: rule.asset.symbol) %>
        </div>
      <% elsif current_threshold != 'min_amount' && rule.minimum_withdrawal_amount %>
        <div class="small-info">
          <%= t('rules.tile.min_amount_info',
                fee: rule.withdrawal_fee_amount.to_s('F'),
                symbol: rule.asset.symbol,
                amount: rule.minimum_withdrawal_amount) %>
        </div>
      <% elsif current_threshold != 'min_amount' && rule.withdrawal_fee_known? && rule.withdrawal_fee_amount.zero? %>
        <div class="small-info">
          <%= t('rules.tile.no_fee_info', exchange: rule.exchange.name) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
