<%#
# Index

This view is the template for the index page.
It is responsible for rendering the search bar, header and pagination.
It renders the `_table` partial to display details about the resources.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Collection][1].
  Contains helper methods to help display a table,
  and knows which attributes should be displayed in the resource's table.
- `resources`:
  An instance of `ActiveRecord::Relation` containing the resources
  that match the user's search criteria.
  By default, these resources are passed to the table partial to be displayed.
- `search_term`:
  A string containing the term the user has searched for, if any.
- `show_search_bar`:
  A boolean that determines if the search bar should be shown.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <% if show_search_bar %>
    <%= render(
      "search",
      search_term: search_term,
      resource_name: display_resource_name(page.resource_name)
    ) %>
  <% end %>

  <div>
    <%= link_to(
      t(
        "administrate.actions.new_resource",
        name: page.resource_name.titleize.downcase
      ),
      [:new, namespace, page.resource_path.to_sym],
      class: "button",
    ) if valid_action?(:new) && show_action?(:new, new_resource) %>
  </div>
</header>


<section class="container container-fluid pl-5 pt-5">
  <div>
    <b>Waiting for btc address: </b><%= @total_waiting %>
  </div>
  <div>
    <b>To pay: </b><%= @total_unexported %>
  </div>
  <div>
    <b>In progress: </b><%= @total_exported %>
  </div>
  <div>
    <b>Paid: </b><%= @total_paid %>
  </div>
</section>

<section class="container container-fluid pl-5 pt-5">
  <%= link_to(
    "Fiat to BTC",
    get_fiat_commissions_admin_affiliates_path,
    id: "get-wire-transfers-commissions",
    class: "button",
    remote: false,
    method: :put,
  ) %>

  <%= link_to(
    "Generate payout",
    mark_as_exported_admin_affiliates_path,
    class: "button #{'disabled' unless @total_unexported.to_f.positive?}",
    remote: false,
    method: :post,
    data: { confirm: "Are you sure?" },
  ) %>

  <%= link_to(
    "Get wallet CSV",
    wallet_csv_admin_affiliates_path,
    class: "button #{'disabled' unless @total_exported.to_f.positive?}",
    onClick: "exportButtonClicked()"
  ) %>

  <%= link_to(
    "Get accounting CSV",
    accounting_csv_admin_affiliates_path,
    class: "button #{'disabled' unless @total_exported.to_f.positive?}"
  ) %>

  <%= link_to(
    "Confirm payout",
    mark_as_paid_admin_affiliates_path,
    id: "confirm-payout",
    class: "button disabled",
    remote: false,
    method: :post,
    data: { confirm: "Are you sure?" },
  ) %>
</section>

<section class="main-content__body main-content__body--flush">
  <%= render(
    "collection",
    collection_presenter: page,
    collection_field_name: resource_name,
    page: page,
    resources: resources,
    table_title: "page-title"
  ) %>

  <%= paginate resources %>
</section>

<style>
  .button.disabled {
    pointer-events: none;
    opacity: .5;
  }
</style>

<script>
  function enablePayoutButton() {
    $('#confirm-payout').removeClass('disabled')
  }

  function setExportClicked() {
    localStorage.setItem('export-clicked', true)
  }

  function unsetExportClicked() {
    localStorage.removeItem('export-clicked')
  }

  function exportButtonClicked() {
    setExportClicked()
    enablePayoutButton()
  }

  function enablePayoutButtonIfExported() {
    if (localStorage.getItem('export-clicked')) {
      enablePayoutButton()
    }
  }

  function initialize() {
    $('#confirm-payout').on('confirm:complete', unsetExportClicked)
    <% if @total_exported.to_f.positive? %>
      enablePayoutButtonIfExported()
    <% else %>
      // unset existing export flag in case payout was made from another device
      unsetExportClicked()
    <% end %>
  }

  window.onload = initialize
</script>
