<% if @show_referral_banner %>
  <% ref_link = ENV['HOME_PAGE_URL'] + ref_code_path(code: current_user.affiliate.code, locale: nil) %>
  <!--<div data-controller="removals">
    <div class="alertbox alertbox--success" style="margin-bottom: 2rem">
      <div style="width: 100%; display: flex; gap: 2rem; flex-wrap: wrap;">
        <div>
        <%= t('referral.banner_html') %>
        </div>
        <div>
        <div class="referral_banner_link">
          <a href="<%= ref_link %>" id="referral_banner_link"><%= ref_link %></a>
          <span class="badge badge-success invisible" id="referral_badge">
            <%= t('referral.copied') %>
          </span>
        </div>
        </div>
      </div>
      <%= button_to settings_hide_referral_banner_path, method: :patch, title: "Close", class: "close", data: { action: "click->removals#submitAndRemove" } do %>
        <%= render partial: 'svg/24x24_x' %>
      <% end %>
    </div>
  </div>-->
<% end %>
