
.db-navbar.sticky-top--inactive
  .container
    %nav.navbar.navbar-light
      = link_to bots_path, class: 'menu__logo' do
        = render 'svg/40x30_logo'
      %div.menu-light

        = render partial: "layouts/language_dropdown", locals: { extra_classes: "dropdown-wrapper--right" }

        = link_to(t('links.log_in'), new_user_session_path, class: 'button button--link my-sm-0 mr-4')
        = link_to new_user_registration_path, class: 'button button--outline my-sm-0' do
          %span.d-inline.d-sm-none.mx-0= t('links.sign_up')
          %span.d-none.d-sm-inline= t('links.create_account')
