%input{ type: "checkbox", id: "hamburger" }

.hamburger.hamburger__a
.hamburger.hamburger__b

.menu-mobile
  = link_to bots_path, class: 'menu-mobile__item menu-mobile__item--dashboard', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.dashboard')

  = link_to settings_path, class: 'menu-mobile__item menu-mobile__item--settings', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.settings')

  = link_to 'https://t.me/deltabadgerchat', class: "menu-mobile__item menu-mobile__item--community", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' }, target: "_blank", rel: "noopener" do
    = t('links.telegram')

  .menu-mobile__divider
  = button_to destroy_user_session_path, method: :delete, class: "menu-mobile__item menu-mobile__button", data: { turbo: false } do
    = t('links.logout')
.menu
  .menu__section.menu__section--top.menu__section--logo

    = link_to bots_path, class: 'menu__logo' do
      = render 'svg/40x30_logo'

  .menu__section.menu__section--top.menu__section--main-menu

    = link_to bots_path, class: 'menu__item menu__item--dashboard', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = render 'svg/24x24_dashboard'
      .tooltip
        = t('links.dashboard')

    = link_to settings_path, class: 'menu__item menu__item--settings', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = render 'svg/24x24_account'
      .tooltip
        = t('links.settings')

    = link_to 'https://t.me/deltabadgerchat', class: "menu__item menu__item--community", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' }, target: "_blank", rel: "noopener" do
      = render 'svg/24x24_chat'
      .tooltip
        = t('links.telegram')

  .menu__section.menu__section--bottom

    = button_to destroy_user_session_path, method: :delete, class: "menu__item menu__button", data: { turbo: false } do

      = render 'svg/24x24_logout'