%input{ type: "checkbox", id: "hamburger" }

.hamburger.hamburger__a
.hamburger.hamburger__b

.menu-mobile
  - if single_bot_mode?
    - single_bot_path = bot_path(current_user.bots.not_deleted.first)
    = link_to single_bot_path, class: "menu-mobile__item menu-mobile__item--bots #{'menu-mobile__item--active' if current_page?(single_bot_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = t('links.bot')
  - else
    = link_to bots_path, class: "menu-mobile__item menu-mobile__item--bots #{'menu-mobile__item--active' if current_page?(bots_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = t('links.bots')

  = link_to tracker_path, class: "menu-mobile__item menu-mobile__item--tracker #{'menu-mobile__item--active' if current_page?(tracker_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.tracker')

  = link_to rules_path, class: "menu-mobile__item menu-mobile__item--rules #{'menu-mobile__item--active' if current_page?(rules_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.rules')

  = link_to settings_connect_path, class: "menu-mobile__item menu-mobile__item--connections #{'menu-mobile__item--active' if current_page?(settings_connect_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.connections')

  = link_to settings_account_path, class: "menu-mobile__item menu-mobile__item--account #{'menu-mobile__item--active' if current_page?(settings_account_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.account')

  .menu-mobile__divider
  = button_to destroy_user_session_path, method: :delete, class: "menu-mobile__item menu-mobile__button", data: { turbo: false } do
    = t('links.logout')
.menu
  .menu__section.menu__section--top.menu__section--logo

    = link_to (single_bot_mode? ? bot_path(current_user.bots.not_deleted.first) : bots_path), class: 'menu__logo', 'aria-label': 'Deltabadger' do
      = render 'svg/40x30_logo'

  .menu__section.menu__section--top.menu__section--main-menu

    - if single_bot_mode?
      - single_bot_path = bot_path(current_user.bots.not_deleted.first)
      = link_to single_bot_path, class: "menu__item menu__item--bots #{'menu__item--active' if current_page?(single_bot_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
        = render 'svg/24x24_dashboard'
        .tooltip
          = t('links.bot')
    - else
      = link_to bots_path, class: "menu__item menu__item--bots #{'menu__item--active' if current_page?(bots_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
        = render 'svg/24x24_dashboard'
        .tooltip
          = t('links.bots')

    = link_to tracker_path, class: "menu__item menu__item--tracker #{'menu__item--active' if current_page?(tracker_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = render 'svg/24x24_piechart'
      .tooltip
        = t('links.tracker')

    = link_to rules_path, class: "menu__item menu__item--rules #{'menu__item--active' if current_page?(rules_path)}", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = render 'svg/24x24_withdrawal'
      .tooltip
        = t('links.rules')

  .menu__section.menu__section--bottom
    .dropdown-wrapper.dropdown-wrapper--bottom-left{ data: { controller: "dropdown", action: "click->dropdown#toggle", dropdown_target: "wrapper", dropdown_active_class: "menu__item--active" } }
      .menu__item.menu__button{ data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip', dropdown_target: "trigger" } }
        = render 'svg/24x24_sliders'
        .tooltip
          = t('links.settings')
      .dropdown
        = link_to t('links.connections'), settings_connect_path, class: "dropdown__item"
        = link_to t('links.account'), settings_account_path, class: "dropdown__item"
        .dropdown__item.dropdown__item--divider
        = button_to destroy_user_session_path, method: :delete, class: "dropdown__item dropdown__item--danger", data: { turbo: false } do
          = t('links.logout')