%input{ type: "checkbox", id: "hamburger" }

.hamburger.hamburger__a
.hamburger.hamburger__b

.menu-mobile
  = link_to bots_path, class: 'menu-mobile__item menu-mobile__item--dashboard', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.dashboard')

  = link_to 'https://t.me/deltabadgerchat', class: "menu-mobile__item menu-mobile__item--community", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' }, target: "_blank", rel: "noopener" do
    = t('links.telegram')
    = render "svg/16x16_link"

  = link_to settings_path, class: 'menu-mobile__item menu-mobile__item--settings', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
    = t('links.settings')
  .menu-mobile__divider

  .menu-mobile__divider
  .menu-mobile__item
    = params[:locale]&.to_s&.upcase || 'EN'
  - locale = params[:locale]
  - unless locale.blank? || locale == 'en'
    = link_to "English", url_for(request.params.merge(locale: 'en')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'de'
    = link_to "Deutsch", url_for(request.params.merge(locale: 'de')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'nl'
    = link_to "Nederlandse", url_for(request.params.merge(locale: 'nl')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'fr'
    = link_to "Français", url_for(request.params.merge(locale: 'fr')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'es'
    = link_to "Español", url_for(request.params.merge(locale: 'es')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'pt'
    = link_to "Português", url_for(request.params.merge(locale: 'pt')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'it'
    = link_to "Italiano", url_for(request.params.merge(locale: 'it')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'pl'
    = link_to "Polski", url_for(request.params.merge(locale: 'pl')), class: "menu-mobile__item", data: { turbo: false }
  - unless locale == 'ru'
    = link_to "Русский", url_for(request.params.merge(locale: 'ru')), class: "menu-mobile__item", data: { turbo: false }
  .menu-mobile__divider
  = button_to destroy_user_session_path, method: :delete, class: "menu-mobile__item menu-mobile__button", data: { turbo: false } do
    = t('links.logout')
.menu
  .menu__section.menu__section--top.menu__section--logo

    = link_to bots_path, class: 'menu__logo' do
      = render 'svg/40x30_logo'

  .menu__section.menu__section--top.menu__section--main-menu

    = link_to bots_path, class: 'menu__item menu__item--dashboard', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = render 'svg/24x24_dashboard'
      .tooltip
        = t('links.dashboard')

    = link_to settings_path, class: 'menu__item menu__item--settings', data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' } do
      = render 'svg/24x24_account'
      .tooltip
        = t('links.settings')

    = link_to 'https://t.me/deltabadgerchat', class: "menu__item menu__item--community", data: { controller: 'tooltip', action: 'mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip' }, target: "_blank", rel: "noopener" do
      = render 'svg/24x24_chat'
      .tooltip
        = t('links.telegram')

  .menu__section.menu__section--bottom

    = button_to destroy_user_session_path, method: :delete, class: "menu__item menu__button", data: { turbo: false } do

      = render 'svg/24x24_logout'