.db-main__section.db-main__section--secondary
  .row
    .col-sm-10.col-md-8.col-lg-6.d-lg-flex(style="flex-direction: column")
      .db-bots__item.db-bot.db-bot--dca.db-bot--running.db-bots__item--homepage
        .db-bot__header
          .btn.btn-outline-primary
            %span.d-none.d-sm-inline Pause
            %svg{:class => "btn__svg-icon db-svg-icon db-svg-icon--pause", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
              %path{:d => "M8 19a2 2 0 002-2V7c0-1.1-.9-2-2-2s-2 .9-2 2v10c0 1.1.9 2 2 2zm6-12v10c0 1.1.9 2 2 2s2-.9 2-2V7c0-1.1-.9-2-2-2s-2 .9-2 2z"}
          .db-bot__infotext.text-success
            .db-bot__infotext__left
              %span.d-none.d-sm-inline> Kraken:
              BTCUSD
            .db-bot__infotext__right Next buy in  13h 50m 38s
        .db-bot__progress.progress.progress--thin.progress--bot-setup
          .progress-bar.bg-success{:role => "progressbar", :style => "width: 66%;"}
        .row.db-bot__form
          %form.form-inline.mx-4
            .form-group.mr-2
              %select#exampleFormControlSelect1.form-control.db-select--buy-sell{:disabled => "disabled"}
                %option{:value => "buy"} Buy
                %option{:value => "sell"} Sell
            .form-group.mr-2 BTC for
            .form-group.mr-2
              %input.form-control.db-input--dca-amount{:disabled => "disabled", :type => "text", :value => "1"}/
            .form-group.mr-2 USD /
            .form-group.mr-2
              %select#exampleFormControlSelect1.form-control{:disabled => "disabled"}
                %option{:value => "hour"} Hour
                %option{:value => "day"} Day
                %option{:value => "week"} Week
                %option{:value => "month"} Month
      .db-bots__item.db-bot.db-bot--dca.db-bot--running.db-bot--collapsed.db-bots__item--homepage
        .db-bot__header
          .btn.btn-outline-primary
            %span.d-none.d-sm-inline Pause
            %svg{:class => "btn__svg-icon db-svg-icon db-svg-icon--pause", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
              %path{:d => "M8 19a2 2 0 002-2V7c0-1.1-.9-2-2-2s-2 .9-2 2v10c0 1.1.9 2 2 2zm6-12v10c0 1.1.9 2 2 2s2-.9 2-2V7c0-1.1-.9-2-2-2s-2 .9-2 2z"}
          .db-bot__infotext.text-success
            .db-bot__infotext__left
              %span.d-none.d-sm-inline> Binance:
              BATUSDT
            .db-bot__infotext__right Next buy in  5h 11m 23s
        .db-bot__progress.progress.progress--thin.progress--bot-setup
          .progress-bar.bg-success{:role => "progressbar", :style => "width: 36%;"}
      .db-bots__item.db-bot.db-bot--dca.db-bot--running.db-bot--collapsed.db-bots__item--homepage
        .db-bot__header
          .btn.btn-outline-primary
            %span.d-none.d-sm-inline Pause
            %svg{:class => "btn__svg-icon db-svg-icon db-svg-icon--pause", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
              %path{:d => "M8 19a2 2 0 002-2V7c0-1.1-.9-2-2-2s-2 .9-2 2v10c0 1.1.9 2 2 2zm6-12v10c0 1.1.9 2 2 2s2-.9 2-2V7c0-1.1-.9-2-2-2s-2 .9-2 2z"}
          .db-bot__infotext.text-success
            .db-bot__infotext__left
              %span.d-none.d-sm-inline> Binance:
              XMRUSDT
            .db-bot__infotext__right Next buy in 44m 19s
        .db-bot__progress.progress.progress--thin.progress--bot-setup
          .progress-bar.bg-success{:role => "progressbar", :style => "width: 16%;"}

    .col-md-12.col-lg-5.offset-lg-1.db-flex-centered-vertically
      .db-flex-centered-vertically__content
        %h2.mb-5
          DCA into the fastest appreciating asset.
        %p
          Connect one of popular exchanges and set recurring purchases on your desired schedule. You can run as many bots as you want to DCA into your favorite cryptocurrency portfolio.
          -# It works for all assets including futures, indexes, and crypto-crypto pairs.
        %p.db-list-of-exchanges
          %b <span class="transparent-50">&middot;</span> Binance
          -#   %b <span class="transparent-50">&middot;</span> Binance.US
          %b <span class="transparent-50">&middot;</span> Bitbay
          -#   %b <span class="transparent-50">&middot;</span> Bitfinex
          -#   %b <span class="transparent-50">&middot;</span> Bitmex
          -#   %b <span class="transparent-50">&middot;</span> Bitso
          -#   %b <span class="transparent-50">&middot;</span> Bitstamp
          -#   %b <span class="transparent-50">&middot;</span> CEX.io
          -#   %b <span class="transparent-50">&middot;</span> Coinbase
          -#   %b <span class="transparent-50">&middot;</span> Deribit
          -#   %b <span class="transparent-50">&middot;</span> FTX
          -#   %b <span class="transparent-50">&middot;</span> Gemini
          %b <span class="transparent-50">&middot;</span> Kraken
          -#   %b <span class="transparent-50">&middot;</span> Nash.io
          -#   %b <span class="transparent-50">&middot;</span> Zebpay
        %a.btn.btn-success.btn-lg.my-2.my-sm-0.mt-4.mt-sm-4.btn--get-started{:href => new_user_registration_path}
          %span.mr-3 Start for free in 5 minutes
          %svg.db-bot__svg-icon.db-svg-icon.db-svg-icon--arrow-forward{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
            %path{:d => "M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z"}
-# .db-main__section.db-main__section--primary
-#   .row
-#     .col-md-12.col-lg-7.db-flex-centered-vertically
-#       .db-flex-centered-vertically__content
-#         %h2.mb-5
-#           Integrated with sixteen<br>popular exchanges
-#         %p
-#           Binance &middot;
-#           Binance.US &middot;
-#           Bitbay &middot;
-#           Bitfinex &middot;
-#           Bitmex <br>
-#           Bitso &middot;
-#           Bitstamp &middot;
-#           CEX.io &middot;
-#           Coinbase &middot;
-#           Deribit <br>
-#           FTX &middot;
-#           Gemini &middot;
-#           Kraken &middot;
-#           Nash.io &middot;
-#           Zebpay
-#
-#         %a.btn.btn-success.btn-lg.my-2.my-sm-0.mt-4.mt-sm-4.btn--get-started{:href => new_user_registration_path}
-#           %span.mr-3 Get started
-#           %svg.db-bot__svg-icon.db-svg-icon.db-svg-icon--arrow-forward{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
-#             %path{:d => "M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z"}
-#     .col-md-12.col-lg-5.d-none.d-lg-flex
-#       = render 'layouts/svg_bubbleart_02'


.db-main__section.db-main__section--secondary
  %h2.text-center.mb-5
    Users say about us:
  %script{:defer => "defer", :src => "https://apps.elfsight.com/p/platform.js"}
  .elfsight-app-19648b4d-c598-4175-8075-6ac466f2e818

#dcamagic.db-main__section.db-main__section--secondary.db-main__section--secondary--last
  .row
    .col
      %h2.mb-5.text-center
        The magic of
        %span.no-break dollar-cost
        %br
        averaging in
        %span.no-break 4 easy charts

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="question-number">1</span>Wait… what is DCA?
        %p DCA is a strategy of investing where you buy an asset for a fixed amount on a regular schedule regardless of its price. You get more of the asset when the price is lower, and less of it when the price is higher. As a result, instead of taking big short-term bets, you get a fair average price.
        %p DCA keeps you away from the emotional rollercoaster, short-term risk, and decision making anxiety.
    .col-md-12.col-lg-6.order-lg-1.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_01'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="question-number">2</span>Should I wait for correction <span class="no-break">to start?</span>
        %p No. For an appreciating asset, it's always better to start earlier, even at the top! Eventually, the price will go higher, and whoever started earlier ends up with lower average price.
    .col-md-12.col-lg-6.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_02'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="question-number">3</span>Why is it better than a <span class="no-break">lump sum investment</span>?
        %p In the short-term, the price may still go up, down or sideways. Lump sum wins only in the first scenario. DCA wins in two others. The magic of DCA puts you in green even if the price didn't change at the end.
    .col-md-12.col-lg-6.order-lg-1.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_03'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="question-number">4</span>Can I improve DCA with RSI <span class="no-break">or Mayer Multiple</span>?
        %p Not really. Oscillators don't work well in an upward trend. The next bottom is often higher than the previous top. There is no automated strategy that wins with DCA, because DCA is simply investing in the market trend which can't be beaten consistently with any math formula.
    .col-md-12.col-lg-6.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_04'

.db-main__section.db-main__section--primary.db-main__section--primary--last
  .row.row--newsletter
    .col-md-12.col-lg-6.d-none.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_bubbleart_02'
    .col-md-12.col-lg-5.offset-lg-1.db-flex-centered-vertically
      .db-flex-centered-vertically__content
        %h2.mb-5 Dollar-cost averaging into Bitcoin is the new standard for long-term savers.
        %p Growing regulations limit individuals' access to financial markets, while negative interest rates devaluate bonds and saving accounts.
        %p In that environment, both individuals and companies continue investing in Bitcoin.
        %a.btn.btn-success.btn-lg.my-2.my-sm-0.mt-4.mt-sm-4.btn--get-started{:href => new_user_registration_path}
          %span.mr-3 Start for free in 5 minutes
          %svg{:class => "db-bot__svg-icon db-svg-icon db-svg-icon--arrow-forward", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
            %path{:d => "M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z"}

      -# %p We're working on a unique set of risk management tools for investors and traders. Stay in touch if you're interested.
      -# #newsletter
