.db-main__section.db-main__section--secondary
  .row
    .col-sm-10.col-md-8.col-lg-6.d-none.d-lg-flex(style="flex-direction: column")
      .db-bots__item.db-bot.db-bot--dca.db-bot--running.db-bot--active.db-bots__item--homepage
        .db-bot__header
          .btn.btn-outline-primary
            %span.d-none.d-sm-inline= t('bots.stop')
            %svg{:class => "btn__svg-icon db-svg-icon db-svg-icon--pause", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
              %path{:d => "M8 19a2 2 0 002-2V7c0-1.1-.9-2-2-2s-2 .9-2 2v10c0 1.1.9 2 2 2zm6-12v10c0 1.1.9 2 2 2s2-.9 2-2V7c0-1.1-.9-2-2-2s-2 .9-2 2z"}
          .db-bot__infotext.text-success
            .db-bot__infotext__left
              %span.d-none.d-sm-inline> Kraken:
              BTCUSD
            .db-bot__infotext__right= t('bots.next_buy', countdown: '13h 50m 38s')
        .db-bot__progress.progress.progress--thin.progress--bot-setup
          .progress-bar.bg-success{:role => "progressbar", :style => "width: 66%;"}
        .row.db-bot__form
          %form.form-inline.mx-4
            .form-group.mr-2
              %select.form-control.db-select--buy-sell{:disabled => "disabled"}
                %option{:value => "buy"}= t('bots.buy')
                %option{:value => "sell"}= t('bots.sell')
            .form-group.mr-2 BTC
            = t('bots.for')
            .form-group.mr-2
              %input.form-control.db-input--dca-amount{:disabled => "disabled", :type => "text", :value => "1"}/
            .form-group.mr-2 USD /
            .form-group.mr-2
              %select.form-control{:disabled => "disabled"}
                %option{:value => "hour"}= t('bots.hour')
                %option{:value => "day"}= t('bots.day')
                %option{:value => "week"}= t('bots.week')
                %option{:value => "month"}= t('bots.month')
      .db-bots__item.db-bot.db-bot--dca.db-bot--running.db-bot--collapsed.db-bots__item--homepage
        .db-bot__header
          .btn.btn-outline-primary
            %span.d-none.d-sm-inline= t('bots.stop')
            %svg{:class => "btn__svg-icon db-svg-icon db-svg-icon--pause", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
              %path{:d => "M8 19a2 2 0 002-2V7c0-1.1-.9-2-2-2s-2 .9-2 2v10c0 1.1.9 2 2 2zm6-12v10c0 1.1.9 2 2 2s2-.9 2-2V7c0-1.1-.9-2-2-2s-2 .9-2 2z"}
          .db-bot__infotext.text-success
            .db-bot__infotext__left
              %span.d-none.d-sm-inline> Binance:
              BATUSDT
            .db-bot__infotext__right= t('bots.next_buy', countdown: '5h 11m 23s')
        .db-bot__progress.progress.progress--thin.progress--bot-setup
          .progress-bar.bg-success{:role => "progressbar", :style => "width: 36%;"}
      .db-bots__item.db-bot.db-bot--dca.db-bot--running.db-bot--collapsed.db-bots__item--homepage
        .db-bot__header
          .btn.btn-outline-primary
            %span.d-none.d-sm-inline= t('bots.stop')
            %svg{:class => "btn__svg-icon db-svg-icon db-svg-icon--pause", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
              %path{:d => "M8 19a2 2 0 002-2V7c0-1.1-.9-2-2-2s-2 .9-2 2v10c0 1.1.9 2 2 2zm6-12v10c0 1.1.9 2 2 2s2-.9 2-2V7c0-1.1-.9-2-2-2s-2 .9-2 2z"}
          .db-bot__infotext.text-success
            .db-bot__infotext__left
              %span.d-none.d-sm-inline> Binance:
              XMRUSDT
            .db-bot__infotext__right= t('bots.next_buy', countdown: '44m 19s')
        .db-bot__progress.progress.progress--thin.progress--bot-setup
          .progress-bar.bg-success{:role => "progressbar", :style => "width: 16%;"}

    .col-md-12.col-lg-5.offset-lg-1.db-flex-centered-vertically
      .db-flex-centered-vertically__content
        %h2.mb-5
          = t('home.index.fastest_market')
        %p
          = t('home.index.connect_exchanges')
          -# It works for all assets including futures, indexes, and crypto-crypto pairs.
        %p.db-list-of-exchanges
          %b <span class="transparent-50">&middot;</span> Binance
          %b <span class="transparent-50">&middot;</span> Binance.US
          %b <span class="transparent-50">&middot;</span> Bitbay
          -#   %b <span class="transparent-50">&middot;</span> Bitfinex
          -#   %b <span class="transparent-50">&middot;</span> Bitkub
          -#   %b <span class="transparent-50">&middot;</span> Bitpanda Pro
          -#   %b <span class="transparent-50">&middot;</span> Bitmex
          %b <span class="transparent-50">&middot;</span> Bitso
          -#   %b <span class="transparent-50">&middot;</span> Bitstamp
          -#   %b <span class="transparent-50">&middot;</span> Bittrex
          %b <span class="transparent-50">&middot;</span> Coinbase Pro
          %b <span class="transparent-50">&middot;</span> FTX
          %b <span class="transparent-50">&middot;</span> Gemini
          %b <span class="transparent-50">&middot;</span> Kraken
          -#   %b <span class="transparent-50">&middot;</span> Indodax
          -#   %b <span class="transparent-50">&middot;</span> OKcoin
          -#   %b <span class="transparent-50">&middot;</span> Poloniex
          -#   %b <span class="transparent-50">&middot;</span> Upbit
          -#   %b <span class="transparent-50">&middot;</span> Zebpay
        %a.btn.btn-success.btn-lg.my-2.my-sm-0.mt-4.mt-sm-4.btn--get-started{:href => new_user_registration_path}
          %span.mr-3
            = t('links.start_fast_longer_html')
          %svg.db-bot__svg-icon.db-svg-icon.db-svg-icon--arrow-forward{:xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
            %path{:d => "M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z"}

.db-main__section.db-main__section--secondary
  %h2.text-center.mb-5= t('home.index.testimonials.header')
  %script{:defer => "defer", :src => "https://apps.elfsight.com/p/platform.js"}
  .elfsight-app-19648b4d-c598-4175-8075-6ac466f2e818

#dcamagic.db-main__section.db-main__section--secondary.db-main__section--secondary--last
  .row
    .col
      %h2.mb-5.text-center= t('home.index.dca_magic.title_html')

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">1</span>#{t('home.index.dca_magic.easy1.title_html')}
        = t('home.index.dca_magic.easy1.text_html')
    .col-md-12.col-lg-6.order-lg-1.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_01'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">2</span>#{t('home.index.dca_magic.easy2.title_html')}
        = t('home.index.dca_magic.easy2.text_html')
    .col-md-12.col-lg-6.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_02'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">3</span>#{t('home.index.dca_magic.easy3.title_html')}
        = t('home.index.dca_magic.easy3.text_html')
    .col-md-12.col-lg-6.order-lg-1.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_03'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">4</span>#{t('home.index.dca_magic.easy4.title_html')}
        = t('home.index.dca_magic.easy4.text_html')
    .col-md-12.col-lg-6.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_04'

.db-main__section.db-main__section--primary.db-main__section--primary--last
  .row.row--newsletter
    .col-md-12.col-lg-6.d-none.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_bubbleart_02'
    .col-md-12.col-lg-5.offset-lg-1.db-flex-centered-vertically
      .db-flex-centered-vertically__content
        %h2.mb-5= t('ads.dca_standard')
        = t('ads.dca_standard_description_html')
        %a.btn.btn-success.btn-lg.my-2.my-sm-0.mt-4.mt-sm-4.btn--get-started{:href => new_user_registration_path}
          %span.mr-3= t('links.start_fast_longer_html')
          %svg{:class => "db-bot__svg-icon db-svg-icon db-svg-icon--arrow-forward", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
            %path{:d => "M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z"}
