<div data-controller="dropdown" data-action="click->dropdown#toggle" data-dropdown-target="wrapper" class="dropdown-wrapper <%= extra_classes %>" style="font-weight: 600; color: var(--link)">
  <%= params[:locale]&.to_s&.upcase || 'EN' %>
  <div class="dropdown">
    <% locale = params[:locale] %>
    <% unless locale.blank? || locale == 'en' %>
      <%= link_to "🇬🇧 English", url_for(request.params.merge(locale: 'en')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'de' %>
      <%= link_to "🇩🇪 Deutsch", url_for(request.params.merge(locale: 'de')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'nl' %>
      <%= link_to "🇳🇱 Nederlands", url_for(request.params.merge(locale: 'nl')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'fr' %>
      <%= link_to "🇫🇷 Français", url_for(request.params.merge(locale: 'fr')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'es' %>
      <%= link_to "🇪🇸 Español", url_for(request.params.merge(locale: 'es')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'pt' %>
      <%= link_to "🇵🇹 Português", url_for(request.params.merge(locale: 'pt')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'it' %>
      <%= link_to "🇮🇹 Italiano", url_for(request.params.merge(locale: 'it')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'pl' %>
      <%= link_to "🇵🇱 Polski", url_for(request.params.merge(locale: 'pl')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'ru' %>
      <%= link_to "🇷🇺 Русский", url_for(request.params.merge(locale: 'ru')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'cs' %>
      <%= link_to "🇨🇿 Čeština", url_for(request.params.merge(locale: 'cs')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'sk' %>
      <%= link_to "🇸🇰 Slovenčina", url_for(request.params.merge(locale: 'sk')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'da' %>
      <%= link_to "🇩🇰 Dansk", url_for(request.params.merge(locale: 'da')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'sv' %>
      <%= link_to "🇸🇪 Svenska", url_for(request.params.merge(locale: 'sv')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'el' %>
      <%= link_to "🇬🇷 Ελληνικά", url_for(request.params.merge(locale: 'el')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'bg' %>
      <%= link_to "🇧🇬 Български", url_for(request.params.merge(locale: 'bg')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
  </div>
</div>