<div data-controller="dropdown" data-action="click->dropdown#toggle" data-dropdown-target="wrapper" class="sbutton sbutton--link dropdown-wrapper <%= extra_classes %>">
  <% locale = params[:locale] %>
  <% language_names = { 'en' => 'English', 'de' => 'Deutsch', 'nl' => 'Nederlands', 'fr' => 'Français', 'es' => 'Español', 'pt' => 'Português', 'it' => 'Italiano', 'pl' => 'Polski', 'ru' => 'Русский' } %>
  <%= language_names[locale] || 'English' %> <%= render "svg/16x16_down" %>
  <div class="dropdown">
    <% unless locale.blank? || locale == 'en' %>
      <%= link_to "🇬🇧 English", url_for(request.params.merge(locale: 'en')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'de' %>
      <%= link_to "🇩🇪 Deutsch", url_for(request.params.merge(locale: 'de')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'nl' %>
      <%= link_to "🇳🇱 Nederlands", url_for(request.params.merge(locale: 'nl')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'fr' %>
      <%= link_to "🇫🇷 Français", url_for(request.params.merge(locale: 'fr')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'es' %>
      <%= link_to "🇪🇸 Español", url_for(request.params.merge(locale: 'es')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'pt' %>
      <%= link_to "🇵🇹 Português", url_for(request.params.merge(locale: 'pt')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'it' %>
      <%= link_to "🇮🇹 Italiano", url_for(request.params.merge(locale: 'it')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'pl' %>
      <%= link_to "🇵🇱 Polski", url_for(request.params.merge(locale: 'pl')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
    <% unless locale == 'ru' %>
      <%= link_to "🇷🇺 Русский", url_for(request.params.merge(locale: 'ru')), class: "dropdown__item", data: { turbo: false } %>
    <% end %>
  </div>
</div>
