#dcamagic.db-main__section.db-main__section--secondary
  .row
    .col
      %h2.mb-5.text-center= t('home.index.dca_magic.title_html')

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">1</span>#{t('home.index.dca_magic.easy1.title_html')}
        = t('home.index.dca_magic.easy1.text_html')
    .col-md-12.col-lg-6.order-lg-1.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_01'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">2</span>#{t('home.index.dca_magic.easy2.title_html')}
        = t('home.index.dca_magic.easy2.text_html')
    .col-md-12.col-lg-6.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_02'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">3</span>#{t('home.index.dca_magic.easy3.title_html')}
        = t('home.index.dca_magic.easy3.text_html')
    .col-md-12.col-lg-6.order-lg-1.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_03'

  .row.db-row--easy-chart
    .col-md-12.col-lg-6.order-lg-2
      .db-flex-centered-vertically__content--off.db-easy-chart__text
        %h3 <span class="db-number db-number--success">4</span>#{t('home.index.dca_magic.easy4.title_html')}
        = t('home.index.dca_magic.easy4.text_html')
    .col-md-12.col-lg-6.mb-4.d-lg-flex(style="flex-direction: column")
      = render 'layouts/svg_easy_chart_04'
