%head
  -# <script type="text/javascript" src="https://load.fomo.com/api/v1/AUZ_QZ5JVkZVLKS7dmRCxw/load.js"></script>
  %meta{:charset => "UTF-8"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}
  = csrf_meta_tags
  = csp_meta_tag

  %title= t('meta.title')

  %link{:href => asset_pack_path("media/images/favicon.ico"), rel: "icon", sizes: "any"}
  %link{:href => asset_pack_path("media/images/icon.svg"), rel: "icon", type: "image/svg+xml"}

  = stylesheet_pack_tag 'deltabadger2'
  - if user_signed_in?
    %script{:defer => "defer", :src => "https://static.bonjoro.com/js/v1/bonjoro.js"}

    :javascript
      (()=>{"use strict";(()=>{var o;const n=function(){n.q.push(arguments)};n.q=[],null!==(o=window.bonjoro)&&void 0!==o||(window.bonjoro=n)})()})();

      bonjoro('create', "#{bonjoro_app_id}");
      bonjoro('identify', "#{current_user.email}", { userHash: "#{escape_javascript bonjoro_user_hash(current_user.email)}" });

  %body{ data: { locale: I18n.locale }}
    #cookie_consent
    .container
      = yield

    #current_user_subscription{ data: current_user.subscription_name }
    = javascript_pack_tag 'deltabadger2'

    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-60645901-3"}
