%head
  <script type="text/javascript" src="https://load.fomo.com/api/v1/AUZ_QZ5JVkZVLKS7dmRCxw/load.js"></script>
  %meta{:charset => "UTF-8"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}
  = csrf_meta_tags
  = csp_meta_tag

  %title= t('meta.title')

  %link{:href => asset_pack_path("media/images/favicon.png"), :rel => "shortcut icon", :type => "image/png"}
  = stylesheet_pack_tag 'deltabadger'

  %body{ data: { locale: I18n.locale }}
    #cookie_consent
    .container
      = yield
    .container
      = render 'layouts/footer'

    //= render partial: 'layouts/drift' if !Rails.env.development?

    #current_user_subscription{ data: current_user.subscription_name }
    = javascript_pack_tag 'deltabadger2'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}

    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-60645901-3"}

    :javascript

      // google

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-60645901-3');

      // payments plan
      $(document).ready(function(){
        $(".db-plan-investor").click(function(){
          $("#payment_plan_investor").click()
          $(".db-plan-investor").addClass("db-plan--selected")
          $(".db-plan-investor").removeClass("db-plan--other")
          $(".db-plan-hodler").addClass("db-plan--other")
          $(".db-plan-hodler").removeClass("db-plan--selected")
          $(".db-checkout").addClass("db-checkout--investor");
          $(".db-checkout").removeClass("db-checkout--hodler");
          if ("#{current_user.subscription_name}" === "investor") {
            $(".db-plan-active-discount").addClass("db-plans__item--hide");
          } else {
            $(".db-plan-active-discount").removeClass("db-plans__item--hide");
          }
          document.getElementById("payment_plan_investor_wire").checked = true;
          document.getElementById("payment_plan_hodler_wire").checked = false;
          refresh()
        })
        $(".db-plan-hodler").click(function(){
          $("#payment_plan_hodler").click()
          $(".db-plan-hodler").addClass("db-plan--selected")
          $(".db-plan-hodler").removeClass("db-plan--other")
          $(".db-plan-investor").addClass("db-plan--other")
          $(".db-plan-investor").removeClass("db-plan--selected")
          $(".db-checkout").addClass("db-checkout--hodler");
          $(".db-checkout").removeClass("db-checkout--investor");
          if ("#{current_user.subscription_name}" === "hodler") {
            $(".db-plan-active-discount").addClass("db-plans__item--hide");
          } else {
            $(".db-plan-active-discount").removeClass("db-plans__item--hide");
          }
          document.getElementById("payment_plan_investor_wire").checked = false;
          document.getElementById("payment_plan_hodler_wire").checked = true;
          refresh()
        })
      })

      // scaling font-variation-settings: 'wght' var(--text-wght)

      $("html").css("font-size", Math.min(Math.max($(this).width()/190, 10), 13.125) + "px");
      $("html").css("--font-wght-adjustment", Math.min(Math.max(915000/($(this).width() + 600), 290), 400) - 290 + "");
      window.addEventListener('resize', function(event){
        $("html").css("font-size", Math.min(Math.max($(this).width()/190, 10), 13.125) + "px");
        $("html").css("--font-wght-adjustment",  Math.min(Math.max(915000/($(this).width() + 600), 290), 400) - 290 + "");
      });

      // payments eu/non-eu

      $(document).ready(function(){
        function showPreview(newValue) {
          if (!newValue) return;
          refresh()
          /* This is just to keep wire transfers backup
          if ((newValue !== "" &&
              document.getElementById("payment_first_name_wire").value !== "" &&
              document.getElementById("payment_last_name_wire").value !== "") || "#{current_user.pending_wire_transfer}" !== "") {
            $("#please_fill_wire_form").addClass("db-form__row--hidden");
            $("#please_fill_wire_form").removeClass("db-form__row--visible");
            $("#wire_costs").addClass("db-form__row--visible");
            $("#wire_costs").removeClass("db-form__row--hidden");

            if ("#{current_user.pending_wire_transfer}" !== "") {
              $("#payment_country").val("#{current_user.pending_wire_transfer}");
              $("#payment_country_wire").val("#{current_user.pending_wire_transfer}");
            }

            if( (document.getElementById("payment_country_wire").value.toLowerCase() === 'other') || "#{current_user.pending_wire_transfer}" === "other"){
              $("#wire_form_other").addClass("db-form__row--visible");
              $("#wire_form_other").removeClass("db-form__row--hidden");
              $("#wire_form_eu").removeClass("db-form__row--visible");
              $("#wire_form_eu").addClass("db-form__row--hidden");
            } else {
              $("#wire_form_eu").addClass("db-form__row--visible");
              $("#wire_form_eu").removeClass("db-form__row--hidden");
              $("#wire_form_other").removeClass("db-form__row--visible");
              $("#wire_form_other").addClass("db-form__row--hidden");
            }
          } else {
            $("#please_fill_wire_form").removeClass("db-form__row--hidden");
            $("#please_fill_wire_form").addClass("db-form__row--visible");
            $("#wire_form_eu").removeClass("db-form__row--visible");
            $("#wire_form_eu").addClass("db-form__row--hidden");
            $("#wire_form_other").removeClass("db-form__row--visible");
            $("#wire_form_other").addClass("db-form__row--hidden");
            $("#wire_costs").removeClass("db-form__row--visible");
            $("#wire_costs").addClass("db-form__row--hidden");
          }*/
        }

        function setPrices(select) {
          if (!select) return;

          if (select.value.toLowerCase() === 'other') {
            $(".db-country").addClass("db-checkout--other");
            $(".db-country").removeClass("db-checkout--eu");
          } else {
            $(".db-country").addClass("db-checkout--eu");
            $(".db-country").removeClass("db-checkout--other");
          }
          var dataset = select.options[select.selectedIndex].dataset;

          $(".vat-percent").text(dataset.vp);

          $(".investor-total-price").text(dataset.itp);
          $(".investor-base-price").text(dataset.ibp);
          $(".investor-discounted-price").text(dataset.idp);
          $(".investor-flat-discount").text(dataset.ifd);
          $(".investor-discount-percent-amount").text(dataset.idpa);
          $(".investor-total-vat").text(dataset.itv);

          $(".hodler-total-price").text(dataset.htp);
          $(".hodler-base-price").text(dataset.hbp);
          $(".hodler-discounted-price").text(dataset.hdp);
          $(".hodler-flat-discount").text(dataset.hfd);
          $(".hodler-discount-percent-amount").text(dataset.hdpa);
          $(".hodler-total-vat").text(dataset.htv);
          $("#payment_country").val(select.value);
          $("#payment_country_wire").val(select.value);
        }

        $("#payment_country").change(function(event) {
          setPrices(event.target);
        });

        setPrices(document.getElementById("payment_country"));

        $("#payment_country_wire").change(function(event) {
          setPrices(event.target);
          showPreview(event.target);
        });

        setPrices(document.getElementById("payment_country_wire"));

        $("#payment_first_name_wire").change(function(event) {
          document.getElementById("payment_first_name").value = event.target.value;
          document.getElementById("payment_first_name").defaultValue = event.target.value;

          showPreview(event.target);
        });

        $("#payment_last_name_wire").change(function(event) {
          document.getElementById("payment_last_name").value = event.target.value;
          document.getElementById("payment_last_name").defaultValue = event.target.value;

          showPreview(event.target);
        });

        $("#payment_first_name").change(function(event) {
          document.getElementById("payment_first_name_wire").value = event.target.value;
          document.getElementById("payment_first_name_wire").defaultValue = event.target.value;

          showPreview(event.target);
        });

        $("#payment_last_name").change(function(event) {
          document.getElementById("payment_last_name_wire").value = event.target.value;
          document.getElementById("payment_last_name_wire").defaultValue = event.target.value;

          showPreview(event.target);
        });

        showPreview(document.getElementById("payment_country_wire").value);
      });

      // referral program registration

      $(document).ready(function(){
        $(".radio--eu-company").click(function(){
          $(".db-form-group--eu-company").addClass("db-form-group--eu-company__visible");
        });
        $(".radio--private").click(function(){
          $(".db-form-group--eu-company").removeClass("db-form-group--eu-company__visible");
        });
        $(".db-form-control-range--discount-ratio").on('input', function(e){
          var discountPercent = Math.round(e.target.value * 100);
          var earnPercent = Math.round((e.target.dataset.sum - e.target.value) * 100);
          $(".db-form-label-range--discount-percent").text(discountPercent);
          $(".db-form-label-range--earn-percent").text(earnPercent);
        })
        $(".db-form-control-text--visible_name").on('input', function(e){
          if (e.target.value.trim()) {
           $(".db-form-preview--visible_text").addClass("db-form-preview--visible_text__visible");
          } else {
           $(".db-form-preview--visible_text").removeClass("db-form-preview--visible_text__visible");
          }
          $(".db-form-preview--visible_name").text(e.target.value);
        })
       });

      if("#{current_user.subscription_name}" !== "hodler" && "#{current_user.subscription_name}" !== "investor") {
        fomo.trigger('start')
      } else {
        fomo.trigger('stop')
      }
