.db-main__section.db-main__section--primary.d-none.d-lg-block
  %h2.text-center.mb-5.pb-5
    Pricing
  .row.db-pricing
    .col-sm-6.col-md-4.db-pricing__col.db-pricing__col--info
      .db-pricing__title
      .db-pricing__price
      .db-pricing__feat
        DCA
      .db-pricing__feat
        Currencies
      .db-pricing__feat
        Referral program
      .db-pricing__feat
        Limit orders
      .db-pricing__feat
        FTX (exchange)

    .col-sm-6.col-md-3.db-pricing__col
      .db-pricing__title= "Saver"
      .db-pricing__price.text-success= "Free"
      .db-pricing__feat
        up to $500/year
      .db-pricing__feat
        BTC, ETH, LTC, XMR
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"

    .col-sm-6.col-md-3.db-pricing__col
      .db-pricing__title= "Investor"
      .db-pricing__price
        $49.99<small>/year</small>
      .db-pricing__feat
        No limits
      .db-pricing__feat
        BTC, ETH, LTC, XMR
      .db-pricing__feat
        .material-icons-round= "check"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"

    .col-sm-6.col-md-2.db-pricing__col
      .db-pricing__title= "Hodler"
      .db-pricing__price
        $149.99<small>/4y</small>
      .db-pricing__feat
        No limits
      .db-pricing__feat
        All
      .db-pricing__feat
        .material-icons-round= "check"
      .db-pricing__feat
        .material-icons-round= "check"
      .db-pricing__feat
        .material-icons-round= "check"
