.db-main__section.db-main__section--pricing.d-none.d-lg-block
  %h2.text-center.mb-5.pb-5= t('pricing.title')
  .row.db-pricing
    .col-sm-6.col-md-4.db-pricing__col.db-pricing__col--info
      .db-pricing__title
      .db-pricing__price
      .db-pricing__feat= t('pricing.features.dca')
      .db-pricing__feat= t('pricing.features.currencies')
      .db-pricing__feat= t('pricing.features.referral_program')
      .db-pricing__feat= t('pricing.features.limit_orders')
      .db-pricing__feat
        FTX (#{t('pricing.features.exchange')})

    .col-sm-6.col-md-3.db-pricing__col
      .db-pricing__title= t('subscriptions.saver')
      .db-pricing__price.text-success= t('pricing.free')
      .db-pricing__feat= t('pricing.free_limit')
      .db-pricing__feat
        BTC, ETH, LTC, XMR
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"

    .col-sm-6.col-md-3.db-pricing__col
      .db-pricing__title= t('subscriptions.investor')
      .db-pricing__price
        $49<small>.99<span>/#{t('pricing.per_year')}</span></small>
      .db-pricing__feat= t('pricing.no_limits')
      .db-pricing__feat
        BTC, ETH, LTC, XMR
      .db-pricing__feat
        .material-icons-round= "check"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"
      .db-pricing__feat
        .material-icons-round.db-pricing__feat__no= "remove"

    .col-sm-6.col-md-2.db-pricing__col
      .db-pricing__title= t('subscriptions.hodler')
      .db-pricing__price
        $149<small>.99<span>/#{t('pricing.per_4_years')}</span></small>
      .db-pricing__feat= t('pricing.no_limits')
      .db-pricing__feat= t('pricing.all')
      .db-pricing__feat
        .material-icons-round= "check"
      .db-pricing__feat
        .material-icons-round= "check"
      .db-pricing__feat
        .material-icons-round= "check"
