<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta name="color-scheme" content="dark light">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
    <script src="//code.tidio.co/msgruncpixbeh9ezdlpqxlbktys25m2w.js" async></script>

    <title><%= t('meta.title') %></title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'deltabadger2' %>

    <% if user_signed_in? %>
      <script defer="defer" src="https://static.bonjoro.com/js/v1/bonjoro.js"></script>
      <script>
        (()=>{"use strict";(()=>{var o;const n=function(){n.q.push(arguments)};n.q=[],null!==(o=window.bonjoro)&&void 0!==o||(window.bonjoro=n)})()})();

        bonjoro('create', "<%= bonjoro_app_id %>");
        bonjoro('identify', "<%= current_user.email %>", { userHash: "<%= escape_javascript bonjoro_user_hash(current_user.email) %>" });
      </script>
    <% end %>
    <script>
      // referral program registration
      $(document).ready(function() {
        $(".radio--eu-company").click(function() {
          $(".db-form-group--eu-company").addClass("db-form-group--eu-company__visible");
        });
        $(".radio--private").click(function() {
          $(".db-form-group--eu-company").removeClass("db-form-group--eu-company__visible");
        });
        $(".db-form-control-range--discount-ratio").on('input', function(e) {
          var discountPercent = Math.round(e.target.value * 100);
          var earnPercent = Math.round((e.target.dataset.sum - e.target.value) * 100);
          $(".db-form-label-range--discount-percent").text(discountPercent);
          $(".db-form-label-range--earn-percent").text(earnPercent);
        });
        $(".db-form-control-text--visible_name").on('input', function(e) {
          if (!e.target) return;
          if (e.target.value.trim()) {
            $(".db-form-preview--visible_text").addClass("db-form-preview--visible_text__visible");
          } else {
            $(".db-form-preview--visible_text").removeClass("db-form-preview--visible_text__visible");
          }
          $(".db-form-preview--visible_name").text(e.target.value);
        });
      });
    </script>
    <script>
      // service worker registration for PWA
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("<%= asset_pack_path('service-worker.js') %>").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(error) {
          console.log('ServiceWorker registration failed: ', error);
        });
      }
    </script>
  </head>

  <%# data-locale & current_user_subscription are only needed for the react dashboard %>
  <body data-controller="hotwire-animations" data-locale="<%= I18n.locale %>" class="<%= yield(:body_class) %> <%= main_body_classes %>">
    <div id="flash">
      <%= render 'layouts/flash' %>
    </div>

    <%= render 'layouts/navbar' %>

    <div class="main">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>

    <div id="current_user_subscription" data="<%= current_user.subscription.name %>"></div>

    <%= turbo_frame_tag 'modal' %>
  </body>
</html>