!!!
%html.db--application.db--loggedin{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}
    = csrf_meta_tags
    = csp_meta_tag
    %title Deltabadger
    %link{:href => asset_pack_path("media/images/favicon.png"), :rel => "shortcut icon", :type => "image/png"}
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Varela+Round&display=swap", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp", :rel => "stylesheet"}
    = stylesheet_pack_tag 'deltabadger'

  %body
    = render 'layouts/navbar'
    = render 'layouts/welcome_message'
    = render 'layouts/limit_reached'
    = render 'layouts/devise_messages'

    .container
      = yield

      = render 'layouts/footer'

    <!-- Modal -->
    #upgradeModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-body
            %h2.db-modal-title Upgrade
            %table.table.db-table--checkout
              %tbody.table-borderless
                %tr
                  %td(scope="col") Annual Unlimited upgrade
                  %td(scope="col")
                  %td(scope="col") $10
              %tfoot
                %tr
                  %td(scope="col")
                  %td(scope="col")
                    %b Sum:
                  %td(scope="col")
                    %b $10
            %form
              %h4 Billing information
              .form-group
                %label(for="nameInput") Name
                %input.form-control(type="text" id="nameInput" aria-describedby="emailHelp" placeholder="Satoshi")
              .form-group
                %label(for="surnameInput") Surname
                %input.form-control(type="text" id="surnameInput" placeholder="Nakamoto")
              .form-group
                %label{:for => "example-date-input"} Birth date
                %input#example-date-input.form-control{:type => "date", :value => "1999-01-01"}
              .form-group
                %label Country
                %br
                .form-check.form-check-inline
                  %input#exampleRadios1.form-check-input{:name => "exampleRadios", :type => "radio", :value => "option1"}
                  %label.form-check-label{:for => "exampleRadios1"}
                    EU
                .form-check.form-check-inline
                  %input#exampleRadios2.form-check-input{:checked => "checked", :name => "exampleRadios", :type => "radio", :value => "option2"}
                  %label.form-check-label{:for => "exampleRadios2"}
                    Other
              .form-group.db-form-group--main-btn
                %a.btn.btn-success.btn-lg(href="#")
                  %span.mr-2 Checkout
                  %i.material-icons-round arrow_forward
              .db-globee-badge
                %small Payment with
                %img{:src => asset_pack_path("media/images/globee.png")}

    #cookie_consent

    = render partial: 'layouts/drift' if !Rails.env.development?

    = javascript_pack_tag 'deltabadger2'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
