<html class="db--devise db--loggedout" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="<%= yield(:meta_robots_content) || '' %>" name="robots">

    <title><%= t('meta.title') %></title>

    <link rel="canonical" href="<%= request.original_url %>">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'guest2' %>

    <%= render 'layouts/content_meta_tags' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
    <script src="//code.tidio.co/msgruncpixbeh9ezdlpqxlbktys25m2w.js" async></script>
    <%= cloudflare_turnstile_script_tag %>

    <script>
      // service worker registration for PWA
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("<%= asset_pack_path('service-worker.js') %>").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(error) {
          console.log('ServiceWorker registration failed: ', error);
        });
      }
    </script>
  </head>

  <body data-controller="hotwire-animations">
    <div id="flash">
      <%= render 'layouts/flash' %>
    </div>

    <%= render 'layouts/navbar/devise' %>

    <div class="container container--signup">
      <div class="row" style="min-height: 55rem">
        <div class="d-none d-lg-block col-lg-6">
          <h3>
            <%= localized_dca_profit_recap('btc', 4) %>
          </h3>
        </div>
        <div class="col-12 col-lg-6">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>