!!!
%html.db--devise.db--loggedout{:lang => I18n.locale, :prefix => "og: http://ogp.me/ns#"}
  %head
    - unless @disable_third_party_scripts
      -# %script{:type => "text/javascript", :src => "https://load.fomo.com/api/v1/AUZ_QZ5JVkZVLKS7dmRCxw/load.js"}

    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "#{yield(:meta_robots_content) || ''}", :name => 'robots'}

    %title= t('meta.title')

    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    
    %link{:href => asset_pack_path("media/images/favicon.ico"), rel: "icon", sizes: "any"}
    %link{:href => asset_pack_path("media/images/icon.svg"), rel: "icon", type: "image/svg+xml"}
    
    = stylesheet_pack_tag 'guest2'

    = render 'layouts/content_meta_tags'

    = csrf_meta_tags
    = csp_meta_tag

  %body{ data: { locale: I18n.locale }}
    #cookie_consent

    = render 'layouts/navbar/devise'
    = yield

    = javascript_pack_tag 'guest2'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}

    - unless @disable_third_party_scripts
      / Global site tag (gtag.js) - Google Analytics
      %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-FY76G14DEX"}

    :javascript
      // google

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FY76G14DEX');

      // input labels

      window.addEventListener('load', function() {
        document.querySelectorAll('input').forEach(function(input) {
          input.classList.toggle('db-form__input--empty', input.value === '');
          input.addEventListener('input', function() {
            this.classList.toggle('db-form__input--empty', this.value === '');
          });
        });
      });

      // scaling

      // $("html").css("font-size", Math.min(Math.max($(this).width()/190, 10), 13.125) + "px");
      // window.addEventListener('resize', function(event){
      //   $("html").css("font-size", Math.min(Math.max($(this).width()/190, 10), 13.125) + "px");
      // });
