!!!
%html.db--devise.db--loggedout{:lang => I18n.locale, :prefix => "og: http://ogp.me/ns#"}
  %head

    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "#{yield(:meta_robots_content) || ''}", :name => 'robots'}

    %title= t('meta.title')

    %link{ rel: "canonical", href: request.original_url }

    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}

    %link{:href => asset_pack_path("media/images/icons/favicon-96x96.png"), rel: "icon", sizes: "96x96", type: "image/png"}
    %link{:href => asset_pack_path("media/images/icons/favicon.svg"), rel: "icon", type: "image/svg+xml"}
    %link{:href => asset_pack_path("media/images/icons/favicon.ico"), rel: "shortcut icon"}
    %link{:href => asset_pack_path("media/images/icons/apple-touch-icon.png"), rel: "apple-touch-icon", sizes: "180x180"}
    %meta{content: "Deltabadger", name: "apple-mobile-web-app-title"}
    
    = stylesheet_pack_tag 'guest2'
    = javascript_pack_tag 'guest2'

    = render 'layouts/content_meta_tags'

    = csrf_meta_tags
    = csp_meta_tag

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}

    :javascript
      // input labels
      window.addEventListener('load', function() {
        document.querySelectorAll('input').forEach(function(input) {
          input.classList.toggle('db-form__input--empty', input.value === '');
          input.addEventListener('input', function() {
            this.classList.toggle('db-form__input--empty', this.value === '');
          });
        });
      });

    = cloudflare_turnstile_script_tag

  %body{ data: { locale: I18n.locale, controller: "hotwire-animations" }}
    #flash.flash
      = render 'layouts/flash'

    = render 'layouts/navbar/devise'

    .container.container--signup
      .row{ style: "min-height: 74rem" }
        .d-none.d-lg-block.col-lg-6
          %h3
            =t('ads.dca_profit_html')

          -# copied from mailer.html.haml
          -# - if @dca_profit.success?
          -#   %h3
          -#     =t('ads.dca_profit_html', profit: (@dca_profit.data * 100).to_i)
        .col-12.col-lg-6
          = yield