<%
  devise_view_class = case controller_name
    when 'registrations'
      action_name == 'new' ? 'view--signup' : 'view--edit-profile'
    when 'sessions'
      'view--login'
    when 'passwords'
      'view--password'
    when 'confirmations'
      'view--confirmation'
    else
      'view--devise-other'
    end
%>
<html lang="<%= I18n.locale %>" class="<%= devise_view_class %> db--devise db--loggedout" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="<%= yield(:meta_robots_content) || '' %>" name="robots">
    <meta name="theme-color" content="#f5f6f8" id="theme-color-meta">

    <title><%= content_for?(:title) ? yield(:title) : t('meta.title') %></title>

    <link rel="canonical" href="<%= request.original_url %>">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= render 'layouts/content_meta_tags' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      // service worker registration for PWA
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/service-worker.js").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(error) {
          console.log('ServiceWorker registration failed: ', error);
        });
      }
    </script>
  </head>

  <body data-controller="hotwire-animations">

    <div class="devise">

      <div class="devise__row">
        <%= render 'svg/40x30_logo' %>
      </div>

      <div class="devise__row">
        <div class="devise__col">
          <div id="flash">
            <%= render 'layouts/flash' %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
