!!!
%html.db--guest.db--loggedout{:lang => I18n.locale, :class => "#{yield(:html_class)}", :prefix => "og: http://ogp.me/ns#"}
  %head
    <script type="text/javascript" src="https://load.fomo.com/api/v1/AUZ_QZ5JVkZVLKS7dmRCxw/load.js"></script>

    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}

    %title= t('meta.title')

    %link{:href => asset_pack_path("media/images/favicon.png"), :rel => "shortcut icon", :type => "image/png"}
    -# = stylesheet_pack_tag 'guest'

    = render 'layouts/content_meta_tags'

    = csrf_meta_tags
    = csp_meta_tag
    = yield(:head)

  %body{ data: { locale: I18n.locale }}
    =yield(:db_guest_brave)
    #cookie_consent
    .db--guest--bg-bottom
    = render 'layouts/navbar'


    = yield

    = render 'layouts/footer/guest'

    //= render partial: 'layouts/drift'

    = javascript_pack_tag 'guest2'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}

    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-60645901-3"}

    :javascript

      // google

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-60645901-3');

      // scaling font-variation-settings: 'wght' var(--text-wght)

      // $("html").css("font-size", Math.min(Math.max($(this).width()/190, 10), 13.125) + "px");
      // window.addEventListener('resize', function(event){
      //   $("html").css("font-size", Math.min(Math.max($(this).width()/190, 10), 13.125) + "px");
      // });

      let root = document.documentElement;

      window.addEventListener("scroll", function() {
        const distance = window.scrollY;
        // root.style.setProperty('--scroll', distance);
        // root.style.setProperty('--scroll-a', distance - 480 * Math.min(Math.max($("html").width()/170, 10), 13.125)); // 1700

        if (distance > 10) {
          root.classList.add("has-been-scrolled");
        }

      });

      fomo.trigger('start')

      // let start;
      //
      // function step(timestamp) {
      //   if (start === undefined)
      //     start = timestamp;
      //   const elapsed = timestamp - start;
      //
      //   root.style.setProperty('--pulsing', Math.cos(elapsed * 0.002).toFixed(3));
      //
      //   if (elapsed < 200000000) { // Stop the animation
      //     window.requestAnimationFrame(step);
      //   }
      // }
      //
      // window.requestAnimationFrame(step);
