!!!
%html.db--guest.db--loggedout{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}

    / Essential META Tags
    %meta{:content => "Deltabadger | Dollar-Cost Averaging into Bitcoin", :property => "og:title"}
    %meta{:content => "Automate small Bitcoin purchases daily. Five minute setup. Works with cryptoexchanges. The basic version is free.", :property => "og:description"}/
    %meta{:content => asset_pack_path("media/images/facebook-thumbnail-3.png"), :property => "og:image"}
    %meta{:content => "1200", :property => "og:image:width"}
    %meta{:content => "628"), :property => "og:image:height"}

    %meta{:content => "https://deltabadger.com/", :property => "og:url"}
    %meta{:content => "summary_large_image", :name => "twitter:card"}
    / Non-Essential, But Recommended
    %meta{:content => "Deltabadger", :property => "og:site_name"}
    %meta{:content => "Dollar-Cost Averaging into Bitcoin.", :name => "twitter:image:alt"}
    / Non-Essential, But Required for Analytics
    %meta{:content => "your_app_id", :property => "fb:app_id"}
    %meta{:content => "@deltabadgerapp", :name => "twitter:site"}



    %title Deltabadger
    = csrf_meta_tags
    = csp_meta_tag

    %link{:href => asset_pack_path("media/images/favicon.png"), :rel => "shortcut icon", :type => "image/png"}
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Varela+Round&display=swap", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp", :rel => "stylesheet"}

  %body.db-guest-template
    #cookie_consent

    = render 'layouts/navbar'
    = render 'layouts/devise_messages'

    = yield

    = render 'layouts/footer/guest'

    //= render partial: 'layouts/drift'

    = javascript_pack_tag 'guest2'
    = stylesheet_pack_tag 'guest'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}

    :javascript
      (function($) {
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 400) {
              $(".db-navbar").addClass("db-navbar--scroll");
            }
            else {
              $(".db-navbar").removeClass("db-navbar--scroll");
            }
            if (scroll >= 500) {
              $(".db-navbar").addClass("db-navbar--scroll--show");
            }
            else {
              $(".db-navbar").removeClass("db-navbar--scroll--show");
            }

        });
      })(jQuery);
