!!!
%html.db--guest.db--loggedout{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}

    %title Deltabadger | Bitcoin Dollar-Cost Averaging

    %link{:href => asset_pack_path("media/images/favicon.png"), :rel => "shortcut icon", :type => "image/png"}
    = stylesheet_pack_tag 'guest'

    / Essential META Tags
    %meta{:content => "Deltabadger | Bitcoin Dollar-Cost Averaging", :property => "og:title"}
    %meta{:content => "Deltabadger | Bitcoin Dollar-Cost Averaging", :name => "twitter:title"}
    %meta{:content => "Automate small Bitcoin purchases on a regular basis. Five-minute setup. The basic plan is free.", :name => "description"}
    %meta{:content => "Automate small Bitcoin purchases on a regular basis. Five-minute setup.", :property => "og:description"}
    %meta{:content => "Automate small Bitcoin purchases on a regular basis. Five-minute setup. The basic plan is free. DCA as simple as it gets.", :name => "twitter:description"}

    %meta{:content => "https://deltabadger.s3.amazonaws.com/facebook-thumbnail.jpg", :property => "og:image"}
    %meta{:content => "https://deltabadger.s3.amazonaws.com/twitter-thumbnail.jpg", :name => "twitter:image"}
    %meta{:content => "1200", :property => "og:image:width"}
    %meta{:content => "628", :property => "og:image:height"}

    %meta{:content => "https://#{request.host}/", :property => "og:url"}
    %meta{:content => "summary_large_image", :name => "twitter:card"}

    / Non-Essential, But Recommended

    %meta{:content => "Deltabadger", :property => "og:site_name"}
    %meta{:content => "Bitcoin Dollar-Cost Averaging", :name => "twitter:image:alt"}
    %meta{:content => "product", :property => "og:type"}

    / Non-Essential, But Required for Analytics

    %meta{:content => "541796789740957", :property => "fb:app_id"}
    %meta{:content => "@deltabadgerapp", :name => "twitter:site"}
    %meta{:content => "@deltabadgerapp", :name => "twitter:creator"}

    = csrf_meta_tags
    = csp_meta_tag

  %body.db-guest-template
    #cookie_consent

    = render 'layouts/navbar'

    = yield

    = render 'layouts/footer/guest'

    .db-group-cta
      .db-group-cta__avatar
        %img{:src => asset_pack_path("media/images/jan.png"), :alt => "Jan"}
      .db-group-cta__bubble
        %span.d-none.d-md-inline I'm Jan, founder of Deltabadger.
        Join us on <a href="https://t.me/deltabadgerchat" target="_blank" rel="noopener" title="Telegram Group">Telegram</a>
        %svg{:class => "db-group-cta__arrow-forward", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
          %path{:d => "M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z"}

    //= render partial: 'layouts/drift'

    = javascript_pack_tag 'guest2'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}

    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-60645901-3"}

    :javascript

      // google

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-60645901-3');

      // facebook

      window.fbAsyncInit = function() {
        FB.init({appId:"541796789740957", xfbml:!0, version:"v5.0"});
        FB.AppEvents.logPageView();
      };

      (function(a, b, c) {
        var d = a.getElementsByTagName(b)[0];
        a.getElementById(c) || (a = a.createElement(b), a.id = c, a.src = "https://connect.facebook.net/en_US/sdk.js", d.parentNode.insertBefore(a, d));
      })(document, "script", "facebook-jssdk");

      // sticky navbar

      (function(a) {
        a(window).scroll(function() {
          var b = a(window).scrollTop();
          300 <= b ? a(".db-navbar").addClass("db-navbar--scroll") : a(".db-navbar").removeClass("db-navbar--scroll");
          400 <= b ? a(".db-navbar").addClass("db-navbar--scroll--show") : a(".db-navbar").removeClass("db-navbar--scroll--show");
        });
      })(jQuery);
